﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

@Html.Hidden("Get", Url.Action("Get", "LiveData"))
<table class="table">
    <thead>
        <tr>
            <th>Instrument Name</th>
            <th>Instrument Price</th>
            <th>Entry Date</th>
        </tr>
    </thead>
    <tbody id="tblInfo">

    </tbody>
</table>
 


