﻿
@{
    Layout = null;
}
   <!DOCTYPE html>
     <html xmlns='http://www.w3.org/1999/xhtml'>
        <head>
            <meta name='viewport' content='width=device-width' />
            <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
            <title> Signal ATM </title>
            <style>
                * {
                    margin: 0;
                    padding: 0;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    box-sizing: border-box;
                    font-size: 13px;
                }
            </style>
        </head>
        <body>
            <table style='background-color:#f6f6f6; width:100%;'>
            <tr><td></td><td width='600'>
                <div style='max-width:600px; margin: 0 auto; display:block; padding:20px;'><div>
               <table width='100%' cellpadding='0' cellspacing='0' style='background:#fff; border:1px solid#e9e9e9; border-radius:3px;'>
                    <tr><td style='background:#1ab394;font-size:16px; color:#fff; font-weight:500;padding:20px;text-align:center; border-radius:3px 3px 0 0;'> Registration almost Complete</td></tr>
                    <tr><td>
                  <table width='100%' cellpadding='0' cellspacing='0'><tr><td style='padding:20px 0 0px 20px; vertical-align:top;  line-height:20px; font-size:13px;'> @ViewBag.response</ td ></ tr >
                    <tr><td style='padding:20px 0 0px 20px; vertical-align:top;  line-height:20px; font-size:13px;'>
                        @*<a href="Home/Login?emailId=@ViewBag.EmailId" , style='color:#fff;background-color:#1ab394;  border-color:#1ab394; border-radius:3px; font-size:inherit; padding:10px 12px; text-decoration:none;'> Login</a>*@ 
                            <a href="@Url.Action("Login", "Home")" , style='color:#fff;background-color:#1ab394;  border-color:#1ab394; border-radius:3px; font-size:inherit; padding:10px 12px; text-decoration:none;'> Login</a> 
                            @*<input type="button" style='color:#fff;background-color:#1ab394;  border-color:#1ab394; border-radius:3px; font-size:inherit; padding:10px 12px; text-decoration:none;' value="Login" onclick="window.location.href=@Url.Action("Login", "Home",new{emailId = ViewBag.EmailId }) " />*@
                        </td> </tr>
                    <tr><td style='padding:20px 0 20px 20px; vertical-align: top;  line-height:20px; font-size: 13px;'> Thanks for choosing Signal ATM. </td></tr>
                  </table></td></tr>
               </table></div></td><td></td></tr>
           </table>
        </body>
    </html>
   
