﻿@model SignalATM.Web.Models.BasicConfiguarationViewModel
@{
    ViewBag.Title = "Basic_Configuaration";
    Layout = "~/Views/Shared/masterpage_without_menu.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Basic Configuration</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12 pad0">
                                    <div class="col-md-12 pad0">
                                        <div class="col-md-10">
                                            <form id="regForm" action="">
                                                <!-- One "tab" for each step in the form: -->
                                                <div class="tab">
                                                    <div class="col-md-4 pad0">
                                                        <label>Country:</label>
                                                        <p>
                                                            <select id="conuntryId" ng-model="conuntryId" ng-change="getContry(conuntryId)" class="input-box form control select2"
                                                                    ng-options="o.CountryID as o.Country for o in getContries">
                                                                <option value=""> select </option>
                                                            </select>
                                                            @*<input class="input-box">*@
                                                        </p>
                                                        <label>Timezone:</label>
                                                        <p>
                                                            <select id="timeZoneId" ng-model="timeZoneId" ng-change="getTimeZone(timeZoneId)" class="input-box"
                                                                    ng-options="o.TimeZoneID as o.TimeZoneDetails for o in getTimeZone">
                                                                <option value=""> select </option>
                                                            </select>
                                                            @*<input class="input-box">*@
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tab">                                                 
                                                    <div class="tabs-container" >                                               
                                                    
                                                        <ul class="nav nav-tabs" role="tablist" id="mark"> 
                                                            @foreach (var m in Model.MarketList)
                                                            {
                                                                @*<li><a class="btn btn-sm btn-white active show" data-toggle="tab" href="" ng-click="GetInstruments(@m.MarketID)">@m.MarketName</a></li>*@
                                                              <li> <input id="markets1" ng-model="marketName" type="button" class="btn btn-sm btn-white active show" data-toggle="tab" value=@m.MarketName ng-click="GetInstruments(@m.MarketID)" /> </li>                                                                                                                                                                                   
                                                            }
                                                        </ul>   
                                                        @for (int i = 0; i < Model.InstrumentList.Count; i++)
                                                        {
                                                            @Html.HiddenFor(model => Model.InstrumentList[i], new { @id = "instList" })
                                                        }                                                      
                                                     <div class="tab-content">
                                                            <div role="tabpanel" id="markets" class="tab-pane active">
                                                                <div class="panel-body">
                                                                    <h4 id="marketName"> </h4>
                                                                    <div class="row top10">
                                                                        @*<input id="StudentId" name="StudentId" type="hidden"  value="@Model.InstrumentList" />*@
                                                                        <div class="col-md-2" id="myInst">
                                                                           
                                                                        </div>
                                                                     </div>                                                                    
                                                                  </div>
                                                            </div>
                                                       </div>                                                                                                                                                                    
                                                    </div>                                                                                                 
                                                </div>
                                                <div class="col-md-10 pad0">
                                                    <div>
                                                        <div class="float-left">
                                                            @*<button type="button" id="prevBtn" onClick="" class="btn btn-primary">Previous</button>*@
                                                            <button type="button" id="nextBtn" onClick="nextPrev(1)" class="btn btn-primary">Next</button> 
                                                            <button type="button" id="btnSubmit" ng-click="submitForm()" class="btn btn-primary">Submit</button>                                                     
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <!-- Circles which indicates the steps of the form: -->
                                                <div style="text-align:center;margin-top:30px;">
                                                    <span class="step"></span> <span class="step"></span>
                                                    <!-- <span class="step"></span>
                                                    <span class="step"></span>-->
                                                </div>
                                            </form>
                                            <script>
                                                var currentTab = 0; // Current tab is set to be the first tab (0)
                                                showTab(currentTab); // Display the current tab

                                                function showTab(n) {
                                                    // This function will display the specified tab of the form ...                                                   
                                                    var x = document.getElementsByClassName("tab");
                                                    x[n].style.display = "block";
                                                    // ... and fix the Previous/Next buttons:
                                                    if (n == 0) {
                                                        document.getElementById("btnSubmit").style.display = "none";
                                                        document.getElementById("prevBtn").style.display = "none";
                                                    } else {
                                                        document.getElementById("prevBtn").style.display = "inline";
                                                    }
                                                    if (n == (x.length - 1)) {
                                                        document.getElementById("nextBtn").innerHTML = "Submit";
                                                    } else {
                                                        document.getElementById("nextBtn").innerHTML = "Next";
                                                    }
                                                    // ... and run a function that displays the correct step indicator:
                                                    fixStepIndicator(n)
                                                }

                                                function nextPrev(n) {                                                   
                                                    // This function will figure out which tab to display                                                    
                                                    var x = document.getElementsByClassName("tab");
                                                    document.getElementById("nextBtn").style.display = "none";
                                                    // Exit the function if any field in the current tab is invalid:
                                                    if (n == 1 && !validateForm()) return false;                                                      
                                                    // Hide the current tab: 
                                                    document.getElementById("btnSubmit").style.display = "inline";
                                                 
                                                    x[currentTab].style.display = "none";
                                                    // Increase or decrease the current tab by 1:
                                                    currentTab = currentTab + n;
                                                    // if you have reached the end of the form... :
                                                    if (currentTab >= x.length) {
                                                        
                                                        //...the form gets submitted:
                                                        document.getElementById("regForm").submit();
                                                        return false;
                                                    }
                                                    // Otherwise, display the correct tab:
                                                    showTab(currentTab);
                                                }

                                                function validateForm() {
                                                    // This function deals with validation of the form fields
                                                    var x, y, i, valid = true;
                                                    x = document.getElementsByClassName("tab");
                                                    y = x[currentTab].getElementsByTagName("input");
                                                    // A loop that checks every input field in the current tab:
                                                    for (i = 0; i < y.length; i++) {
                                                        // If a field is empty...
                                                        if (y[i].value == "") {
                                                            // add an "invalid" class to the field:
                                                            y[i].className += " invalid";
                                                            // and set the current valid status to false:
                                                            valid = false;
                                                        }
                                                    }
                                                    // If the valid status is true, mark the step as finished and valid:
                                                    if (valid) {
                                                        document.getElementsByClassName("step")[currentTab].className += " finish";
                                                    }
                                                    return valid; // return the valid status
                                                }

                                                function fixStepIndicator(n) {
                                                    // This function removes the "active" class of all steps...
                                                    var i, x = document.getElementsByClassName("step");
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].className = x[i].className.replace(" active", "");
                                                    }
                                                    //... and adds the "active" class to the current step:
                                                    x[n].className += " active";
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="footer">
                <!-- <div class="float-right">
                          10GB of <strong>250GB</strong> Free.
                      </div>-->
                <div> <strong>Copyright</strong> Signal ATM 2019-2020 </div>
            </div>
        </div>
        </form>
    </section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var instrumentArr = [];
    var marketArr = [];
 var app = angular.module('app', []);
 app.controller('mycontrol', function ($scope, $http, $location)
 {
     @*getMarketData();
     var marketID = 0;
     function getMarketData() {
         $.ajax({
             url: '@Url.Action("GetMarketList", "Home")',
             type: "Post",
             Response: ContentType = 'application/json',
             data: {  },
             success: function (data) {                 
                 $scope.getMarket = data;
                 $scope.$apply();
             }
         });
     }*@
   
     var btnname = "";
     getInstrumentData(1)
     $scope.GetInstruments = function ($scope) {     
          getInstrumentData($scope);
     }
     function getInstrumentData($scope) {
        
         var marketId = $scope;      
         var mName = $(this).find("#markets1").val();
          var newhtml = "";
         $.ajax({
             url: '@Url.Action("GetInstrumentListByMarketId", "Home")',
             type: "Post",
             Response: ContentType = 'application/json',
             data: { marketId: marketId },
             success: function (data) {                         
                 $.each(data, function (index, item)
                 {                    
                     newhtml += '<div class="i-checks"><label><input type="checkbox" id="chkInst" name="chklistitem" value=' + item.InstrumentID + ' class="chkInst" onclick="SelectedInstrumwnt(' + item.InstrumentID + ',' + index + ',' + marketId + ')"><span>' + item.InstrumentsName + '</span></label></div>';
                    
                 });
                 $('#myInst').html(newhtml);                            
             }
         });
     }   

     getAllCountries();
     function getAllCountries() {
         $.ajax({
             url: '@Url.Action("GetAllCountry", "Home")',
             type: "Post",
             Response: ContentType = 'application/json',
             data: { },
             success: function (data) {
                 $scope.getContries = data;
                 $scope.$apply();
             }

         });
     }
     getTimeZone();
     function getTimeZone() {
         $.ajax({
             url: '@Url.Action("GetTimeZone", "Home")',
             type: "Post",
             Response: ContentType = 'application/json',
             data: { },
             success: function (data) {
                 $scope.getTimeZone = data;
                 $scope.$apply();
             },
             error: function (data, textStatus, xhr) {                             
             }
         });
     }

     $scope.submitForm = function ()
     {        
         var country = $scope.conuntryId;        
         var timeZone = $scope.timeZoneId;        
         var marketID = marketId;
       // var instarr = JSON.stringify(instrumentArr);
       //  var ins = instrumentArr.toString();
        
       //  var userRole = $('#userRole').val();
         $.ajax({
             url: '@Url.Action("Basic_Configuration", "Home")',
             type: "POST",
             Response: ContentType = 'application/json;charset=utf-8',
             data: { contrId: country, timeZoneId: timeZone, instArray: instarr },
             success: function (result) {              
                 window.location.href = '@Url.Action("tr_myportal_signals", "Home")';
                    // window.location.href = '@Url.Action("Login", "Home")';
             },
             Error: function (result) {             
                 window.location.href = '@Url.Action("Login", "Home")';
             }
         });
     }
    
     function GetSelected() {
         var chected = new Array();
         $("[type='checkbox']").each(function (index, data) {           
             if (data.checked)
             {
                 // chected.push(data.nextSibling.textContent);
                 chected.push($(this).attr("value"));
             }
         });       
         return chected;
     }
     
 });

    function SelectedInstrumwnt(id, index, mid)
    {
        var res = $("input[type=checkbox]").is(":checked")       
         if (res)       
        {         
             instrumentArr.push(id);
             marketArr.push(mid)          
        }
        else
        {
             instrumentArr.splice(index, 1);
             marketArr.splice(mid)          
        }
    }
</script>
