﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
</head>
<body style="background:#FFFFFF;">

    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <div class="col-md-9 col-centerd">
                <div class="row">

                    <div class="col-lg-7">
                        <center>
                            <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top50">
                        </center>

                        <h1 class="wds-type login-title wds-type--center wds-m-t-4">Reset Password</h1>
                    </div>

                    <div class="col-lg-5"></div>

                    <div class="col-lg-7">
                        <div class="sign-in-form-module">
                            <form role="form" action="~/login.html">
                                <div class="form-group">
                                    <input type="email" id="txt_email" class="login2" ng-model="emailID" onblur="validateEmail(this);" placeholder="ajk@gmail.com">
                                    <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txt_password" class="login2" placeholder="Password" ng-model="txt_password" onblur="validatePassword(this)">
                                    <label for="error" id="lblpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txt_conf_password" ng-model="txt_conf_password" class="login2" placeholder="Confirm Password" onblur="validateConfPass(this)">
                                    <label for="error" id="lblConpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>
                                @*<a href="login-email.html" class="btn btn-primary block full-width m-b buttoh-h">Submit</a>*@
                                @*<a class="btn btn-primary block full-width m-b buttoh-h"  onclick="registrationForm.$valid  &&
                                    ConformPws()">Submit</a>*@
                                <button type="button" class="btn btn-primary block full-width m-b buttoh-h" disabled onclick=" SubmitConformPws()"> Submit</button>
                            </form>
                        </div>
                        <p class="m-t"> <small>Signal ATM &copy; 2019-20</small> </p>
                    </div>
                    <div class="col-lg-5"><img src="~/Content/CSS/img/adv-forgot-pass.png" class="img-responsive"></div>


                </div>

            </div>
            <div class="col-lg-5 col-md-7  col-centerd">


                <div style="clear:both;"></div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <center>
                <br>Note: Validation, relevent massages - We will do in programming stage
            </center>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        var emailFlg = 0;
        var passFlg = 0;
        var conFlg = 0;
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        function SubmitConformPws() {
            var email = $("#txt_email").val();

            var pwd = $("#txt_password").val();

            var confpwd = $("#txt_conf_password").val();

            if (pwd != '' && confpwd != '' && pwd == confpwd) {
                $.ajax({
                    url: '@Url.Action("SaveForgotPassword", "Home")',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { userEmail: email, password: confpwd },
                    success: function (result, statusCode) {
                        if (statusCode == "True") {
                            window.location.href = '@Url.Action("SavePasswordMail", "Home")'
                            @*alert("Successfully Save Password");
                            window.location.href = '@Url.Action("Login", "Home")';*@

                        }
                        else {
                            $("#div_error").css("display", "block");
                        }
                    }
                });
            }

        }
        function validateEmail(txt_email) {
            var email = $("#txt_email").val();
            var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (reg.test(email) == false) {

                $("#lblemail").show();
                $(':input[type="button"]').prop('disabled', true);
                $("#lblemail").empty();
                $("#lblemail").append(email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
                $("#txt_email").focus();
                // alert("" + email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
                return false;
            }
            else {
                $("#lblemail").hide();
                emailFlg = 1;
                if (emailFlg == 1 && passFlg == 1 && conFlg == 1 ) {
                    $(':input[type="button"]').prop('disabled', false);
                }
                return true;
            }

        }
        function validateConfPass(confPass) {
            var pass = $("#txt_password").val();
            var Conpass = $("#txt_conf_password").val();
            if (pass == Conpass) {
                $("#lblConpass").hide();
                conFlg = 1;
                if (emailFlg == 1 && passFlg == 1 && conFlg == 1 ) {
                    $(':input[type="button"]').prop('disabled', false);
                }
            }
            else {

                //alert("Please re-renter confirm password !");
                $("#lblConpass").empty();
                $("#lblConpass").show();
                $(':input[type="button"]').prop('disabled', true);
                $("#lblConpass").append("Please re-renter confirm password !");
                // $("#txt_conf_password").focus();
            }
        }
        function validatePassword(password) {
            var pass = $("#txt_password").val();
            var regularExpression = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

            var pwdLength = pass.length;
            if (pwdLength < 8) {
                $("#lblpass").show();
                $("#lblpass").empty();
                $("#lblpass").append("Password lehgth should be 8 and should be alphanumeric with one special character !");
                $("#txt_password").focus();
            }
            else if (!regularExpression.test(pass)) {
                $("#lblpass").show();
                $(':input[type="button"]').prop('disabled', false);
                $("#lblpass").empty();
                $("#lblpass").append("Password lehgth should be 8 and should be alphanumeric with one special character !");
                $("#txt_password").focus();
            }
            else {
                passFlg = 1;
                if (emailFlg == 1 && passFlg == 1 && conFlg == 1 ) {
                    $(':input[type="button"]').prop('disabled', false);
                }
                $("#lblpass").empty();
                $("#lblpass").hide();
                $("#lblpass").hide();
                $("#lblpass").empty();
            }
        }
        window.onload = function () {
            const myInput = document.getElementById('txt_conf_password');
            myInput.onpaste = function (e) {
                e.preventDefault();
            }
        }

    </script>
</body>
</html>
