﻿
@{
    Layout = null;
    ViewBag.Title = "InvalidUser";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Message after Registration</title>
    <link href="~/Content/CSS/css/email-styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-good">
                                Invalid Email Address
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">

                                    <tr>
                                        <td class="content-block">
                                            Oops!, this is an invalid entry. The email address you entered is not registered with us.
                                            Please login using registered email address with signal ATM.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="Register" class="btn-primary">Register</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="Forgot_Password" class="btn-primary">Re-Enter Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            Thanks for choosing Signal ATM.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer"> </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>
</html>


