﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Contet/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Contet/CSS/js/popper.min.js"></script>
    <script src="~/Contet/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Contet/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</head>
<body style="background:#FFFFFF;">

    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">

            <div class="col-md-9 col-centerd">
                <div class="row">

                    <div class="col-lg-7">
                        <center>
                            <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top10">
                        </center>

                        <h1 class="wds-type login-title wds-type--center wds-m-t-4">Login</h1>
                        <p class="wds-type--page-subtitle wds-type--center">
                            New User?
                            <a class="log-in" href="Register">Register »</a>
                        </p>
                    </div>

                    <div class="col-lg-5"></div>

                    <div class="col-lg-7">
                        <div class="sign-in-form-module">
                         

                                <div class="form-group">
                                    <input type="phone" class="login2" placeholder="Phone number" required="">


                                    <a href="Enter_otp" class="btn btn-primary block full-width m-b buttoh-h top10">Send OTP</a>
                        
                            Or <br>
                            <a href="Login" class="btn  btn-outline" style="color:#1ab394; border-color: #1ab394;">Login with Email</a>
                        </div>







                        <div class="or-divider-login wds-m-t-3">
                            <div class="or-bubble-login">
                                <p class="wds-type--body-sm wds-p-t-2 ">or login with </p>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                        <ul class="socialIcons">
                            <li class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                            <li class="twitter"><a href="https://twitter.com/" target="_blank"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Linkedin</a></li>
                            <li class="google"><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><i class="fa fa-google fa-fw"></i>Google+</a></li>
                        </ul>
                        <div style="clear:both;"></div>

                    </div>

                    <p class="m-t"> <small>Signal ATM &copy; 2019-20</small> </p>



                </div>
                <div class="col-lg-5"><img src="~/Content/CSS/img/adv-login-otp.png" width="370" height="483" class="img-responsive"></div>

            </div>
            <div class="col-lg-5 col-md-7  col-centerd">


                <div style="clear:both;"></div>

            </div>

        </div>
    </div>
    </div>
    @*<div class="container">
        <div class="col-md-12">
            <center>
                Note: Validation, relevent massages - We will do in programming stage
            </center>
        </div>
    </div>*@
    
</body>
</html>
