﻿
@{
    ViewBag.Title = "Role_assigned";
    Layout = "~/Views/Shared/masterpage_without_menu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Morris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/dataTables/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <!-- Datepicker css -->
    <link href="~/Content/CSS/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/select2/select2.min.css" rel="stylesheet">
    <!-- orris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">

    <!-- Checkbox css -->
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">

    <!-- Side bar css -->
    <link rel="stylesheet" href="~/Content/CSS/css/sidebar/dist.css">

    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <script src="~/Content/CSS/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/CSS/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Morris -->
    <script src="~/Content/CSS/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Content/CSS/js/plugins/morris/morris.js"></script>
    <!-- Flot -->
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/curvedLines.js"></script>
    <!-- Peity -->
    <script src="~/Content/CSS/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/CSS/js/demo/peity-demo.js"></script>
    <!-- Rickshaw -->
    <!--  <script src="js/plugins/rickshaw/vendor/d3.v3.js"></script>
        <script src="js/plugins/rickshaw/rickshaw.min.js"></script>-->
    <!-- Custom and plugin javascript -->
    <script src="~/Content/CSS/js/inspinia.js"></script>
    <script src="~/Content/CSS/js/plugins/pace/pace.min.js"></script>
    <!-- Flot demo data -->
    <script src="~/Content/CSS/js/demo/flot-demo.js"></script>
    <!-- Rickshaw demo data -->
    <!-- <script src="js/demo/rickshaw-demo.js"></script>-->
    <!-- jQuery UI -->
    <script src="~/Content/CSS/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/Content/CSS/js/plugins/sparkline/jquery.sparkline.min.js"></script>


    <script>
        $(document).ready(function () {

            var sparklineCharts = function () {
                $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

                $("#sparkline2").sparkline([32, 11, 25, 37, 41, 32, 34, 42], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

                $("#sparkline3").sparkline([34, 22, 24, 41, 10, 18, 16, 8], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1C84C6',
                    fillColor: "transparent"
                });
            };

            var sparkResize;

            $(window).resize(function (e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();




            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 20], [11, 10], [12, 13], [13, 4], [14, 7], [15, 8], [16, 12]
            ];
            var data2 = [
                [0, 0], [1, 2], [2, 7], [3, 4], [4, 11], [5, 4], [6, 2], [7, 5], [8, 11], [9, 5], [10, 4], [11, 1], [12, 5], [13, 2], [14, 5], [15, 2], [16, 0]
            ];
            $("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,

                        borderWidth: 2,
                        color: 'transparent'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis: {
                    },
                    yaxis: {
                    },
                    tooltip: false
                }
            );

        });
    </script>

    <script>
        $(document).ready(function () {


            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084' },
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });


        });
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

            }, 1300);


            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [70, 27, 85],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

        });
    </script>

    <script>
        $("#follow, #unfollow").click(function () {
            $("#follow, #unfollow").toggleClass('hidden');
        });
    </script>
    <!-- Datat table -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
            $('#example2').DataTable();
            $('#example3').DataTable();
            $('#example4').DataTable();
        });

    </script>
    <!-- Data picker -->
    <script src="~/Content/CSS/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Image cropper -->
    <script src="~/Content/CSS/js/plugins/cropper/cropper.min.js"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="~/Content/CSS/js/plugins/fullcalendar/moment.min.js"></script>
    <!-- Date range picker -->
    <script src="~/Content/CSS/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Select2 -->
    <script src="~/Content/CSS/js/plugins/select2/select2.full.min.js"></script>
    <!-- Tags Input -->
    <script src="~/Content/CSS/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script>
        $(document).ready(function () {

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            var $image = $(".image-crop > img")
            var $cropped = $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function (data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function () {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function (link) {
                link.target.href = $cropped.cropper('getCroppedCanvas', { width: 620, height: 520 }).toDataURL("image/png").replace("image/png", "application/octet-stream");
                link.target.download = 'cropped.png';
            });


            $("#zoomIn").click(function () {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function () {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function () {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function () {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function () {
                $image.cropper("setDragMode", "crop");
            });

            var mem = $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            var yearsAgo = new Date();
            yearsAgo.setFullYear(yearsAgo.getFullYear() - 20);

            $('#selector').datepicker('setDate', yearsAgo);


            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "dd/mm/yyyy"
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            var elem_2 = document.querySelector('.js-switch_2');
            var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

            var elem_3 = document.querySelector('.js-switch_3');
            var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

            var elem_4 = document.querySelector('.js-switch_4');
            var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
            switchery_4.disable();

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.demo1').colorpicker();

            var divStyle = $('.back-change')[0].style;
            $('#demo_apidemo').colorpicker({
                color: divStyle.backgroundColor
            }).on('changeColor', function (ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2019',
                maxDate: '12/31/2025',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });


            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });

        $('.chosen-select').chosen({ width: "100%" });

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

        var basic_slider = document.getElementById('basic_slider');

        noUiSlider.create(basic_slider, {
            start: 40,
            behaviour: 'tap',
            connect: 'upper',
            range: {
                'min': 20,
                'max': 80
            }
        });

        var range_slider = document.getElementById('range_slider');

        noUiSlider.create(range_slider, {
            start: [40, 60],
            behaviour: 'drag',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });

        var drag_fixed = document.getElementById('drag-fixed');

        noUiSlider.create(drag_fixed, {
            start: [40, 60],
            behaviour: 'drag-fixed',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });


    </script>

    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <!-- Side bar js -->
   
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/CSS/js/sidebar/jquery/asidebar.jquery.js"></script>
</head>
<body>
    <section class="content" ng-app="app" ng-controller="mycontrol">
        <form name="RoleAssinedForm">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title yellowtitle">
                                <h5>Select Role</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="assign-roll">
                                            <div class="rolltrader"><h2>Trader</h2></div>
                                            <div class="whitebg">
                                                <center>
                                                    <img src="~/Content/CSS/img/trader.png" class="img-round">
                                                </center>
                                            </div>
                                            <p class="rolltrader">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                            <div class="whitebg">
                                                <div class="checkbox i-checks" style="text-align:left;">
                                                    <input id="trdChk" type="checkbox" ng-model="traderChk">
                                                    <a href="#" onClick="$('.aside').asidebar('open')">
                                                        <label>
                                                            <span>I Agree To Terms and conditions</span>
                                                        </label>                                                       
                                                    </a>
                                                </div>
                                                @*<a id="Trader" class="btn rolltrader  btn-block top10" href="Basic_Configuration?userRole=Trader" ng-click="RoleAssinedForm.$valid && submitTrader()">Submit</a>*@
                                               
                                                @Html.ActionLink("Submit", "Basic_Configuration", "Home", new { userRole = "Trader" }, new { @class = "btn rolltrader  btn-block top10" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="assign-roll">
                                            <div class="rollsignalProvider"><h2>Signal Provider</h2></div>
                                            <div class="whitebg">
                                                <center>
                                                    <img src="~/Content/CSS/img/signal-provider.png" class="img-round">
                                                </center>
                                            </div>
                                            <p class="rollsignalProvider">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                            <div class="whitebg">
                                                <div class="checkbox i-checks" style="text-align:left;">
                                                    <input id="spChk" type="checkbox" ng-model="spChk">
                                                    <a href="#" onClick="$('.aside').asidebar('open')">
                                                        <label>
                                                            <span>I Agree To Terms and conditions</span>
                                                        </label>                                                        
                                                    </a>
                                                </div>                                                                                           
                                                @Html.ActionLink("Submit", "Basic_Configuration", "Home",  new { userRole = "Signal Provider" },  new { @class = "btn rollsignalProvider  btn-block top10" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="assign-roll">
                                            <div class="rollreferrer"><h2>Referral</h2></div>
                                            <div class="whitebg">
                                                <center>
                                                    <img src="~/Content/CSS/img/referrel.png" class="img-round">
                                                </center>
                                            </div>
                                            <p class="rollreferrer">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                            <div class="whitebg">
                                                <div class="checkbox i-checks" style="text-align:left;">
                                                    <input id="refChk" type="checkbox" ng-model="refChk">
                                                    <a href="#" onClick="$('.aside').asidebar('open')">
                                                        <label>
                                                            <span>I Agree To Terms and conditions</span>
                                                        </label>
                                                       
                                                    </a>
                                                </div>
                                                @*<a id="Referral" class="btn rollreferrer  btn-block top10" href="Basic_Configuration?userRole=Referral" ng-click="RoleAssinedForm.$valid">Submit</a>*@
                                               
                                                @Html.ActionLink("Submit", "Basic_Configuration", "Home", new { userRole = "Referral" }, new { @class = "btn rollreferrer  btn-block top10" })
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="col-md-3 ">
                                        <div class="assign-roll">
                                            <div class="rollbroker"><h2>Broker</h2></div>
                                            <div class="whitebg">
                                                <center>
                                                    <img src="~/Content/CSS/img/referrel.png" class="img-round">
                                                </center>
                                            </div>
                                            <p class="rollbroker">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                            <div class="whitebg">
                                                <div class="checkbox i-checks" style="text-align:left;">
                                                    <input id="brokerChk" type="checkbox" ng-model="brokerChk">
                                                    <a href="#" onClick="$('.aside').asidebar('open')">
                                                        <label>
                                                            <span>I Agree To Terms and conditions</span>
                                                        </label>
                                                       
                                                    </a>
                                                </div>
                                                @*<a id="Referral" class="btn rollreferrer  btn-block top10" href="Basic_Configuration?userRole=Referral" ng-click="RoleAssinedForm.$valid">Submit</a>*@
                                               
                                                @Html.ActionLink("Submit", "Basic_Configuration", "Home", new { userRole = "Broker" }, new { @class = "btn rollreferrer  btn-block top10" })
                                            </div>
                                        </div>
                                    </div> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside">
                <div class="aside-header">
                    <div class="col-md-12">
                        Terms & Conditions
                        <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
                    </div>
                </div>
                <div class="aside-contents">
                    <div class="col-md-12">
                        <div class="terms-info">
                            <div style="height:500px;  width: 100%; padding:0 10px 0 0; overflow-y: scroll;">
                                <p>
                                    Signal ATM collates financial market related generic information at global level in form of trading
                                    signals and provides subscription based online services to through its Website and Mobile App.
                                    The content of this App/Website is intended to convey general trading related information only.
                                    This App/Website does not provide any kind of Investment advice. One should not treat any
                                    information as a call to make any particular decision regarding FX investments. We strongly
                                    suggest seeking advice from your own financial adviser before making any investment decision
                                    based on Trading Signal information provided here. Neither this App/Website nor its parent
                                    company accept any responsibility for any loss, damage, or inconvenience caused as a result of
                                    reliance on information published on, or linked to this App/Website.
                                </p>
                                <p>
                                    Signal ATM is NOT part of any Online Copy Trading Signal Platforms. Using the signals is the sole
                                    discretion of the subscriber.
                                </p>
                                <p>
                                    While all information provided through the Service is believed to come from sources based on
                                    specified filtered performance criteria, however Signal ATM does not guarantee the accuracy,
                                    correctness, or completeness of information available on this Service platform.
                                </p>
                                <p>
                                    Signal ATM reserves the right to make changes to the Site and/or the Services at any time at its
                                    sole discretion, without having to give prior notice to you or any of its Members. Due to the nature
                                    of computing, the Signal ATM’s App and communications could fail at any given time. As such the
                                    Signal ATM will not be responsible for unavailability of use of its Site, nor undelivered Signals due
                                    to Internet bandwidth problems, equipment failure or acts of God. The Signal ATM does not
                                    guarantee that the Site or the Service will be continuous or error-free. Signal ATM will not be liable
                                    for the acts or omissions of any third party with regards to delay or non-delivery of the Signals.
                                </p>
                                <p>
                                    Signal ATM MAKES NO REPRESENTATION WHATSOEVER THAT THE SIGNALS IT SENDS
                                    WILL INEVITABLY BE OR INEVITABLY ARE SUITABLE FOR YOU OR THAT THEY WOULD BE
                                    PROFITABLE FOR YOU. PLEASE REALIZE THE RISK INVOLVED WITH TRADING IN
                                    DIFFERENT MARKETS AND CONSULT AN INVESTMENT PROFESSIONAL BEFORE
                                    PROCEEDING. OUR SIGNALS ARE MADE AVAILABLE AS INFORMATION ONLY. SHOULD YOU
                                    DECIDE TO TRADE ON THE BASIS OF ANY OR ALL OF OUR SYSTEMS’ SIGNALS, IT IS YOUR
                                    DECISION.
                                </p>
                                <p>
                                    While I sign in as a user of this App/Website and Subscribe to any Plans, I fully understand &
                                    acknowledge that
                                </p>

                                <ul class="text-left" style=" margin-left:0;">
                                    <li>Signal ATM is NOT selling tailored Investment Advice to me</li>
                                    <li>There is NO brokerage that is being charged by Signal ATM</li>
                                    <li>Signal ATM is NOT providing me any kind of copy trading service</li>
                                    <li>Signals provided are NOT automatically copied to my Trading Account</li>
                                    <li>
                                        Signal ATM does NOT provide Money Management activity neither does it have any control
                                        over my Trading Account
                                    </li>
                                    <li>Trading Signals provided here is NOT placing any trades on behalf of me</li>
                                    <li>Signal ATM is ONLY a subscription-based Signal Service Provider</li>
                                    <li>I use the available information on Signal ATM website at my personal discretion</li>
                                </ul>
                                <p>
                                    <div class="i-checks" style="text-align:left;"><label> <input type="checkbox" value=""> <i></i>I Agree </label></div>
                                    <br><br>RoleAssinedForm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside-backdrop"></div>
        </form>
    </section>
</body>
</html>
<script>

    $(document).ready(function () {

        $(':checkbox').click(function (e) {
            if ($(this).is(':checked')) {
                $(':checked').prop('checked', false);
                $(this).prop('checked', true);

            }
            else {
                e.preventDefault();
            }
        });
        $('.rolltrader').click(function () {
            var trd = $('#trdChk').prop('checked');
            var emailID = '@ViewBag.Email';
            if (trd)
            {
                $.ajax({
                    url: '@Url.Action("SaveUserRole", "Home")',
                            type: "PSOT",
                            Response: ContentType = 'application/json;charset=utf-8',
                    data: { userRole: "Trader", userEmail: emailID},
                            success: function (result)
                            {
                                 window.location.href = '@Url.Action("PersonalDetails", "Common")' ;
                            }
                    });

            }
            else {
                alert("Please check trader role checkbox !");
            }

        });
        $('.rollsignalProvider').click(function () {
            var sp = $('#spChk').prop('checked');
             var emailID = '@ViewBag.Email';
            if (sp) {

                $.ajax({
                    url: '@Url.Action("SaveUserRole", "Home")',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { userRole: "Signal Provider", userEmail: emailID },
                    success: function (result) {

                       window.location.href = '@Url.Action("PersonalDetails", "Common")' ;
                    }
                });
            }
            else {
                alert("Please check signal providers role checkbox !");
            }

        });
        $('.rollreferrer').click(function () {
            var refer = $('#refChk').prop('checked');
            if (refer) {
                $.ajax({
                    url: '@Url.Action("SaveUserRole", "Home")',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { userRole: "Referral", userEmail: emailID},
                    success: function (result) {
                       window.location.href = '@Url.Action("PersonalDetails", "Common")' ;
                    }
                });
            }
            else {
                alert("Please check referrer role checkbox !");
            }

        });
         $('.rollbroker').click(function () {
            var broker = $('#brokerChk').prop('checked');
             if (broker) {
                $.ajax({
                    url: '@Url.Action("SaveUserRole", "Home")',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { userRole: "Referral", userEmail: emailID},
                    success: function (result) {
                       window.location.href = '@Url.Action("PersonalDetails", "Common")' ;
                    }
                });
            }
            else {
                alert("Please check referrer role checkbox !");
            }

        });
    });
</script>

