﻿
@{
    ViewBag.Title = "SavePasswordMail";
}


@{
    Layout = null;
    ViewBag.Title = "SendPasswordLink";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Message after Registration</title>
    <link href="~/Content/CSS/css/email-styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-good">
                                Forgot Password Link
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">

                                    <tr>
                                        <td style="padding: 0 0 20px; vertical-align: top; margin: 0; padding: 0; line-height:20px; font-size: 13px;">
                                            Dear User <br />
                                            Your password has been successfully changed. <br />
                                            Login with your new password to access your account at Signal ATM, your one stop solution for the best Trading Signals on the Internet. <br />
                                            Make sure to change it at your login
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="Login" class="btn-primary">Login</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="content-block">
                                            Thanks for choosing Signal ATM.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer"> </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>
</html>





