﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitOTP</title>
</head>
<body style="background:#FFFFFF;">
    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <section class="content" ng-app="app" ng-controller="mycontrol">
                <form name="registrationForm">
                    <div class="col-md-9 col-centerd">
                        <div class="row">
                            <div class="col-lg-7">
                                <center>
                                    <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top10">
                                </center>
                                <h1 class="wds-type wds-type--page-title wds-type--center wds-m-t-4">Register</h1>
                                <p class="wds-type--page-subtitle wds-type--center">
                                    Already Registered?
                                    <a class="log-in" href="Login" style="cursor: pointer;">Login »</a>
                                </p>
                            </div>
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                @*<div class="alert alert-danger  alert-dismissable" id="div_error" style="text-align:left; display:none">
                                        Incorrect email address<br>
                                        Oops!, this is an invalid entry. The email address you entered is not registered with us.
                                        Please login using registered email address with signal ATM
                                    </div>*@
                                <div class="form-group">
                                    @*<input type="email" id="txt_email" class="login" placeholder="Email"  onblur="validateEmail(this); required">*@
                                    <input type="email" id="txt_email" class="login" ng-model="emailID" onblur="validateEmail(this);" placeholder="Email">
                                    <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>

                                @*<div class="form-group">
                                        <input type="password" id="txt_password" class="login" placeholder="Password" ng-model="txt_password" onblur="validatePassword(this)" >
                                        <label for="error" id="lblpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="txt_conf_password" ng-model="txt_conf_password" class="login" placeholder="Confirm Password" onblur="validateConfPass(this)" >
                                        <label for="error" id="lblConpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" id="txt_random" style="text-align:center; font-weight: bold; background:#fff; border:1px solid #808080; margin-top:5px; border-radius:0; width:100px; padding:5px 0; color:#000;" disabled />
                                                <a id="captcha_reload" onclick="randomIntFromInterval()" href="#">reload</a>
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="text" class="login top5" id="captcha" name="captcha" placeholder="Enter captcha" onblur="validatecaptcha(this);" ng-model="txtcaptcha" disabled>
                                                <label for="error" id="lblcaptcha" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                            </div>
                                        </div>*@
                                <div class="row top10">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="checkbox i-checks" style="text-align:left;">
                                            <label>
                                                <input type="checkbox" id="chk_check" name="agree">
                                            </label>
                                            <span>I Agree to&nbsp;<a href="#" onClick="$('#termAndCond').asidebar('open')">'Terms and Conditions'&nbsp;&nbsp;</a>&<a href="#" onclick="$('#privacypolicyID').asidebar('open')">&nbsp;&nbsp;'Privacy Policy'</a></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">  </div>
                            @*<a class="btn btn-primary block full-width m-b buttoh-h" onclick="Registration()">Register</a>*@
                            <button type="button" style="cursor:pointer" class="btn btn-primary block full-width m-b buttoh-h" ng-click="registrationForm.$valid && Registration()"> Register</button>

                            <div class="or-divider wds-m-t-3">
                                <div class="or-bubble">
                                    <p class="wds-type--body-sm wds-p-t-2 ">or Register with</p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                            <ul class="socialIcons">
                                <li class="facebook"><a href="FaceBookLogin" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Linkedin</a></li>
                                <li class="google"><a href="Google" target="_blank"><i class="fa fa-google fa-fw"></i>Google+</a></li>
                            </ul>
                            <p class="m-t text-center"> <small>Signal ATM &copy; 2019-20</small> </p>
                        </div>
                        <div class="col-lg-5">
                            <img src="~/Content/CSS/img/adv-regist.png" class="img-responsive">
                        </div>
                    </div>
            </div>      
    </div>
</body>
</html>
