﻿
@{
    ViewBag.Title = "tr_documents";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}

<!DOCTYPE html>
<html>
<body>
   
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Documents</h5>
                                <div class="ibox-tools"> <a class="collapse-link" href="#"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="ibox">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/nophoto.png" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Photo</label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/nodocument.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                My Profile
                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>


                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/nodocument.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Identity proof

                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/nodocument.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Address proof


                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="row top5">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-normal">Bank Details</label>
                                                        <textarea name="" cols="10" rows="5" class="input-control" placeholder="Name of the Bank
Bank Location
Account Number
Name as per Account Details
Type of Account: CA/SA"></textarea>
                                                    </div>


                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/bank-statement.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Bank statements



                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>


                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>



                                        </div>





                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="form-group">
                                    <div class="col-md-12 pad0">
                                        <div class="pull-right">
                                            <button class="btn btn-sm btn-primary" type="submit">Skip</button>
                                            <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Documents</h5>
                                <div class="ibox-tools"> <a class="collapse-link" href="#"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="ibox">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/a4.jpg" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Photo</label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/bank-statement.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                My Profile
                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>


                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/bank-statement.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Identity proof

                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/bank-statement.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Address proof


                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>



                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="row top5">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-normal">Bank Details</label>
                                                        <p>
                                                            Bank of America<br>
                                                            London<br>12345678<br>
                                                            John Smith<br>
                                                            Current Account
                                                        </p>
                                                    </div>


                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">

                                                        <div class="col-md-4">
                                                            <img src="~/Content/CSS/img/bank-statement.png" width="201" height="128" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="Remove"> <span class="glyphicon glyphicon-remove"></span></button>
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div><div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">
                                                                Bank statements



                                                            </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileinput-new">Choose file</span>

                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                                                </span>

                                                                <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>


                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>



                                        </div>





                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="form-group">
                                    <div class="col-md-12 pad0">
                                        <div class="pull-right">
                                            <button class="btn btn-sm btn-primary" type="submit">Skip</button>
                                            <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    <div class="aside-backdrop"></div>
   
</body>
</html>

