﻿
@{
    ViewBag.Title = "tr_global_profile";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-content">
                                <div class="m-t-sm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3"> <img src="~/Content/CSS/img/a4.jpg" class="img-responsive"> <span> <i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;Trader</span> </div>
                                                <div class="col-md-9" style="padding-left:0;">
                                                    <table width="100%" class="table table-striped" style="padding-bottom:0; margin-bottom:0;">
                                                        <tr>
                                                            <td width="1%"><i class="fa fa-user-o" aria-hidden="true" title="Name & User Since"></i></td>
                                                            <td class="text-left" title="Name">Mr. Ashok Kulkrni</td>
                                                            <td colspan="3" class="text-left" title="User Since">12-Jan-2019</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-envelope-open-o" aria-hidden="true" title="Email Id"></i></td>
                                                            <td colspan="4" class="text-left" title="Email Id">ak@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-mobile" title="Phone Number" style="font-size:18px"></i></td>
                                                            <td colspan="4" class="text-left" title="Phone Number">+91-9825679831</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-building" title="State"></i></td>
                                                            <td width="63%" class="text-left" title="State">Maharashtra</td>
                                                            <td width="2%"><i class="fa fa-flag-o" title="Country"></i></td>
                                                            <td width="34%" colspan="2" class="text-left" title="Country">India</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-clock-o" aria-hidden="true" title="Timezone"></i></td>
                                                            <td colspan="4" class="text-left" title="Timezone">GMT+5:30</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-globe" title="Website"></i></td>
                                                            <td colspan="4" class="text-left" title="Website">wwww.ak.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="~/Content/CSS/img/followers1.png" width="13" height="13" title="Signal Provider Count"></td>
                                                            <td colspan="2" class="text-left" title="Signal Provider Count">150</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <div class="to-follow top5">
                                                        <button id="follow" class="btn btn-xs btn-default" data-toggle="button">Follow Activities</button>
                                                        <button id="unfollow" class=" hidden btn-xs btn btn-danger hidden">Unfollow Activities</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 top10">
                                                    <div style="height: 60px;
  width: 100%;
  overflow-y: scroll;">
                                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Cumulative  Summary</h5>
                            </div>
                            <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                <div class="col-md-4 pad0">
                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                        <option value="1">Market</option>
                                        <option value="2">FX</option>
                                        <option value="3">BSC</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 pad0">
                                        <div class="row">
                                            <h5>SignalATM Summery</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Signal Provider</small>
                                            <h4>52</h4>
                                        </div>
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Signal Provided</small>
                                            <h4>320</h4>
                                        </div>
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Pips Earned</small>
                                            <h4>419</h4>
                                        </div>
                                        <div class="col-4 pad0 top5">
                                            <small class="stats-label">Success Rate</small>
                                            <h4>72%</h4>
                                        </div>
                                        <div class="col-4 pad0 top5">
                                            <small class="stats-label">Gain/Loss Ratio</small>
                                            <h4>1.01</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="row">
                                        <h5>My Summery</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Provider Followed</small>
                                            <h4><a href="#" data-toggle="modal" data-target="#myModal5">13</a></h4>
                                        </div>
                                        <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="text-left">
                                                            Provider Followed
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-md-12 pad0">
                                                            <div class="table-responsive top10">
                                                                <table id="example1" class="table table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="12.5%">Provider</th>
                                                                            <th width="12.5%">Name</th>
                                                                            <th width="12.5%" style="background:#1c84c6; color:#fff;">SP Since</th>
                                                                            <th width="12.5%" style="background:#23c6c8; color:#fff;">Pinned</th>
                                                                            <th width="12.5%" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                            <th width="12.5%" style="background:#1c84c6; color:#fff;">Success</th>
                                                                            <th width="12.5%" style="background:#23c6c8; color:#fff;">Gain/Loss Ratio</th>
                                                                            <th width="12.5%">Follo/Unfollow</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a href="#"><img src="~/Content/CSS./img/a1.jpg" class="photosize"></a></td>
                                                                            <td>Forex Mentor</td>
                                                                            <td>12-Jan-19</td>
                                                                            <td>17</td>
                                                                            <td class="center">127 </td>
                                                                            <td class="center">73%</td>
                                                                            <td class="center">01.89</td>
                                                                            <td class="center">
                                                                                <div class="to-follow top5">
                                                                                    <button id="follow" class="btn btn-xs btn-default" data-toggle="button">Follow Activities</button>
                                                                                    <button id="unfollow" class=" hidden btn-xs btn btn-danger hidden">Unfollow Activities</button>
                                                                                </div>
                                                                            </td>


                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Pinned Signals</small>
                                            <h4>120</h4>
                                        </div>
                                        <div class="col-4 pad0">
                                            <small class="stats-label">Pips Earned</small>
                                            <h4>312</h4>
                                        </div>
                                        <div class="col-4 pad0 top5">
                                            <small class="stats-label">Success Rate</small>
                                            <h4>69%</h4>
                                        </div>
                                        <div class="col-4 pad0 top5">
                                            <small class="stats-label">Gain/Loss Ratio</small>
                                            <h4>0.9</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 pad0"> <div id="stocked"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox" style="margin-bottom: 0px; background:#FFFFFF;">
                            <div id="gauge"></div>
                            <div class="ibox-title">
                                <span class="label label-warning float-right">Data has changed</span>
                                <h5>User activity</h5>
                            </div>
                            <div class="ibox" style="margin-bottom: 0px; background:#FFFFFF;">
                                <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Active Signals
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    3
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Live Signals
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    8
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Closed Signals
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    2
                                                </center>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Success Signals
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    2
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Success Rate
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    40%
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Gain Ratio
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    0.82
                                                </center>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Pinned Signals
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    13
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Current Pips
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    76
                                                </center>
                                            </h2>
                                        </div>
                                        <div class="col-4">
                                            <small class="stats-label">
                                                <center>
                                                    Earned Pips
                                                </center>
                                            </small>
                                            <h2 class="w-user">
                                                <center>
                                                    43
                                                </center>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Provider Information (Trader and Admin new only)</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive top10">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="12.5%" style="background:#1c84c6; color:#fff;">Role</th>
                                                <th width="12.5%" style="background:#f8ac59; color:#fff;">Current Plan</th>
                                                <th width="12.5%" style="background:#23c6c8; color:#fff;">Plan Expiry</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Trader</td>
                                                <td>Premium - 180</td>
                                                <td>12-Jan-20</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Market Wise Performance Insights</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="p-w-md m-t-sm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="boxes-market">
                                                <div class="col-box2" style="padding-left:0;">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Market</option>
                                                        <option value="2">FX</option>
                                                        <option value="3">BSC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-market">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                        <option value="1">Instrument</option>
                                                        <option value="2">EUR/USD</option>
                                                        <option value="3">INR/USD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-market">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Period">
                                                        <option value="1">Period</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 26,900 </h1>
                                            <small> Sales in current month </small>
                                            <div id="sparkline1" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Pages / Visit</small>
                                                    <h4>236 321.80</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">% New Visits</small>
                                                    <h4>46.11%</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Last week</small>
                                                    <h4>432.021</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 98,100 </h1>
                                            <small> Sales in last 24h </small>
                                            <div id="sparkline2" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Pages / Visit</small>
                                                    <h4>166 781.80</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">% New Visits</small>
                                                    <h4>22.45%</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Last week</small>
                                                    <h4>862.044</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row m-t-xs">
                                                <div class="col-6">
                                                    <h5 class="m-b-xs">Income last month</h5>
                                                    <h1 class="no-margins">160,000</h1>
                                                    <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                                </div>
                                                <div class="col-6">
                                                    <h5 class="m-b-xs">Sals current year</h5>
                                                    <h1 class="no-margins">42,120</h1>
                                                    <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="small float-left col-md-3 m-l-lg m-t-md"> <strong>Sales char</strong> have evolved over the years sometimes. </div>
                                            <div class="small float-right col-md-3 m-t-md text-right"> <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered. </div>
                                            <div class="flot-chart m-b-xl">
                                                <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>>
   
</body>
</html>


