﻿
@{
    ViewBag.Title = "tr_profile";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}

<!DOCTYPE html>
<body>
   
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="clear:both;"></div>
                                                <button class="btn btn-sm btn-primary pull-right bot5 top5" type="submit">Edit</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="ibox">
                                                    <div class="ibox-title">
                                                        <h5>General Information</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group">
                                                            <input type="name" class="input-control" placeholder="Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="name" class="input-control" placeholder="nirajkulkarni@gmail.com" disabled>
                                                        </div>
                                                        <div class="form-group"> </div>
                                                        <div class="form-group">
                                                            <input type="phone" class="input-control" placeholder="Phone">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="i-checks radiobuttons-rt">
                                                                <label>
                                                                    <input type="radio" value="option1" name="a">
                                                                    <i></i> Male
                                                                </label>
                                                            </div>
                                                            <div class="i-checks radiobuttons-rt">
                                                                <label>
                                                                    <input type="radio" value="option1" name="a">
                                                                    <i></i>Female
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                        <div class="form-group top5">
                                                            <input type="name" class="input-control top10" placeholder="Trader" disabled>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="ibox ">
                                                    <div class="ibox-title">
                                                        <h5>Contact</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group">
                                                            <textarea name="" cols="" rows="" class="input-control" placeholder="Address"></textarea>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="name" class="input-control" placeholder="Location">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <div class="form-group">
                                                                        <input type="name" class="input-control" placeholder="Time zone">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <select class="input-control m-b" placeholder="State">
                                                                            <option>State</option>
                                                                            <option>Maharashtra</option>
                                                                            <option>M.P</option>
                                                                            <option>U.P</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select class="input-control m-b" placeholder="City">
                                                                        <option>Country</option>
                                                                        <option>America</option>
                                                                        <option>India</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-sm btn-primary pull-right" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-centerd top30">
                                <div style="height:60px;"> <a href="tr_global_profile" class="btn btn-block btn-outline btn-primary top5"><i class="fa fa-user-circle" aria-hidden="true" style="font-size:16px;"></i>&nbsp;View Global Profile, Click here</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
    <div class="aside-backdrop"></div>
   
</body>

