﻿
@{
    ViewBag.Title = "tr_signal_preferences";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<!DOCTYPE html>
<html>

<body>


    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="col-md-4">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>Top 5 Markets (Note: I will work on it)</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="stocked"></div>
                                <div id="ct-chart3" class="ct-perfect-fourth"></div>

                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>Top 10 Instruments (Note: I will work on it)</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="stocked2"></div>
                                <div id="ct-chart3" class="ct-perfect-fourth"></div>

                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>Top 10 Signal Provider (Note: I will work on it)</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="stocked3"></div>
                                <div id="ct-chart3" class="ct-perfect-fourth"></div>

                            </div>

                        </div>



                    </div>
                </div>
            </div>




        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox collapsed">
                    <div class="ibox-title">
                        <h5>Add</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        <div class="row"> </div>
                        <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div>
                                <div class="tabs-container">
                                    <div class="tab-content">
                                        <div role="tabpanel" id="tab-4" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row"> </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-2" style="background:#e6e6e6; padding:5px 5px 0px 5px;">

                                                                    <div class="form-group m-0">
                                                                        <div class="form-inline">
                                                                            <div class="spreferences-box">
                                                                                <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                    <option value="2">Select Market</option>
                                                                                    <option value="2">FX</option>
                                                                                </select><button type="button" class="btn btn-primary btn-xs">Add</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" id="tab-5" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row"> </div>
                                                        <div class="col-md-12">
                                                            <div class="row">

                                                                <div class="col-md-4" style="background:#e6e6e6; padding:5px 5px 0px 5px;">

                                                                    <div class="form-group m-0">
                                                                        <div class="form-inline">
                                                                            <div class="spreferences-box">
                                                                                <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                    <option value="2">Select Market</option>
                                                                                    <option value="2">FX</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="spreferences-box">
                                                                                <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                    <option value="2">Select Instrument</option>
                                                                                    <option value="2">EUR/USD</option>
                                                                                </select><button type="button" class="btn btn-primary btn-xs">Add</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" id="tab-6" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row"> </div>
                                                        <div class="col-md-12">
                                                            <div class="row">

                                                                <div class="col-md-3" style="background:#e6e6e6; padding:5px 5px 0px 5px;">

                                                                    <div class="form-group m-0">
                                                                        <div class="form-inline">
                                                                            <div class="spreferences-box">
                                                                                <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                    <option value="2">Select Signal Provider</option>
                                                                                    <option value="2">FACT</option>
                                                                                </select><button type="button" class="btn btn-primary btn-xs">Add</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Market or Instruments or Signal Provider</h5> (Table and heading - change as per click - We will do in programming stage)
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        <div class="row"> </div>
                        <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#tab-4">Market</a></li>
                            <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#tab-5">Instruments</a></li>
                            <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#tab-6">Signal Provider</a></li>
                        </ul>
                        <div class="col-md-12 pad0">
                            <div class="alert alert-danger alert-dismissable top10">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Alert message for confirmation.
                            </div>
                            <h3>Market (Table is display as per click on market button)</h3>
                            <div class="table-responsive top10">
                                <table id="example2" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="50">Sr.No.</th>
                                            <th width="1162">Market</th>
                                            <th width="72">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Forex</td>
                                            <td class="center"><button type="button" class="btn btn-primary btn-xs">Delete</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>


                        </div>
                        <hr>
                        <h3>Instruments/Scripts (Table is display as per click on instrument button)</h3>
                        <div class="col-md-12 pad0">

                            <div class="table-responsive top10">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="50">Sr.No.</th>
                                            <th width="1162">Market</th>
                                            <th width="1162">Instruments</th>
                                            <th width="72">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Forex</td>
                                            <td>USD/JPY</td>
                                            <td class="center"><button type="button" class="btn btn-primary btn-xs">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Forex</td>
                                            <td>EUR/USD</td>
                                            <td class="center"><button type="button" class="btn btn-primary btn-xs">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Forex</td>
                                            <td>EUR/GBP</td>
                                            <td class="center"><button type="button" class="btn btn-primary btn-xs">Delete</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>


                        </div>
                        <hr>
                        <h3>Signal provider (Table is display as per click on signal provider button)</h3>
                        <div class="col-md-12 pad0">

                            <div class="table-responsive top10">
                                <table id="example3" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="57">Sr.No.</th>
                                            <th width="1098">Signal Provider</th>
                                            <th width="129">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>FACT</td>
                                            <td>
                                                <div class="to-follow top5">
                                                    <button id="follow" class="btn btn-xs btn-default" data-toggle="button">Follow Activities</button>
                                                    <button id="unfollow" class=" hidden btn-xs btn btn-danger hidden">Unfollow Activities</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="aside-backdrop"></div>
   
</body>
</html>

