﻿
@{
    ViewBag.Title = "MyProspects";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="MyProspects">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title yellowtitle top10">
                                <h5>My Referrals</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="timeline">
                                            <ol>
                                                <li>
                                                    <div>
                                                        <h4>Step 1</h4>
                                                        <p class="top10">Conference on the sales results for the previous year. </p>
                                                        <a href="../referral/sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h4>Step 2</h4>
                                                        <p class="top10">Conference on the sales results for the previous year. </p>
                                                        <a href="../referral/sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h4>Step 3</h4>
                                                        <p class="top10">Conference on the sales results for the previous year. </p>
                                                        <a href="../referral/sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h4>Step 4</h4>
                                                        <p class="top10">Conference on the sales results for the previous year. </p>
                                                        <a href="../referral/sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h4>Step 5</h4>
                                                        <p class="top10">Conference on the sales results for the previous year. </p>
                                                        <a href="../referral/sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                    </div>
                                                </li>
                                                <li></li>
                                            </ol>
                                            <div class="arrows">
                                                <button class="btn btn-primary btn-circle arrow arrow__prev" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> </button>
                                                <button class="btn btn-primary btn-circle arrow arrow__next" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
                                            </div>
                                        </section>
                                        <script>
(function() {

  // VARIABLES
  const timeline = document.querySelector(".timeline ol"),
    elH = document.querySelectorAll(".timeline li > div"),
    arrows = document.querySelectorAll(".timeline .arrows .arrow"),
    arrowPrev = document.querySelector(".timeline .arrows .arrow__prev"),
    arrowNext = document.querySelector(".timeline .arrows .arrow__next"),
    firstItem = document.querySelector(".timeline li:first-child"),
    lastItem = document.querySelector(".timeline li:last-child"),
    xScrolling = 280,
    disabledClass = "disabled";

  // START
  window.addEventListener("load", init);

  function init() {
    setEqualHeights(elH);
    animateTl(xScrolling, arrows, timeline);
    setSwipeFn(timeline, arrowPrev, arrowNext);
    setKeyboardFn(arrowPrev, arrowNext);
  }

  // SET EQUAL HEIGHTS
  function setEqualHeights(el) {
    let counter = 0;
    for (let i = 0; i < el.length; i++) {
      const singleHeight = el[i].offsetHeight;

      if (counter < singleHeight) {
        counter = singleHeight;
      }
    }

    for (let i = 0; i < el.length; i++) {
      el[i].style.height = `${counter}px`;
    }
  }

  // CHECK IF AN ELEMENT IS IN VIEWPORT
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(el) {
    const rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  // SET STATE OF PREV/NEXT ARROWS
  function setBtnState(el, flag = true) {
    if (flag) {
      el.classList.add(disabledClass);
    } else {
      if (el.classList.contains(disabledClass)) {
        el.classList.remove(disabledClass);
      }
      el.disabled = false;
    }
  }

  // ANIMATE TIMELINE
  function animateTl(scrolling, el, tl) {
    let counter = 0;
    for (let i = 0; i < el.length; i++) {
      el[i].addEventListener("click", function() {
        if (!arrowPrev.disabled) {
          arrowPrev.disabled = true;
        }
        if (!arrowNext.disabled) {
          arrowNext.disabled = true;
        }
        const sign = (this.classList.contains("arrow__prev")) ? "" : "-";
        if (counter === 0) {
          tl.style.transform = `translateX(-${scrolling}px)`;
        } else {
          const tlStyle = getComputedStyle(tl);
          // add more browser prefixes if needed here
          const tlTransform = tlStyle.getPropertyValue("-webkit-transform") || tlStyle.getPropertyValue("transform");
          const values = parseInt(tlTransform.split(",")[4]) + parseInt(`${sign}${scrolling}`);
          tl.style.transform = `translateX(${values}px)`;
        }

        setTimeout(() => {
          isElementInViewport(firstItem) ? setBtnState(arrowPrev) : setBtnState(arrowPrev, false);
          isElementInViewport(lastItem) ? setBtnState(arrowNext) : setBtnState(arrowNext, false);
        }, 1100);

        counter++;
      });
    }
  }

  // ADD SWIPE SUPPORT FOR TOUCH DEVICES
  function setSwipeFn(tl, prev, next) {
    const hammer = new Hammer(tl);
    hammer.on("swipeleft", () => next.click());
    hammer.on("swiperight", () => prev.click());
  }

  // ADD BASIC KEYBOARD FUNCTIONALITY
  function setKeyboardFn(prev, next) {
    document.addEventListener("keydown", (e) => {
      if ((e.which === 37) || (e.which === 39)) {
        const timelineOfTop = timeline.offsetTop;
        const y = window.pageYOffset;
        if (timelineOfTop !== y) {
          window.scrollTo(0, timelineOfTop);
        }
        if (e.which === 37) {
          prev.click();
        } else if (e.which === 39) {
          next.click();
        }
      }
    });
  }

})();
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title top10 bluetitle">
                                <h5>Add Prospects</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <lable style="margin-left:0;"><b>Enter Email Id</b> </lable>
                                            <input name="" type="text" class="input-control" id="txtonemail">
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div class="linediv"> <span style="font-size: 15px; background-color: #fff; padding: 15px 5px 0 5px; color:#1ab394;"> Or </span> </div>
                                        <div style="clear:both;"></div>
                                        <div class="col-md-12 pad0 top10">
                                            <lable style="margin-left:0;"><b>Upload File</b> </lable>
                                            <div style="clear:both;"></div>
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <span class="btn bt-choosefile btn-file">
                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                            </div>
                                        </div>
                                        <div class="linediv"> <span style="font-size: 15px; background-color: #fff; padding: 15px 5px 0 5px; color:#1ab394;"> Or </span> </div>
                                        <div class="top10">
                                            <lable style="margin-left:0;"><b>Paste list in below box </b> </lable>
                                            <textarea name="" cols="8" rows="5" class="input-in below input-control" id="txtEmails"></textarea>
                                        </div>

                                        <input type="button"><a href="#" @*data-toggle="modal" data-target="#addedrejected"*@ class="btn btn-primary  top10" ng-click="SubmitEmails()">Submit</a> </input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ibox">


                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle top10">
                                <h5>View Prospects Email List</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table border="0" class="table table-striped table-bordered" id="example1">
                                            <thead>
                                                <tr>
                                                    <th width="5%">Sr.No.</th>
                                                    <th width="95%">Email Id's</th>
                                                </tr>
                                            </thead>
                                            <tbody id="GetDetailsDataValid"></tbody>
                                            @*<tbody id="ValidEmails"></tbody>*@
                                        </table>
                                    </div>
                                    <div class="col-md-12 pad0"><button type="button" class="btn btn-primary top10" ng-click="SaveValidEmails()">Add to Database</button> </div>
                                    <div style="clear:both;"></div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!--List Of VAlid and Invalid Emails Show-->
        <div class="modal inmodal fade" id="addedrejected" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="text-left">List</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ibox-title yellowtitle">
                                        <h5>Accepted</h5>
                                    </div>
                                    <div class="top10">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="col-md-12">
                                            <table border="0" width="50%" class="table table-striped table-bordered" id="example2">
                                                <thead>
                                                    <tr>
                                                        <th width="2%">Sr.No.</th>
                                                        <th width="98%">Email Id's</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ValidEmails">
                                                    @*<tr>
                                                            <td>1</td>
                                                            <td>abc@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>bs@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>xyz.yahoo.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Pqr@hotmail.com</td>
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div style="clear:both;"></div>
                                <div class="col-md-12">
                                    <div class="ibox-title greentitle">
                                        <h5 class="top20">Rejected</h5>
                                    </div>
                                    <div class="top10">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="col-md-12">
                                            <table border="0" width="50%" class="table table-striped table-bordered" id="example3">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">Sr.No.</th>
                                                        <th width="95%">Email Id's</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="InValidEmails">
                                                    @*<tr>
                                                            <td>1</td>
                                                            <td>zar@hotmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>npm@hotmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>abc@gmail.com</td>
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"> <button @*href="@Url.Action("ReferralList", "Referrer")"*@ data-dismiss="modal" class="btn btn-primary  btn-block top20">Take Me To My Referrer List</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"> </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var validEmails="";
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        @*GetData();
        function  GetData()
        { $.ajax({
            url: '@Url.Action("GetMyProspectsEmails", "Referrer")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {
                    htmlStr += '<tr id="riskRow">';
                    htmlStr += '<td id="row">' + parseInt(i+1)+ '</td>';
                    htmlStr += '<td>' + str[i].TraderEmail + '</td>';
                    htmlStr += '</tr>';
                }
                $("#GetDetailsData").html(htmlStr)
            }
        });

        }*@
        $scope.SubmitEmails = function()
        {
            var Emails=$("#txtEmails").val();
            var onemail= $("#txtonemail").val();
            var Result=Emails.concat(','+onemail);
            $.ajax({
                url: '@Url.Action("AddMyProspectsEmailList", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { EmailList:Result },
                success: function (data) {
                    var str = JSON.parse(data.Valid);
                    validEmails=str;
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + parseInt(i+1)+ '</td>';
                        htmlStr += '<td id="">' + str[i].Valid + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#ValidEmails").html(htmlStr)
                    $("#GetDetailsDataValid").html(htmlStr);
                    var str = JSON.parse(data.Invalid);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + parseInt(i+1)+ '</td>';
                        htmlStr += '<td>' + str[i].InValid + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#InValidEmails").html(htmlStr)

                    $('#addedrejected').modal();
                    //$("#addedrejected").show();
                    //location.reload();
                }
            });

        }
        $scope.SaveValidEmails=function()
        {    var dataresult="";
            for (var i = 0; i < validEmails.length; i++)
            {
                dataresult+= validEmails[i].Valid +',';
            }
            alert(dataresult);
            $.ajax({
                url: '@Url.Action("SaveEmailList", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { EmailList:dataresult },
                success: function (data) {
                    location.reload();
                }
            });

        }




    });
</script>
