﻿
@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="Performance">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Performance</h5>
                        </div>
                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle">
                                <h5>Signal ATM Performance</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Users Added</h5>
                                                                        <h3 class="mb-0" id="txtUserAdded"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Users Registred</h5>
                                                                        <h3 class="mb-0" id="txtUserRegisterd"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M1 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM1Conversion"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center lazur-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M2 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM2Conversion"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M3 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM1Conversion"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Conversion Ratio</h5>
                                                                        <h3 class="mb-0" id="txtRatio"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Total Earnings</h5>
                                                                        <h3 class="mb-0" id="txtTotalEarnings"></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title bluetitle">
                                <h5>My Performance</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Users Added </h5>
                                                                        <h3 class="mb-0" id="txtUsers"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Users Registred </h5>
                                                                        <h3 class="mb-0" id="txtRegisterd"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M1 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM1"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center lazur-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M2 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM2"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">M3 Conversion </h5>
                                                                        <h3 class="mb-0" id="txtM3"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Conversion Ratio </h5>
                                                                        <h3 class="mb-0" id="txtRation"></h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Total Earnings </h5>
                                                                        <h3 class="mb-0" id="txtEarning"></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox collapsed">
                        <a class="collapse-link" href="">
                            <div class="ibox-title yellowtitle">
                                <h5>Search</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content" style="display: none;">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-8" style="background:#e6e6e6; padding:5px 5px 0px 5px;">
                                                                <div class="form-group m-0">
                                                                    <div class="form-inline">
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                <option value="0">Select Period</option>
                                                                                <option value="0">Period 1</option>
                                                                                <option value="0">Period 2</option>
                                                                                <option value="0">Period 3</option>
                                                                                <option value="0">Period 4</option>
                                                                                <option value="0">Period 5</option>
                                                                                <option value="0">Period 6</option>
                                                                                <option value="0">Period 7</option>
                                                                                <option value="0">Period 8</option>
                                                                                <option value="0">Period 9</option>
                                                                                <option value="0">Period 10</option>
                                                                                <option value="0">Period 11</option>
                                                                                <option value="0">Period 12</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important;">
                                                                                <option value="0">Select Period</option>
                                                                                <option value="0">Period 1</option>
                                                                                <option value="0">Period 2</option>
                                                                                <option value="0">Period 3</option>
                                                                                <option value="0">Period 4</option>
                                                                                <option value="0">Period 5</option>
                                                                                <option value="0">Period 6</option>
                                                                                <option value="0">Period 7</option>
                                                                                <option value="0">Period 8</option>
                                                                                <option value="0">Period 9</option>
                                                                                <option value="0">Period 10</option>
                                                                                <option value="0">Period 11</option>
                                                                                <option value="0">Period 12</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <input name="" type="text" class="form-control" placeholder="Earnings" style="margin-right:3px; height:1.6rem !important;">
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <input name="" type="text" class="form-control" placeholder="Cashout" style="margin-right:3px; height:1.6rem !important;">
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <input name="" type="text" class="form-control" placeholder="Registered" style="margin-right:3px; height:1.6rem !important;">
                                                                            <button type="button" class="btn btn-primary btn-xs">Search</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle">
                                <h5></h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                <div class="row"> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="wrapper wrapper-content animated fadeIn">
                                <div class="p-w-md m-t-sm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 45 </h1>
                                            <small>Referrer Registered</small>
                                            <div id="sparkline1" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Referrer Added</small>
                                                    <h4>45</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Referrer Registered </small>
                                                    <h4>35</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Success Rate</small>
                                                    <h4>90%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 20 </h1>
                                            <small>Earnings</small>
                                            <div id="sparkline2" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Earnings</small>
                                                    <h4>20</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Cashout</small>
                                                    <h4>10</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row m-t-xs">
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Current Period</h5>
                                                    <h1 class="no-margins">
                                                        <select name="select" class="select2_demo_1 form-control" style="margin-right:3px; height:1.6rem !important; width:75px;" placeholder="Market">
                                                            <option value="0">Period 1</option>
                                                            <option value="0">Period 2</option>
                                                            <option value="0">Period 3</option>
                                                            <option value="0">Period 4</option>
                                                            <option value="0">Period 5</option>
                                                            <option value="0">Period 6</option>
                                                            <option value="0">Period 7</option>
                                                            <option value="0">Period 8</option>
                                                            <option value="0">Period 9</option>
                                                            <option value="0">Period 10</option>
                                                            <option value="0">Period 11</option>
                                                            <option value="0">Period 12</option>
                                                        </select>
                                                    </h1>
                                                    <h6 class="top5">
                                                        <b>01-Dec-19 to 15-Dec-19</b>
                                                        </h5>
                                                        <!--  <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>-->
                                                </div>
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Last Period</h5>
                                                    <h1 class="no-margins">
                                                        <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px; height:1.6rem !important; width:75px;">
                                                            <option value="0">Period 1</option>
                                                            <option value="0">Period 2</option>
                                                            <option value="0">Period 3</option>
                                                            <option value="0">Period 4</option>
                                                            <option value="0">Period 5</option>
                                                            <option value="0">Period 6</option>
                                                            <option value="0">Period 7</option>
                                                            <option value="0">Period 8</option>
                                                            <option value="0">Period 9</option>
                                                            <option value="0">Period 10</option>
                                                            <option value="0">Period 11</option>
                                                            <option value="0">Period 12</option>
                                                        </select>
                                                    </h1>
                                                    <h6 class="top5"><b>15-Nov-19 to 30-Nov-19</b></h6>
                                                    <!-- <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>-->
                                                </div>
                                                <div class="col-1">
                                                    <h5 class="m-b-xs">Compare</h5>
                                                    <div class="i-checks">
                                                        <input type="checkbox" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" style="border-right:1px solid #CCCCCC;">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">&nbsp;</li>
                                                        <li class="list-group-item fist-item" style="margin-bottom:-1px;">Users Added </li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Users Registered </li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Conversion Rate</li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Earnings</li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Cashout</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3" style="border-right:1px solid #CCCCCC;">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">
                                                            <h5 style="margin-bottom:0;">Current</h5>
                                                        </li>
                                                        <li class="list-group-item fist-item" style="margin-bottom:-1px;"> <span class="label yellow-bg">142</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label blue-bg">50%</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label lazur-bg">61</span> </li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label yellow-bg">54</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label label-primary">50</span></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">
                                                            <h5 style="margin-bottom:0;">Previous</h5>
                                                        </li>
                                                        <li class="list-group-item fist-item" style="margin-bottom:-1px;"> <span class="label yellow-bg">100</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label blue-bg">8%</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label lazur-bg">50</span> </li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label yellow-bg">70</span></li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;"> <span class="label label-primary">50</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--<div class="small float-left col-md-3 m-l-lg m-t-md">
                                                      <strong>Sales char</strong> have evolved over the years sometimes.
                                                  </div>
                                                  <div class="small float-right col-md-3 m-t-md text-right">
                                                      <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.
                                                  </div>-->
                                            <div class="flot-chart m-b-xl">
                                                <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetPerformanceData", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data)
                    alert(str);
                    $("#txtUserAdded").html(str[0].SignalATMUserAdded);
                    $("#txtUserRegisterd").html(str[0].SignalATMUsersRegistered + '%');
                    $("#txtM1Conversion").html(str[0].SignalATMM1);
                    $("#txtM2Conversion").html(str[0].SignalATMM2);
                    $("#txtM3Conversion").html(str[0].SignalATMM3);
                    $("#txtRatio").html(str[0].SignalATMConversionRation);
                    $("#txtTotalEarnings").html(str[0].SignalATMTotalEarnings);
                    //My Performance
                    $("#txtUsers").html(str[0].UsersAdded);
                    $("#txtRegisterd").html(str[0].UsersRegistered);
                    $("#txtM1").html(str[0].M1Count);
                    $("#txtM2").html(str[0].M2Count);
                    $("#txtM3").html(str[0].M3Count);
                    $("#txtRation").html(str[0].ConversionRatio);
                    $("#txtEarning").html(str[0].TotalEarnings);


                }
            });
        }




    });

</script>