﻿
@{
    ViewBag.Title = "PlanPayments";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 pad0">
                        <div class="ibox">
                            <div class="ibox-title yellowtitle">
                                <h5>Plan Payments</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="search-d">
                                        <div class="input-group">
                                            <input type="text" class="searchi">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-xs" type="button">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pad0">
                                    <div class="table-responsive">


                                        <!--<table width="100%" class="table table-striped table-bordered" id="example1">
                                          <thead>
                                            <tr>
                                              <th width="11%">Trans. No. </th>
                                              <th width="7%">Invoice</th>
                                              <th width="13%">Date </th>
                                              <th width="9%">Plan</th>
                                              <th width="7%">Amount</th>
                                              <th width="6%">Coupon</th>
                                              <th width="7%">Discount </th>
                                              <th width="8%">Wallet </th>
                                              <th width="11%">Net Amount</th>
                                              <th width="21%">Status</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>WT02</td>
                                              <td><a href="tr-invoice.pdf" target="_blank">SP02</a></td>
                                              <td>9.30pm, 2-Dec 19</td>
                                              <td>Platinum 1 </td>
                                              <td>$100</td>
                                              <td>MKT01</td>
                                              <td>$20</td>
                                              <td>$20</td>
                                              <td>$60</td>
                                              <td>Pending</td>
                                            </tr>
                                          </tbody>
                                          <tfoot>
                                          </tfoot>
                                        </table>-->
                                        <table width="100%" class="table table-striped table-bordered" id="example1">

                                            <thead>
                                                <tr>
                                                    <th width="3%">ID</th>
                                                    <th width="11%">Trans. No.</th>
                                                    <th width="7%">Invoice</th>
                                                    <th width="10%">Valid From </th>
                                                    <th width="9%">Valid To </th>
                                                    <th width="9%">Plan</th>
                                                    <th width="6%">Source</th>
                                                    <th width="6%">Amount</th>
                                                    <th width="5%">Coupon</th>
                                                    <th width="5%">Cashback</th>
                                                    <th width="5%">Wallet </th>
                                                    <th width="9%">Net Amount</th>
                                                    <th width="21%">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="PlanPaymentDetails">
                                                @*<tr>
                                                        <td>1</td>
                                                        <td>WT02</td>
                                                        <td><a href="tr-invoice.pdf" target="_blank">SP02</a></td>
                                                        <td>9.30pm, <br>2-Dec 19</td>
                                                        <td>9.30pm, <br>2-Dec 20</td>
                                                        <td>Platinum 1	</td>
                                                        <td>Bank</td>
                                                        <td>$100</td>
                                                        <td>MKT01</td>
                                                        <td>$20</td>
                                                        <td>$20</td>
                                                        <td>$60</td>
                                                        <td>Pending</td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pad0">
                <div class="row">

                    <div class="col-md-6">
                        <a href="@Url.Action("SubscriptionPlans","Referrer")">
                            <div class="widget style1 btn-warning" style="padding:5px 0; margin-top:0;">
                                <div class="row">
                                    <div class="col-5 pad0">
                                        <img src="~/Content/CSS/img/plan-icon.png" style="font-size:20px; float:right; margin-right:10px; margin-top:2px;" class="img-responsive" width="21" height="21">

                                    </div>
                                    <div class="col-7 text-left pad0" style="margin-top:3px;">
                                        <span style="font-size:13px;">Subscribe to New Plan</span>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
               </div>
            </div>
        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetPlanPayment", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].PaymentID + '</td>';
                        htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                        htmlStr += '<td><a href="tr-invoice.pdf" target="_blank">SP02</a></td>';
                        var startFrom = GetTwoDigitDateFormat(str[i].StartFrom);
                        htmlStr += '<td>' + startFrom + '</td>';
                        var validTill = GetTwoDigitDateFormat(str[i].ValidTill);
                        htmlStr += '<td>' + validTill + '</td>';
                        htmlStr += '<td>' + str[i].PlanName + '</td>';
                        htmlStr += '<td>' + str[i].Name + '</td>';
                        htmlStr += '<td>' + str[i].TotalAmount + '</td>';
                        htmlStr += '<td>' + str[i].CouponCode + '</td>';
                        htmlStr += '<td>' + str[i].LessDiscountAmount + '</td>';// <div class="more"> <p class="m-0">  </p> </div>
                        htmlStr += '<td>' + str[i].WalletBalance + '</td>';
                        htmlStr += '<td>' + str[i].NetPaymentSourceAmount + '</td>';
                        htmlStr += '<td>' + str[i].PaymentType + '</td>';
                        //htmlStr += ' <td><button type="button"  onclick="Edit(' + '' + str[i].RiskID + '' + ',' + '\'' + str[i].RiskName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        //htmlStr += ' <td><a href="admin-as-signal-type.html#details"><i class="fa fa-eye" aria-hidden="true" title="View"></i></a></td>';
                        //htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].RiskID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#PlanPaymentDetails").html(htmlStr)
                }
            });
        }


    });



</script>