﻿
@{
    ViewBag.Title = "ReferralList";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="MyProspects">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Referrals</h5>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                            <div class="row">
                                                <div class="boxes">
                                                    <div class="col-box2">
                                                        <div id="data_1">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                <input type="text" class="form-control" value="20-Dec-19">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;&nbsp;To
                                                <div class="boxes-small">
                                                    <div class="col-box2">
                                                        <div id="data_1">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                <input type="text" class="form-control" value="20-Dec-19">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="boxes-small">
                                                    <div class="col-box2">
                                                        <select class="select2_demo_1 form-control">
                                                            <option value="1">Register</option>
                                                            <option value="2">Yes</option>
                                                            <option value="2">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="boxes-small">
                                                    <div class="col-box2">
                                                        <select class="select2_demo_1 form-control">
                                                            <option value="2">Message</option>
                                                            <option value="2">M1</option>
                                                            <option value="2">M2</option>
                                                            <option value="2">M3</option>
                                                            <option value="2">M4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="boxes-small">
                                                    <div class="col-box2">
                                                        <select class="select2_demo_1 form-control">
                                                            <option value="1">Earnings Min</option>
                                                            <option value="2">0</option>
                                                            <option value="2">1</option>
                                                            <option value="2">2</option>
                                                            <option value="2">3</option>
                                                            <option value="2">4</option>
                                                            <option value="2">5</option>
                                                            <option value="2">6</option>
                                                            <option value="2">7</option>
                                                            <option value="2">8</option>
                                                            <option value="2">9</option>
                                                            <option value="2">10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="boxes-small">
                                                    <div class="col-box2">
                                                        <select class="select2_demo_1 form-control">
                                                            <option value="1">Earnings Max</option>
                                                            <option value="2">0</option>
                                                            <option value="2">1</option>
                                                            <option value="2">2</option>
                                                            <option value="2">3</option>
                                                            <option value="2">4</option>
                                                            <option value="2">5</option>
                                                            <option value="2">6</option>
                                                            <option value="2">7</option>
                                                            <option value="2">8</option>
                                                            <option value="2">9</option>
                                                            <option value="2">10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="boxes-small">
                                                    &nbsp;
                                                    <button type="button" class="btn btn-primary btn-xs">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox">

                        <div class="ibox-title redtitle top10">
                            <h5>Referral List</h5>

                            <div class="row"> </div>

                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th><button class="btn btn-info  dim " style="cursor:inherit;" title="Users Added" id="txtCount"></button></th>
                                                <th>&nbsp;</th>
                                                <th colspan="4">
                                                    <div align="center">
                                                        <button class="btn btn-default dim" style="cursor:inherit;" title="Average Referral per Day">12</button>
                                                    </div>
                                                </th>
                                                <th><button class="btn btn-default dim" style="cursor:inherit;" title="Conversion Rate">12%</button></th>
                                                <th><button class="btn btn-default dim" style="cursor:inherit;" title="Users Registered" id="txtRegisterCount"></button></th>
                                                <th><button class="btn btn-primary dim" style="cursor:inherit;" title="Referred by Me" id="txtReferralCount"></button></th>
                                                <th><button class="btn btn-success dim" style="cursor:inherit;" title="Total Earnings" id="TotalEarning"></button></th>
                                            </tr>
                                            <tr>
                                                <th width="53">Sr.No.</th>
                                                <th width="159">Email</th>
                                                <th width="129">Submited</th>
                                                <th width="111">Msg1</th>
                                                <th width="119">Msg2</th>
                                                <th width="115">Msg3</th>
                                                <th width="120">Msg4</th>
                                                <th width="158">Status</th>
                                                <th width="113">Registered</th>
                                                <th width="94">Referred</th>
                                                <th width="111">Earnings</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetReferrerListData">
                                            @*<tr>
                                                    <td>1</td>
                                                    <td><a href="../trader/tr-global-profile.html">abc@gmail.com</a></td>
                                                    <td>2-Dec-19</td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M2</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M3</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M4</button></td>
                                                    <td>Registered</td>
                                                    <td>12-Dec-19</td>
                                                    <td><div class="btn-primary text-center w140">Self</div></td>
                                                    <td>$121</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>xyz@gmail.com</td>
                                                    <td>3-Dec-19</td>
                                                    <td><button type="button" data-toggle="modal" data-target="#addedrejected" class="btn btn-primary dim">M1</button></td>
                                                    <td><button class="btn btn-primary dim">M2</button></td>
                                                    <td><button class="btn btn-primary dim">M3</button></td>
                                                    <td><button class="btn btn-primary dim">M4</button></td>
                                                    <td>Registered</td>
                                                    <td>15-Dec-19</td>
                                                    <td><div class="btn-warning text-center w140">Other</div></td>
                                                    <td>$140</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>pqr@gmail.com</td>
                                                    <td>4-Dec-19</td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>
                                                    <td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>
                                                    <td>Not Registered</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>*@
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Message popup  aria-hidden="true"-->
        <div class="modal inmodal fade" id="MessagePopupShow" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="text-left">Message </h4>
                        <label id="txtEmail" hidden></label>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="row">
                                <div class="col-md-12 pad0">
                                    <p id="txtMessage">
                                        @*Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.*@
                                        <div style="clear:both;"></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"> <a href="#" class="btn btn-primary btn-sm float-left" data-dismiss="modal" onclick="SendEmail()">Send</a> </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var sequenceNum = 0;
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {       
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetReferrerList", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var ReferralCount = str.length;
                    var Registerdcount = 0;
                    var TotalEarning = 0;
                    var TotalReferralCount = 0;
                    $("#txtCount").html(ReferralCount);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + parseInt(i + 1) + '</td>';
                        htmlStr += '<td>' + str[i].tEmail + '</td>';
                        htmlStr += '<td>' + str[i].tSubmitted + '</td>';
                        if (str[i].RegisteredStatus === 'Not Registered')
                        {
                            //alert(str[i].RegisteredStatus);
                            if (str[i].tMsg1 ==='N')
                            {
                                //alert(str[i].tMsg1);
                                htmlStr += '<td><button type="button" data-toggle="modal" data-target="#MessagePopupShow"  class="btn btn-primary dim" onclick="MessageShow(' + 1 + ',' + '\'' + str[i].tEmail + '\'' + ')">M1</button></td>';
                            }
                            else
                            {
                                htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>';
                            }
                            if (str[i].tMsg2 === 'N') {

                                htmlStr += '<td><button type="button" data-toggle="modal" data-target="#MessagePopupShow"  class="btn btn-primary dim" onclick="MessageShow(' + 2 + ',' + '\'' + str[i].tEmail + '\'' + ')">M2</button></td>';
                            }
                            else
                            {
                                htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M2</button></td>';
                            }
                            if (str[i].tMsg3 === 'N') {
                                htmlStr += '<td><button type="button" data-toggle="modal" data-target="#MessagePopupShow"  class="btn btn-primary dim" onclick="MessageShow(' + 3 + ',' + '\'' + str[i].tEmail + '\'' + ')">M3</button></td>';

                            }
                            else {
                                htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M3</button></td>';
                            }
                            if (str[i].tMsg4 === 'N') {
                                htmlStr += '<td><button type="button" data-toggle="modal" data-target="#MessagePopupShow"  class="btn btn-primary dim" onclick="MessageShow(' + 4 + ',' + '\'' + str[i].tEmail + '\'' + ')">M4</button></td>';

                            }
                            else
                            {
                                htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M4</button></td>';
                            }
                        }
                        else
                        {
                            Registerdcount = parseInt(Registerdcount) + 1;
                            htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M1</button></td>';
                            htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M2</button></td>';
                            htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M3</button></td>';
                            htmlStr += '<td><button class="btn btn-default dim" disabled style="cursor: inherit;">M4</button></td>';

                        }
                        htmlStr += '<td>' + str[i].RegisteredStatus +'</td>';
                        htmlStr += '<td>' + str[i].Registered + '</td>';
                        htmlStr += '<td>' + str[i].Referred + '</td>';
                        htmlStr += '<td>' + str[i].Earnings + '</td>';
                        htmlStr += '</tr>';
                        if (str[i].Referred === 'Other')
                        {
                            TotalReferralCount = parseInt(TotalReferralCount) + 1;
                        }
                        TotalEarning = parseInt(str[i].Earnings + parseInt(TotalEarning));
                    }
                    $("#txtReferralCount").html(TotalReferralCount);
                    $("#txtRegisterCount").html(Registerdcount);
                    $("#TotalEarning").html('$'+TotalEarning)
                    $("#GetReferrerListData").html(htmlStr)
                }
            });
        }
    });
    function MessageShow(msg,Email)
    {
        var id = msg;
        var Emailid = Email;
      //  $('#MessagePopupShow').show();
        $("#txtEmail").html(Emailid);
        $.ajax({
            url:'@Url.Action("GetMessagesForReferral", "Referrer")',
            type:"GET",
            Response:ContentType = 'application/json',
            data:{Msgid:id },
            success: function (data) {
                var str = JSON.parse(data);
                $('#MessagePopupShow').show();
                $("#txtMessage").html(str[0].Message);
                 sequenceNum = str[0].SequenceNo;
                //location.reload();               
            }
        });
    }
    function SendEmail()
    {
       var email = $("#txtEmail").text();
       var msg = $("#txtMessage").text();
       $.ajax({
           url: '@Url.Action("RequestForRegistration", "Referrer")',
           type: "GET",
           Response: ContentType = 'application/json',
           data: { EmailId: email, Message: msg, seqNum: sequenceNum },
           success: function (data)
           {              
               location.reload();
                
           }
       });
    }
</script>