﻿
@{
    ViewBag.Title = "TakeATour";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Take A Tour</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="col-md-12 top10 pad0">
                        <p> Using and navigating our website is easy and intuitive, you can browse through individual sections in the menu or take a tour to get acquainted and explore what all you can do. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="ibox-content text-center yellow-bg">
                        <h5>Signal Feature</h5>
                        <div class="m-b-sm"> <img src="../img/icon13.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center blue-bg">
                        <h5>Subscription Plan</h5>
                        <div class="m-b-sm"> <img src="../img/icon2.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center lazur-bg">
                        <h5>How To See Performance</h5>
                        <div class="m-b-sm"> <img src="../img/icon3.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center yellow-bg">
                        <h5>Signal Library</h5>
                        <div class="m-b-sm"> <img src="../img/icon10.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center navy-bg">
                        <h5 style="color:#FFFFFF;">Signal Dashboard</h5>
                        <div class="m-b-sm"> <img src="../img/icon8.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center blue-bg">
                        <h5>Closed Signals</h5>
                        <div class="m-b-sm"> <img src="../img/icon9.png"> </div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-2">
                    <div class="ibox-content text-center blue-bg">
                        <h5>Payment</h5>
                        <div class="m-b-sm"> <img src="../img/icon4.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center navy-bg">
                        <h5>Ticket Support</h5>
                        <div class="m-b-sm"> <img src="../img/icon5.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center yellow-bg">
                        <h5>Overall</h5>
                        <div class="m-b-sm"> <img src="../img/icon12.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center lazur-bg">
                        <h5>How Do I Plan A Signal</h5>
                        <div class="m-b-sm"> <img src="../img/icon11.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center blue-bg">
                        <h5>How Do I Cashout</h5>
                        <div class="m-b-sm"> <img src="../img/icon6.png"> </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox-content text-center yellow-bg">
                        <h5>How To Transform Wallet To Wallet</h5>
                        <div class="m-b-sm"> <img src="../img/icon7.png"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


