﻿
@{
    Layout = null;
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="GlobalProfile">
        <div class="wrapper wrapper-content">
            <div class="ibox-title yellowtitle">
                <h5>Global Profile</h5>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 col-centerd">
                                                <div class="text-center">
                                                    <h4><span id="userName"></span></h4>
                                                    <div class="m-b-sm top5"> <img alt="image" class="rounded-circle" src="" width="60" height="60" id="uimage"> </div>
                                                    <div class="font-bold text-info"><span id="aboutme"></span></div>
                                                    <span id="entrydate"></span>
                                                    <div style="clear:both;"></div>
                                                    <div class="col-md-9 col-centerd">
                                                        <div class="float-left"> <a class="btn btn-xs btn-success" href="#" data-toggle="modal" data-target="#rating">Rate Me</a> </div>
                                                        <div class="float-left" style="margin-left:5px;"><i class="fa fa-star" aria-hidden="true" style="color:#f8ac59;"></i>&nbsp;<i class="fa fa-star" aria-hidden="true" style="color:#f8ac59;"></i>&nbsp;<i class="fa fa-star" aria-hidden="true" style="color:#f8ac59;"></i>&nbsp;<i class="fa fa-star" aria-hidden="true" style="color:#f8ac59;"></i>&nbsp;<i class="fa fa-star-o" aria-hidden="true" style="color:#f8ac59;"></i>&nbsp;<a href="#" data-toggle="modal" data-target="#customerrating">24</a></div>
                                                        <div class="to-follow float-left" style="margin-left:5px;">
                                                            <button id="follow" class="btn btn-xs bt-info" data-toggle="button" style="background-image: none;background: #48c2aa;color: #fff;">
                                                                Follow
                                                            </button>
                                                            <button id="unfollow" class="hidden btn-xs btn btn-danger hidden">Unfollow</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-10 col-centerd">
                                                        <ul class="list-group clear-list">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-envelope-o" title="Mail Id" style="padding-top:3px; font-size:15px;"></i>&nbsp;<a href="#" title="ashokkulkarni@gmail.com"><span id="email"></span></a> </li><br />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-phone" title="Phone Number" style="padding-top:3px; font-size:15px;"></i>&nbsp;<span id="phone"></span> </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-flag-o" title="Country" style="padding-top:3px; font-size:15px;"></i>&nbsp;India </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-clock-o" title="Timezone" style="padding-top:3px; font-size:15px;"></i>&nbsp;GMT+5:30 </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-map-marker" title="State" style="padding-top:3px; font-size:15px;"></i>&nbsp;Maharashtra </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-building" title="State" style="padding-top:3px; font-size:15px;"></i>&nbsp;City </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-user" title="Website" style="padding-top:3px; font-size:15px;"></i> &nbsp;Male </li>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-users" title="No of Traders Followed" style="padding-top:3px; font-size:15px;"></i>&nbsp;150 </li>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <li class="list-group-item fist-item" style="padding:3px 0;"> <i class="fa fa-globe" title="Website" style="padding-top:3px; font-size:15px;"></i> &nbsp;www.akmarketing.com </li>
                                                                </div>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5>About Us</h5>

                        </div>
                        <div class="ibox-content">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-justify" style="margin-bottom:5px;">
                                                    Contrary to popular belief, Lorem Ipsum is not simply....


                                                    <div style="clear:both;"></div>
                                                    <a href="#" class="btn  btn-warning btn-xs top5" data-toggle="modal" data-target="#aboutus">Read More</a>
                                                </div>
                                                <!--About US -->
                                                <div class="modal inmodal fade" id="aboutus" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                <h4 class="text-left">About us </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-md-12 pad0">
                                                                    <p class="text-justify">
                                                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words <br>
                                                                        <br>
                                                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words <br>
                                                                        <br>
                                                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox redtitle">
                        <div class="ibox-title">
                            <h5>Cumulative  Summary</h5>
                        </div>
                        <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                            <div class="col-md-12 pad0">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li><a class="btn btn-sm btn-white padtop-b active" data-toggle="tab" href="#tab-1">Market</a></li>
                                        <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-2">Signal Provider</a></li>
                                        <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-3">Scripts</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" id="tab-1" class="tab-pane active">
                                            <div id="stocked"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div role="tabpanel" id="tab-2" class="tab-pane"> 2 </div>
                                        <div role="tabpanel" id="tab-3" class="tab-pane"> 3 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox" style="margin-bottom: 0px; background:#FFFFFF;">
                        <div id="gauge"></div>
                        <div class="ibox-title">
                            <span class="label label-warning float-right"><a href="sp-topsignalprovider.html" class="top10btn blink_me">Top 10 Signal Provider</a></span></span>
                            <h5>User activity</h5>
                        </div>
                        <div class="ibox" style="margin-bottom: 0px; background:#FFFFFF;">
                            <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                <div class="row">
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Active Signals
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                3
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Live Signals
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                8
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Closed Signals
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                2
                                            </center>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                <div class="row">
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Success Signals
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                2
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Success Rate
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                40%
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Gain Ratio
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                0.82
                                            </center>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                                <div class="row">
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Pinned Signals
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                13
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Current Pips
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                76
                                            </center>
                                        </h2>
                                    </div>
                                    <div class="col-4">
                                        <small class="stats-label">
                                            <center>
                                                Earned Pips
                                            </center>
                                        </small>
                                        <h2 class="w-user">
                                            <center class="useractivity">
                                                43
                                            </center>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-1" style="background:#f1f1f1;">
                                        <h5 style="margin-top:7px;">Market</h5>
                                    </div>
                                    <div class="col-md-11 pad0">
                                        <div style="background:#e6e6e6; padding:5px 0px 0px 0px;">
                                            <div class="boxes-small">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Select Market</option>
                                                        <option value="2">FX</option>
                                                        <option value="3">BSC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-small">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Select Script</option>
                                                        <option value="2">EUR/USD</option>
                                                        <option value="3">INR/USD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-small">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Select Period</option>
                                                        <option value="2">Period 1</option>
                                                        <option value="3">Period 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-small">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Select Period</option>
                                                        <option value="2">Period 1</option>
                                                        <option value="3">Period 2</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-primary btn-xs">Submit</button>

                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Signal ATM Summary </h5>
                        </div>
                        <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                            <div class="row">
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <div class="m-r-md inline">
                                                    <span class="line float-left">5,3,9,6,5,9,7,3,5,2</span>
                                                    <h5 class="float-right sum-icon">Markets </h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12"><span class="text-navy" id="txtMarket"></span></div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                        <div class="row">
                                            <div class="col-md-3 pad0">
                                                <div class="col-md-12"> <span class="pie">0.90/1.561</span> </div>
                                                <div class="col-md-12"><span class="text-navy" id="txtsignal"></span></div>
                                            </div>
                                            <div class="col-md-8 pad0">
                                                <h5>Signal Providers</h5>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-3 pad0">
                                            <i class="fa fa-line-chart  icons-col float-left"></i>
                                            <div class="col-md-12"><span class="text-navy" id="txtScript"></span></div>
                                        </div>
                                        <div class="col-md-8 pad0">
                                            <h5>Scripts</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-3 pad0">
                                            <div class="col-md-12"> <span class="pie">0.90/1.561</span> </div>
                                            <div class="col-md-12"><span class="text-navy" id="txtsignal"></span></div>
                                        </div>
                                        <div class="col-md-8 pad0">
                                            <h5>Signal Providers</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-signal icons-col float-left"></i>
                                                <h5 class="float-left sum-icon">Signals Posted</h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy" id="txtPosted"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <span class="bar float-left">5,3,9,6,5,9,7,3,5,2</span>
                                                <h5 class="float-right sum-icon">Closed Signals</h5>
                                            </div>
                                            <div class="col-md-12"><span class="text-navy" id="txtClosed"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-dashboard icons-col float-left"></i>
                                                <h5 class="float-left sum-icon">Success Rate</h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy" id="txtSuccess"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-hand-o-up icons-col float-left"></i>
                                                <h5 class="float-left sum-icon"> Pips Earned</h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy text-center" id="Pips"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title redtitle">
                            <h5>My Summary</h5>
                        </div>
                        <div class="ibox-content" style="padding: 5px 20px 5px 20px;">
                            <div class="row">
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <div class="m-r-md inline">
                                                    <span class="line float-left">5,3,9,6,5,9,7,3,5,2</span>
                                                    <h5 class="float-right sum-icon">Markets </h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12"><span class="text-navy" id="MarketOfferd"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-3 pad0">
                                            <i class="fa fa-line-chart  icons-col float-left"></i>
                                            <div class="col-md-12"><span class="text-navy" id="ScriptOfferd"></span></div>
                                        </div>
                                        <div class="col-md-8 pad0">
                                            <h5>Scripts</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-3 pad0">
                                            <div class="col-md-12"> <span class="pie">0.90/1.561</span> </div>
                                            <div class="col-md-12"><span class="text-navy" id="SignalProvider"></span></div>
                                        </div>
                                        <div class="col-md-8 pad0">
                                            <h5>Signal Providers</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-signal icons-col float-left"></i>
                                                <h5 class="float-left sum-icon"><a href="#" data-toggle="modal" data-target="#pinnedsignals">Signals Pinned</a></h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy" id="SignalsPinned"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <span class="bar float-left">5,3,9,6,5,9,7,3,5,2</span>
                                                <h5 class="float-right sum-icon">Closed Signals</h5>
                                            </div>
                                            <div class="col-md-12"><span class="text-navy" id="CloseSignal"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px; border-right:1px solid #CCCCCC;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-dashboard icons-col float-left"></i>
                                                <h5 class="float-left sum-icon">Success Rate</h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy" id="SuccessRate"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2dot5" style="margin-top:15px;">
                                    <div class="row">
                                        <div class="col-md-12 pad0">
                                            <div class="col-md-12">
                                                <i class="fa fa-hand-o-up icons-col float-left"></i>
                                                <h5 class="float-left sum-icon"> Pips Earned</h5>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"><span class="text-navy text-center" id="PipsDelivered"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content" style="padding:7px 0 6px 0;">
                            <div class="col-lg-3 col-centerd">
                                <div class="row">
                                    <div class="col-md-6"> <span class="label yellow-bg" style="padding:5px 10px 5px 10px; margin-bottom:2px; float:left;" id="planNameId"><img src="../Content/CSS/img/plan-icon.png" width="20" height="20">&nbsp;&nbsp;</span> </div>
                                    <div class="col-md-6"> <span class="label lazur-bg" style="padding:5px 10px 5px 10px; margin-bottom:2px; float:left;" id="validTillId"><img src="../Content/CSS/img/expiry-icon.png" width="18" height="20">&nbsp;&nbsp;</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title greentitle">
                                <h5>Market Wise Performance Insights</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                <div class="row"> </div>

                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="wrapper wrapper-content animated fadeIn">
                                <div class="m-t-sm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="boxes-market">
                                                <div class="col-box2" style="padding-left:0;">
                                                    <select class="select2_demo_1 form-control" placeholder="Market">
                                                        <option value="1">Market</option>
                                                        <option value="2">FX</option>
                                                        <option value="3">BSC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-market">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                        <option value="1">Instrument</option>
                                                        <option value="2">EUR/USD</option>
                                                        <option value="3">INR/USD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-market">
                                                <div class="col-box2">
                                                    <select class="select2_demo_1 form-control" placeholder="Period">
                                                        <option value="1">Period</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="boxes-market">
                                                &nbsp;
                                                <button type="button" class="btn btn-primary btn-xs">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 45 </h1>
                                            <small> Pinned Signals </small>
                                            <div id="sparkline1" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Pinned</small>
                                                    <h4>45</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Success Count</small>
                                                    <h4>35</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Success Rate</small>
                                                    <h4>90%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 20 </h1>
                                            <small> Pips Earned </small>
                                            <div id="sparkline2" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Potential Pips</small>
                                                    <h4>20</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Gain/Loss Ratio</small>
                                                    <h4>10</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Average Pips</small>
                                                    <h4>10</h4>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-4">
                                            <div class="row m-t-xs">
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Current Period</h5>
                                                    <h1 class="no-margins">
                                                        @Html.DropDownList("PeriodCurrent", (IEnumerable<SelectListItem>)ViewBag.Period, "Select Period", new { @class = "select2_demo_1 form-control", @id = "PeriodOne" })
                                                    </h1>
                                                    <h6 class="top5"><b>01-Dec-19 to 15-Dec-19</b></h6>
                                                    <!--  <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>-->
                                                </div>
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Last Period</h5>
                                                    <h1 class="no-margins">
                                                        @Html.DropDownList("PeriodLastP", (IEnumerable<SelectListItem>)ViewBag.Period, "Select Period", new { @class = "select2_demo_1 form-control", @id = "PeriodTwo" })
                                                    </h1>
                                                    <h6 class="top5"><b>15-Nov-19 to 30-Nov-19</b></h6>

                                                </div>
                                                <div class="col-2 pad0">
                                                    <h5 class="m-b-xs">Compare</h5>
                                                    <div class="i-checks">
                                                    </div>
                                                    <input type="checkbox" id="chk_ckeck" onclick="ComparePeroid()">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5" style="border-right:1px solid #CCCCCC;">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">&nbsp;</li>
                                                        <li class="list-group-item fist-item" style="margin-bottom:-1px;">Signals Pinned</li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Success Count </li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Success Rate</li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Pips Earned</li>
                                                        <li class="list-group-item" style="margin-bottom:-1px;">Gain/Loss Ratio</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3" style="border-right:1px solid #CCCCCC;">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">
                                                            <h5 style="margin-bottom:0;">Current</h5>
                                                        </li>
                                                        <li class="list-group-item fist-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="SignalsPinnedP1"></span></li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label blue-bg" id="SuccessCount1"></span>  </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label lazur-bg" id="SuccessRateP1"></span>  </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="PipsEarnedP1"></span>  </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label label-primary" id="GainLossP1"></span> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="list-group clear-list">
                                                        <li class="list-group-item fist-item">
                                                            <h5 style="margin-bottom:0;">Previous</h5>
                                                        </li>
                                                        <li class="list-group-item fist-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="SignalsPinnedP2"></span> </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label blue-bg" id="SuccessCount2"></span> </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label lazur-bg" id="SuccessRateP2"></span> </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="PipsEarnedP2"></span></li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label label-primary" id="GainLossP2"></span> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--<div class="small float-left col-md-3 m-l-lg m-t-md">
                                                      <strong>Sales char</strong> have evolved over the years sometimes.
                                                  </div>
                                                  <div class="small float-right col-md-3 m-t-md text-right">
                                                      <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.
                                                  </div>-->
                                            <div class="flot-chart m-b-xl">
                                                <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
            var app = angular.module('app', []);
            app.controller('mycontrol', function ($scope, $http, $location) {
                GetProfileData();
                GetData();
                function GetProfileData(){
                    $.ajax({
                        url: '@Url.Action("GetPersonalDetailsForGlobalProfile", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { },
                        success: function (data) {
                            var temp = JSON.parse(data);
                            if(temp.length > 0)
                            {
                                var path="../Content/CSS/img/";
                                 $("#userName").html(data.response[0]);
                               // $("#aboutme").html(data.response[1]);
                                $("#email").html(data.response[2]);
                                $("#entrydate").html(data.response[3]);
                                $("#phone").html(data.response[4]);
                                $('#uimage').attr("src", path + data.response[5]);
                                $("#txtAboutMe").html(data.response[1]);
                            }
                        }

                    });
                }

                function GetData() {
                    $.ajax({
                        url: '@Url.Action("GetPerformanceData", "SignalProvider")',
                        type: "GET",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.parse(data)
                            $("#txtMarket").html(str[0].MarketsOffered);
                            $("#txtScript").html(str[0].ScriptsOffered);
                            $("#txtsignal").html(str[0].SignalProviders);
                            $("#txtPosted").html(str[0].SignalsPosted);
                            $("#txtClosed").html(str[0].SignalATMSignalsClosed);
                            $("#txtSuccess").html(str[0].SignalATMSuccessRate);
                            $("#Pips").html(str[0].PipsDelivered);
                            //My Performance
                            $("#MarketOfferd").html(str[0].MarketsSelected);
                            $("#ScriptOfferd").html(str[0].ScriptsSelected);
                            $("#SignalProvider").html(str[0].SignalsProvided);
                            $("#SignalsPinned").html(str[0].SignalsPinned);
                            $("#CloseSignal").html(str[0].SignalsClosed);
                            $("#SuccessRate").html(str[0].SuccessRate);
                            $("#PipsDelivered").html(str[0].PipsEarned);
                            $("#planNameId").html(str[0].PlanName);
                            $("#validTillId").html(str[0].ValidTill);
                        }
                    });
                }
            });
            ComparePeroid = function () {
                alert("strat");
                var check = $("#chk_ckeck").is(":checked");
                if (check) {
                    var p1 = $("#PeriodOne").val();
                    var p2 = $("#PeriodTwo").val();
                    $.ajax({
                        url: '@Url.Action("GetSignalProviderPeroid1","SignalProvider")',
                        type: "GET",
                        Response: ContentType = 'application/json',
                        data: { PeriodOne: p1 },
                        success: function (data) {
                            var str = JSON.parse(data);
                            $("#SignalsPinnedP1").html(str[0].P1SignalsPinned);
                            $("#SuccessCount1").html(str[0].P1SuccessCount);
                            $("#SuccessRateP1").html(str[0].P1SuccessRate);
                            $("#PipsEarnedP1").html(str[0].P1PipsEarned);
                            $("#GainLossP1").html(str[0].P1GainLossRatio);
                            $("#DivShowPeriodInfo").show();
                        }
                    });
                    $.ajax({
                        url: '@Url.Action("GetSignalProviderPeroid2", "SignalProvider")',
                        type: "Get",
                        Response: ContentType = 'application/json',
                        data: { PeriodTwo: p2 },
                        success: function (data) {
                            var str = JSON.parse(data);
                            $("#SignalsPinnedP2").html(str[0].P2SignalsOinned);
                            $("#SuccessCount2").html(str[0].P2SuccessCount);
                            $("#SuccessRateP2").html(str[0].P2SuccessRate);
                            $("#PipsEarnedP2").html(str[0].P2PipsEarned);
                            $("#GainLossP2").html(str[0].P2GainLossRatio);
                            $("#DivShowPeriodInfo").show();

                        }

                    });
                }
            }

            $(document).ready(function () {
                $('input[type="checkbox"]').click(function () {
                    if ($(this).prop("checked") == true) {

                    }
                    else if ($(this).prop("checked") == false) {
                        $("#DivShowPeriodInfo").hide();
                    }
                });
            });
            $(document).ready(function () {
                $('select[id="PeriodCurrent"]').change(function () {
                    alert($("option:selected", $(this)).text());
                });
            });
</script>
