﻿
@{
    ViewBag.Title = "IntraTransfers";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 pad0">
                        <div class="ibox">
                            <div class="ibox-title yellowtitle">
                                <h5>Intra Transfer - Wallet </h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="search-d">
                                        <div class="input-group">
                                            <input type="text" class="searchi">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-xs" type="button">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 pad0">
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-striped table-bordered" id="example1">

                                            <thead>
                                                <tr>
                                                    <th width="64">ID</th>
                                                    <th width="68">Voucher</th>
                                                    <th width="152">Date </th>
                                                    <th width="77">Amount</th>

                                                    <th width="162" title="Past">Closing Amount</th>
                                                    <th width="73" title="Past">Type</th>
                                                    <th width="114" title="Past">Transaction</th>
                                                    <th width="256" title="Past">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                        <td>01</td>
                                                        <td><a href="tr-invoice.pdf" target="_blank">WT01</a></td>
                                                        <td>9:30am 15-Nov-19</td>
                                                        <td>50</td>
                                                        <td>20</td>
                                                        <td>Credit</td>
                                                        <td>Wallet Transfer</td>
                                                        <td>Success</td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetIntraTransferDetails", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + parseInt(i + 1) + '</td>';
                        htmlStr += '<td>' + str[i].PaymentID + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].TransferredAmount + '</td>';
                        htmlStr += '<td>' + str[i].ReferrerClosingBalance + '</td>';
                        htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                        //htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                        // htmlStr += '<td>' + str[i].Comments + '</td>';
                        //htmlStr += '<td>' + str[i].Comments + '</td>';// <div class="more"> <p class="m-0">  </p> </div>
                        //htmlStr += '<td>' + str[i].RequestCompletedOn + '</td>';
                        //htmlStr += ' <td><button type="button"  onclick="Edit(' + '' + str[i].RiskID + '' + ',' + '\'' + str[i].RiskName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        //htmlStr += ' <td><a href="admin-as-signal-type.html#details"><i class="fa fa-eye" aria-hidden="true" title="View"></i></a></td>';
                        //htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].RiskID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#InteraTransferDetails").html(htmlStr)
                }
            });
        }
    });
</script>
