﻿
@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="Preferences">
        <div class="wrapper wrapper-content">
            <div class="ibox-title yellowtitle">
                <h5>Preferences</h5>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5>Top 5 Markets</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked2"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title bluetitle">
                            <h5>Top 10 Scripts</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5>Top 10 Signal Provider</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>  </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked3"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Add Markets or Scripts or Signal Providers into my Preference List</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                            <div class="row"> </div>
                            <div class="ibox-tools"> </div>
                        </div>
                        <div class="ibox-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a class="btn btn-sm btn-white active" data-toggle="tab" href="#tab-4">Market</a></li>
                                <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#tab-5">Script</a></li>
                                <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#tab-6">Signal Provider</a></li>
                            </ul>
                            <hr>
                            <div class="tab-content">
                                <div role="tabpanel" id="tab-4" class="tab-pane active">
                                    <div class="col-md-12 pad0">
                                        <h5>Add Market</h5>
                                        <div class="form-group m-0 top5">
                                            <div class="form-inline">
                                                <div class="spreferences-box">
                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="create-control" style="margin-right:3px; height:1.6rem !important;"
                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                        <option value=""> select Market</option>
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="AddMarketForUser()">Add</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pad0">
                                            <div class="row top10">
                                                <div class="search-d">
                                                    <div class="input-group">
                                                        <input type="text" class="searchi">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary btn-xs" type="button">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive" id="market">
                                                <table id="example2" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="90">Sr.No.</th>
                                                            <th width="100">Market</th>
                                                            <th width="118">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="GetTraderMarketdata">
                                                        @*<tr>
                                                                <td>1</td>
                                                                <td>Forex</td>
                                                                <td class="center"><button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-5" class="tab-pane">
                                    <h5>Add Scripts</h5>
                                    <div class="form-group m-0">
                                        <div class="form-inline">
                                            <div class="spreferences-box">
                                                <select id="marketByUserID" ng-model="marketByUserID" ng-change="selectedItemChanged(marketByUserID)" class="create-control" style="margin-right:3px; height:1.6rem !important;"
                                                        ng-options="o.MarketID as o.MarketName for o in getMarketByUser">
                                                    <option value=""> select Market</option>
                                                </select>
                                            </div>
                                            <div class="spreferences-box">
                                                <select id="inst" ng-model="instru" ng-change="getInstTypes(instru)" class="create-control" style="margin-right:3px; height:1.6rem !important;"
                                                        ng-options="o.InstrumentID as o.InstrumentsName for o in getInstruements">
                                                    <option value=""> select Instrument  </option>
                                                </select>

                                            </div>

                                            <button type="button" class="btn btn-primary btn-xs" ng-click="AddInstruments()">Add</button>

                                        </div>
                                    </div>
                                    <div class="col-md-12 pad0">
                                        <div class="col-md-6 pad0">
                                            <div class="row top10">
                                                <div class="search-d">
                                                    <div class="input-group">
                                                        <input type="text" class="searchi">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary btn-xs" type="button">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="example1" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="45">Sr.No.</th>
                                                            <th width="150">Market</th>
                                                            <th width="148">Script</th>
                                                            <th width="70">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="GetInstrumentdata"></tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-6" class="tab-pane">
                                    <h5>Add Signal provider</h5>
                                    <div class="form-group m-0">
                                        <div class="form-inline">
                                            <div class="spreferences-box">
                                                <select id="UserID" ng-model="UserID" ng-change="selectedItemChanged(UserID)" class="create-control" style="margin-right:3px; height:1.6rem !important;"
                                                        ng-options="o.UserID as o.UserName for o in getSignalProviderUserList">
                                                    <option value=""> Select Signal Provider</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="AddFollowUser()">Add</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pad0">
                                        <div class="row top10">
                                            <div class="search-d">
                                                <div class="input-group">
                                                    <input type="text" class="searchi">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-xs" type="button">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pad0">

                                            <div class="table-responsive">
                                                <table id="example3" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50">Sr.No.</th>
                                                            <th width="91">Photo</th>
                                                            <th width="631">Signal Provider</th>
                                                            <th width="196">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="GetFollowDetailsdata">
                                                        @*<tr>
                                                                <td>1</td>
                                                                <td><a href="../signal-provider/sp-global-profile.html"><img alt="image" class="rounded-circle" src="../img/a4.jpg" width="30" height="30" title="1000Pip Builder"></a></td>
                                                                <td>FACT</td>
                                                                <td>
                                                                    <div class="to-unfollow">
                                                                        <button id="unfollow" class=" hidden btn-xs btn btn-defult active hidden">Follow</button>
                                                                        <button id="follow" class="btn btn-xs btn-danger" data-toggle="button">UnFollow</button>
                                                                    </div>
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
            var app = angular.module('app', []);
            app.controller('mycontrol', function ($scope, $http, $location) {
                getMarketList();
                GetMarketData();
                GetMarketsByUserId();
                GetTraderDetailsInstrument();
                GetFollowUserDetails();
                SignalProviderUsersList();
                function GetFollowUserDetails() {
                    $.ajax({
                        url: '@Url.Action("GetTraderFollowSignalProviderDetails", "Trader")',
                        type: "Get",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.parse(data);
                            var htmlStr = "";
                            for (var i = 0; i < str.length; i++) {
                                htmlStr += '<tr id="riskRow">';
                                htmlStr += '<td id="row">' + (i + 1) + '</td>';
                                htmlStr += '<td>' + str[i].UserImage + '</td>';
                                htmlStr += '<td>' + str[i].UserName + '</td>';//parseInt(str[i].IsFollow)
                                htmlStr += '<td> <div class="to-unfollow"> <button id="follow" class="btn btn-xs btn-danger" data-toggle="button" onClick="UnfollowSignalProvider(' + str[i].TraderFollowSignalProvidersID + ')">UnFollow</button></div></td>';
                                htmlStr += '</tr>';
                            }
                            $("#GetFollowDetailsdata").html(htmlStr)

                        }
                    });

                }
                $scope.AddMarketForUser = function () {
                    var marketId = $scope.marketID;
                    // alert(marketId);
                    $.ajax({
                        url: '@Url.Action("AddMarketForUser", "Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { MarketID: marketId },
                        success: function (data) { location.reload(); }
                    });

                }
                $scope.AddInstruments = function () {
                    var instrumenttId = $scope.instru;
                    //alert(instrumenttId);
                    $.ajax({
                        url: '@Url.Action("AddInstrumentForUser", "Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { InstrumentID: instrumenttId },
                        success: function (data) { location.reload(); }
                    })
                }
                $scope.AddFollowUser = function () {
                    var SignalProviderId = $scope.UserID;
                    //alert(instrumenttId);
                    $.ajax({
                        url: '@Url.Action("AddSignalProviderFollowByTrader", "Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { SigProFollowerID: SignalProviderId },
                        success: function (data) { location.reload(); }
                    })
                }
                function GetMarketsByUserId() {
                    $.ajax({
                        url: '@Url.Action("GetMarketsByUserId", "Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.stringify(data);
                            //alert(str);
                            $scope.getMarketByUser = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                            var result = JSON.stringify(data);
                            //alert(textStatus);
                        }

                    });
                }
                function SignalProviderUsersList() {
                    $.ajax({
                        url: '@Url.Action("GetSignalProviderForFollowUserList", "Trader")',
                        type: "Get",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            $scope.getSignalProviderUserList = data;
                            $scope.$apply();
                        }

                    });

                }
                $scope.selectedItemChanged = function ($scope) {
                    getInstrumentData();
                }
                function getInstrumentData() {
                    var marketId = $scope.marketByUserID;
                    $.ajax({
                        url: '@Url.Action("GetInstrumentList", "Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { marketId: marketId },
                        success: function (data) {
                            $scope.getInstruements = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                            var result = JSON.stringify(data);
                            // alert("Error" + data);
                        }

                    });
                }
                function GetMarketData() {
                    $.ajax({
                        url: '@Url.Action("GetTraderMarket", "Trader")',
                        type: "Get",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.parse(data);
                            var htmlStr = "";
                            for (var i = 0; i < str.length; i++) {
                                htmlStr += '<tr id="riskRow">';
                                htmlStr += '<td id="row">' + (i + 1) + '</td>';
                                htmlStr += '<td>' + str[i].MarketName + '</td>';
                                htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteMarketByUser(' + str[i].TraderMarketsID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                                htmlStr += '</tr>';
                            }
                            $("#GetTraderMarketdata").html(htmlStr)

                        }
                    });

                }
                function getMarketList() {
                    $.ajax({
                        url: '@Url.Action("GetMarketList","Trader")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.stringify(data);
                            //alert(str);
                            $scope.getMarket = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                            var result = JSON.stringify(data);
                            alert(textStatus);
                        }

                    });
                }
  function GetTraderDetailsInstrument()
        {
            $.ajax({
                url: '@Url.Action("GetTraderInstrument", "Trader")',
                type: "Get",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + (i + 1) + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].InstrumentsName + '</td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteInstrumentByUser(' + str[i].TraderInstrumentsID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetInstrumentdata").html(htmlStr)

                }
            });

        }
            });
    function DeleteInstrumentByUser(id)
    {
        var x = confirm("Are you sure you want to Remove?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteInstrumentByTraderId", "Trader")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { TraderInstrumentsID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }

    }
    function DeleteMarketByUser(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteMarketByUserId", "Trader")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { TraderMarketsID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

    function UnfollowSignalProvider(id) {
        var x = confirm("Are you sure you want to UnFollow?");
        if (x) {
            $.ajax({
                url: '@Url.Action("UnfollowSignalProvider", "Trader")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { TraderFollowSignalProvidersID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>
