﻿
@{
    ViewBag.Title = "SubscriptionCheckOut";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 pad0">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title yellowtitle">
                                <h5>Subscription Details</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="col-md-12">
                                <h3 class="text-navy">
                                    <span id="planfees">
                                    </span> -  <span id="fees"></span>
                                </h3>
                                <div class="feed-activity-list">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Signal Type</label>
                                            <div> <span id="stype"></span> </div>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Validity</label>
                                            <div> <span id="validity"></span> </div>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Validity From</label>
                                            <div>
                                                <div class="form-group" id="data_1">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input id="validityFrom" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Validity Till</label>
                                            <div> <span id="validityTill"></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="ibox-content"> <a href="tr-subscription-plan.html" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Packages</a> </div>-->
                    </div>
                </div>
                <div class="col-md-12 pad0">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle">
                                <h5>Personal Details</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>

                        <div class="ibox-content">
                            <div class="feed-activity-list">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Name</label>
                                            <div>  <span>@ViewBag.UserName</span> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Email Id</label>
                                            <div><span style="text-align:center"> @ViewBag.Email </span> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Phone</label>
                                            <div><span>@ViewBag.UserPhoneNo</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pad0">
                    <div class="ibox collapsed">

                        <a class="collapse-link" href="">
                            <div class="ibox-title bluetitle">
                                <h5>View Coupons</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>

                        <div class="ibox-content">
                            <div class="col-md-6 pad0">
                                <label class="col-form-label">&nbsp;&nbsp;Enter Coupon Code</label>
                                <div style="clear:both;"></div>
                                <input type="text" id="txtCouponCode" class="coupan-control">
                            </div>

                            <div class="row top10" id="promocoupondiv">
                                @*<div class="col-md-3">
                                        <div class="brcoupan">
                                            <h5 class="text-center"><span id="couponCode"></span></h5>
                                            <p class="font-bold text-center"><span id="details"></span></p>
                                            <div class="text-center"> <a href="" class="btn btn-xs bt-choosefile">Apply</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="brcoupan">
                                            <h5 class="text-center">BINGE50</h5>
                                            <p class="font-bold text-center">Get 25% Off</p>
                                            <div class="text-center"> <a href="" class="btn btn-xs bt-choosefile">Apply</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="brcoupan">
                                            <h5 class="text-center">BINGE690</h5>
                                            <p class="font-bold text-center">Get 30% Off</p>
                                            <div class="text-center"> <a href="" class="btn btn-xs bt-choosefile"> Apply</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="brcoupan">
                                            <h5 class="text-center">BINGE52</h5>
                                            <p class="font-bold text-center">Get 20% Off</p>
                                            <div class="text-center"> <a href="" class="btn btn-xs btn-primary">Apply</a> </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <!--  <div class="ibox-content"> <a href="tr-subscription-plan.html" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Packages</a> </div>-->
                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <div class="ibox ">
                    <div class="ibox-title yellowtitle">
                        <h5>Wallet Amount</h5>
                    </div>
                    <div class="ibox-content">
                        Wallet Amount Balance: $@ViewBag.WalletBalance
                        <div class="">
                            <label>
                                <input id="walletAmtInclude" type="checkbox" onclick="AssignWallet()" >                                
                                <i>Include Amount</i> 
                            </label>
                            <input id="txtWalletAmt" type="text" class="coupan-control" style="margin-left:0;" placeholder="Enter amount" onchange="AssignWallet()">
                            @*<input type="text" class="coupan-control" style="margin-left:0;" placeholder="$100">*@
                        </div>
                        @*<input type="checkbox" id="chkPassport" /><i> Amount</i>*@ 
                    </div>
                </div>
                <div class="ibox mb-5">
                    <div class="ibox-title bluetitle">
                        <h5>Order Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <b>Coupon Number</b>: <span id="couponnum"></span>
                        <table class="table table-hover margin bottom top10">
                            <tbody>
                                <tr>
                                    <td class="border-0">Total Amount</td>
                                    <td class="text-right text-navy border-0">
                                        <h4>
                                            <span id="totalamt"></span>
                                        </h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td> Wallet Amount</td>
                                    <td class="text-right text-navy"><h4><span id="walletamt"></span></h4></td>
                                </tr>
                                <tr>
                                    <td> Coupon Amount</td>
                                    <td class="text-right text-navy"><h4><span id="couponamt"></span></h4></td>
                                </tr>
                                <tr>
                                    <td>Net Payable</td>
                                    <td class="text-right text-danger"><h4><span id="netamt"></span></h4></td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="#" class="btn block btn-primary btn-sm" onclick="SubmitPayment()"><i class="fa fa-shopping-cart"></i> Checkout</a>
                        @*<a href="http://localhost:44355/Trader/NextToPaymentAction?'netAmt': $("#netamt").html(netAmt);" class="btn block btn-primary btn-sm" ><i class="fa fa-shopping-cart"></i> Checkout</a>*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var totalFee;
    var billID;
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetSubscribedDetails();
        function GetSubscribedDetails()
        {
            var userId =@ViewBag.UserId;
            var planID=  @ViewBag.PlanID;         
            $.ajax({
                url: '@Url.Action("GetSubscribedUserDetails", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { planId:planID},
                success: function (data) {
                    var temp = JSON.parse(data);
                    var plnType = temp[0].PlanType ;
                    var plnPkg =  temp[0].PlanPackage ;
                    totalFee = temp[0].Fee;
                    billID = temp[0].BillID;
                    $("#planfees").html(plnPkg);
                    if (totalFee ==0) {
                        $("#fees").html("Free");
                    }
                    else {
                        $("#fees").html("$"+temp[0].Fee);
                    }
                    $("#stype").html(temp[0].Stype);
                    $("#validity").html(temp[0].Validity);
                    $("#validityFrom").val(temp[0].StartFrom);
                    $("#validityTill").html(temp[0].ValidTill);
                    $("#totalamt").html(temp[0].Fee);
                    $("#netamt").html(temp[0].Fee);
                }
            });
        }
        GetPromoCoupon();
        function GetPromoCoupon()
        {
           // debugger;
            var htmlstr ="";
            $.ajax({
                url: '@Url.Action("GetPromocoupons", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { },
                success: function (data) {
                    var temp = JSON.parse(data);
                    for(var i=0;i<temp.length;i++)
                    {
                        htmlstr+='<div class="col-md-3">';
                        htmlstr+='<div class="brcoupan">';
                        htmlstr+='<h5 class="text-center"><span>'+  temp[i].CouponCode +'</span></h5>';
                        htmlstr+='<p class="font-bold text-center"><span>'+temp[i].Details +'</span></p>';
                        htmlstr+='<div class="text-center"><a class="btn btn-xs bt-choosefile" href="#" onclick="CalculateNetAmt(\''+temp[i].CouponCode +'\',\''+temp[i].DiscountRate +'\')")">Apply</a> </div>';
                        htmlstr+='</div></div>';
                    }
                    $("#promocoupondiv").html(htmlstr);
                }
            });
        }

    });
    function CalculateNetAmt(coupCode,DisRate)
    {
        var totalFees = totalFee;
      //  var walletBalance = @ViewBag.WalletBalance;
        var couponAmt = (totalFees*DisRate);       
        //var netAmtInt=Number(totalFees-walletBalance-couponAmt);
      //  var netAmt = netAmtInt.toFixed(2) ;
       // $("#couponnum").html(coupCode);
       // $("#totalamt").html(totalFees);
       // $("#walletamt").html(0);
        $("#couponamt").html(couponAmt);
      //  $("#netamt").html(netAmt);
      //  $("#txtCouponCode").val(coupCode);
    }
    function SubmitPayment()
    {
        var walletAmt= $("#walletamt").text();
        var couponCode =  $("#txtCouponCode").val();
        var lessDiscAmt = $("#couponamt").text();
        //var no1=Number($("#netamt").text());
        //var no2=no1.toFixed(2);
        var netAmtTxt= $("#netamt").text();
        var netAmt=Number(netAmtTxt);
        var result = {'BillID':billID,'WalletAmt':walletAmt,'TotamAmt':totalFee,'CouponCode':couponCode,'LessDiscountAmt':lessDiscAmt,'NetPaymentSourceAmt':netAmt.toFixed(2)};
        var temp = JSON.stringify(result);
        if (netAmtTxt==0) {
           window.location.href='@Url.Action("PlanPayments", "Trader")';
        }
        else {
            var url = "../Trader/NextToPaymentAction?result=" + temp;
            window.location.href = url;
        }

    }
    function AssignWallet()
    {

        if( $("input[type=checkbox]").is(":checked"))
        {
            var totalAmt = $("#totalamt").text();          
            var walletAmt = $("#txtWalletAmt").val();
            var netPayble = totalAmt- walletAmt;
            var netamt =  $("#netamt").html(netPayble);
            $("#walletamt").html(walletAmt);
        }
        else {
            var totalAmt = $("#totalamt").text();
            var netamt =  $("#netamt").html(totalAmt);
            $("#txtWalletAmt").text("");
            $("#walletamt").html("");
        }
    }
    //walletAmtInclude
</script>


