﻿
@{
    ViewBag.Title = "SuccessPayment";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}


<h2>Your payment has been processed successfully</h2>
<div class="row">
    <div class="col-md-6">
        <a href="/Trader/Workspace">
            <div class="widget style1 btn-warning" style="padding:5px 0;">
                <div class="row">
                    <div class="col-5 pad0">
                        <i class="fa fa-user-circle" style="font-size:20px; float:right; margin-right:10px; margin-top:2px;"></i>
                    </div>
                    <div class="col-7 text-left pad0" style="margin-top:3px;">
                        <span style="font-size:13px;"> Workspace</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/Trader/SubscriptionPlan">
            <div class="widget style1 btn-success" style="padding:5px 0;">
                <div class="row">
                    <div class="col-5 pad0">
                        <i class="fa fa-file" style="font-size:18px; float:right; margin-top:3px; margin-right:10px;"></i>
                    </div>
                    <div class="col-7 text-left pad0" style="margin-top:3px;">
                        <span style="font-size:13px;"> Subscription Plan </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>



