﻿
@{
    ViewBag.Title = "SuccesPayment";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 pad0">
                <div class="ibox">
                    <a class="collapse-link" href="">
                        <div class="ibox-title yellowtitle">
                            <h5>Payment Gateway</h5>
                            <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                    <div class="ibox-content">
                        <div class="col-lg-12">
                          
                            <div class="pad0">
                                <h5>Select For Payment </h5>
                                <div style="border:1px solid #ccc; padding-left: 8px;    padding-right: 5px; width:190px;">
                                    <div class="i-checks top10" style="margin-bottom:5px;">
                                        <label>
                                            <i><img src="~Content/CSS/img/razorpay-logo.png" class="img-responsive" style="float:right;"> </i>
                                            <input type="radio">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pad0">
                                <a class="btn btn-sm btn-primary pull-left top12" href="tr-plan-payments.html">Proceed</a>
                                <div style="clear:both;"></div>
                                <br>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="Hidden Element" name="hidden">
<script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_6SmO037aAU6umV"
        data-amount="100"
        data-name="Razorpay"
        data-description="Purchase Description"
        data-order_id="<%=orderId%>"
        data-image="https://razorpay.com/favicon.png"
        data-prefill.name="Gaurav Kumar"
        data-prefill.email="gaurav.kumar@example.com"
        data-prefill.contact="9123456789"
        data-theme.color="#F37254">
</script>
