﻿
@{
    ViewBag.Title = "Empanelmentprocess";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signal ATM</title>      
    </head>
        <body>    
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Empanelment Process</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="service-process">
                                                <div class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                    <div class="process-row">
                                                        <div class="process-step">
                                                            <div class="process-icon"> <span>1</span> <img src="http://web24service.com/demo/w-shipping/assets/images/process-icon1.png" alt=""> </div>
                                                            <p>Text here</p>
                                                        </div>
                                                        <div class="process-step">
                                                            <div class="process-icon"> <span>2</span> <img src="http://web24service.com/demo/w-shipping/assets/images/process-icon2.png" alt=""> </div>
                                                            <p>Text here</p>
                                                        </div>
                                                        <div class="process-step">
                                                            <div class="process-icon"> <span>3</span> <img src="http://web24service.com/demo/w-shipping/assets/images/process-icon2.png" alt=""> </div>
                                                            <p>Text here</p>
                                                        </div>
                                                        <div class="process-step">
                                                            <div class="process-icon"> <span>4</span> <img src="http://web24service.com/demo/w-shipping/assets/images/process-icon2.png" alt=""> </div>
                                                            <p>Text here</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Empanelment Criteria</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered dataTable no-footer">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Criteria Days</td>
                                            <td class="text-center"><span class="label lazur-bg">30 Days</span></td>
                                        </tr>
                                        <tr>
                                            <td>Min Success Rate</td>
                                            <td class="text-center"><span class="label yellow-bg">70%</span></td>
                                        </tr>
                                        <tr>
                                            <td>Min Total Gained Pips</td>
                                            <td class="text-center"><span class="label blue-bg">10</span></td>
                                        </tr>
                                        <tr>
                                            <td>Min Average Gained Pips</td>
                                            <td class="text-center"><span class="label lazur-bg">5</span></td>
                                        </tr>
                                        <tr>
                                            <td>Gain/Lost Pips Ratio</td>
                                            <td class="text-center"><span class="label yellow-bg">&gt; 1</span></td>
                                        </tr>
                                        <tr>
                                            <td>Min Total Signal Count</td>
                                            <td class="text-center"><span class="label blue-bg">10</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Current Performance</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <b> Validity :- </b>01-Nov-19 <b>To </b> 30-Nov-19
                                <div style="clear:both;"></div>
                                <div class="col-md-12 pad0">
                                    <table class="table table-striped table-bordered dataTable no-footer">
                                        <thead>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Min Success Rate</td>
                                                <td class="text-center"><span class="label red-bg">35%</span></td>
                                            </tr>
                                            <tr>
                                                <td>Min Total Gained Pips</td>
                                                <td class="text-center"><span class="label blue-bg">2</span></td>
                                            </tr>
                                            <tr>
                                                <td>Min Average Gained Pips</td>
                                                <td class="text-center"><span class="label lazur-bg">1</span></td>
                                            </tr>
                                            <tr>
                                                <td>Gain/Lost Pips Ratio</td>
                                                <td class="text-center"><span class="label yellow-bg">&gt; 1</span></td>
                                            </tr>
                                            <tr>
                                                <td>Min Total Signal Count</td>
                                                <td class="text-center"><span class="label blue-bg">2</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div style="clear:both;"></div>
                                </div>

                                <a class="btn btn-primary  btn-block" href="~/trader/tr-subscription-plan.html">Take A Plan</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-title top10">
                                <h5>Empanelment History</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                <div class="row"> </div>
                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th width="3%">#</th>
                                                <th width="20%">Plan Type</th>
                                                <th width="21%">Start Date</th>
                                                <th width="22%">Valid From</th>
                                                <th width="19%">Valid To</th>
                                                <th width="4%">Status</th>
                                                <th width="11%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="3%">1</td>
                                                <td width="20%">Empanelment </td>
                                                <td width="21%">15-Oct-19</td>
                                                <td width="22%">20-Oct-19</td>
                                                <td width="19%">20-Nov-19</td>
                                                <td width="4%">N</td>
                                                <td width="11%"><a href="sp-subscription-plan.html" class="btn btn-danger btn-xs">Renew</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Empanelment </td>
                                                <td>25-Nov-19</td>
                                                <td>30-Nov-19</td>
                                                <td>30-Dec-19</td>
                                                <td>Y</td>
                                                <td><a href="sp-my-signals.html" class="btn btn-primary btn-xs">My Signal Page</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>    
          
</body>

</html>



