﻿
@{
    ViewBag.Title = "Empanelment";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle top10">
                        <h5>Empanelment</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                        <div class="row"> </div>
                        <div class="ibox-tools"> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <section class="timeline">
                                        <ol>
                                            <li>
                                                <div>
                                                    <h4>Step 1</h4>
                                                    <p class="top10">Conference on the sales results for the previous year. </p>
                                                    <a href="sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Step 2</h4>
                                                    <p class="top10">Conference on the sales results for the previous year. </p>
                                                    <a href="sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Step 3</h4>
                                                    <p class="top10">Conference on the sales results for the previous year. </p>
                                                    <a href="sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Step 4</h4>
                                                    <p class="top10">Conference on the sales results for the previous year. </p>
                                                    <a href="sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Step 5</h4>
                                                    <p class="top10">Conference on the sales results for the previous year. </p>
                                                    <a href="sp-performance-snapshot.html" class="btn btn-xs btn-primary"> More info</a>
                                                </div>
                                            </li>
                                            <li></li>
                                        </ol>
                                        <div class="arrows">
                                            <button class="btn btn-primary btn-circle arrow arrow__prev" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> </button>
                                            <button class="btn btn-primary btn-circle arrow arrow__next" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
                                        </div>
                                    </section>
                                    <script>
(function() {

    // VARIABLES
    const timeline = document.querySelector(".timeline ol"),
      elH = document.querySelectorAll(".timeline li > div"),
      arrows = document.querySelectorAll(".timeline .arrows .arrow"),
      arrowPrev = document.querySelector(".timeline .arrows .arrow__prev"),
      arrowNext = document.querySelector(".timeline .arrows .arrow__next"),
      firstItem = document.querySelector(".timeline li:first-child"),
      lastItem = document.querySelector(".timeline li:last-child"),
      xScrolling = 280,
      disabledClass = "disabled";

    // START
    window.addEventListener("load", init);

    function init() {
        setEqualHeights(elH);
        animateTl(xScrolling, arrows, timeline);
        setSwipeFn(timeline, arrowPrev, arrowNext);
        setKeyboardFn(arrowPrev, arrowNext);
    }

    // SET EQUAL HEIGHTS
    function setEqualHeights(el) {
        let counter = 0;
        for (let i = 0; i < el.length; i++) {
            const singleHeight = el[i].offsetHeight;

            if (counter < singleHeight) {
                counter = singleHeight;
            }
        }

        for (let i = 0; i < el.length; i++) {
            el[i].style.height = `${counter}px`;
        }
    }

    // CHECK IF AN ELEMENT IS IN VIEWPORT
    // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    function isElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    // SET STATE OF PREV/NEXT ARROWS
    function setBtnState(el, flag = true)
        {
            if (flag) {
                el.classList.add(disabledClass);
            } else {
                if (el.classList.contains(disabledClass)) {
                    el.classList.remove(disabledClass);
                }
                el.disabled = false;
            }
       }
        // ANIMATE TIMELINE
        function animateTl(scrolling, el, tl) {
            let counter = 0;
            for (let i = 0; i < el.length; i++) {
                el[i].addEventListener("click", function() {
                    if (!arrowPrev.disabled) {
                        arrowPrev.disabled = true;
                    }
                    if (!arrowNext.disabled) {
                        arrowNext.disabled = true;
                    }
                    const sign = (this.classList.contains("arrow__prev")) ? "" : "-";
                    if (counter === 0) {
                        tl.style.transform = `translateX(-${scrolling}px)`;
                    } else {
                        const tlStyle = getComputedStyle(tl);
                        // add more browser prefixes if needed here
                        const tlTransform = tlStyle.getPropertyValue("-webkit-transform") || tlStyle.getPropertyValue("transform");
                        const values = parseInt(tlTransform.split(",")[4]) + parseInt(`${sign}${scrolling}`);
                        tl.style.transform = `translateX(${values}px)`;
                    }

                    setTimeout(() => {
                        isElementInViewport(firstItem) ? setBtnState(arrowPrev) : setBtnState(arrowPrev, false);
                        isElementInViewport(lastItem) ? setBtnState(arrowNext) : setBtnState(arrowNext, false);
                    }, 1100);

                    counter++;
                });
            }
        }

        // ADD SWIPE SUPPORT FOR TOUCH DEVICES
        function setSwipeFn(tl, prev, next) {
            const hammer = new Hammer(tl);
            hammer.on("swipeleft", () => next.click());
            hammer.on("swiperight", () => prev.click());
        }

        // ADD BASIC KEYBOARD FUNCTIONALITY
        function setKeyboardFn(prev, next) {
            document.addEventListener("keydown", (e) => {
                if ((e.which === 37) || (e.which === 39)) {
                    const timelineOfTop = timeline.offsetTop;
                    const y = window.pageYOffset;
                    if (timelineOfTop !== y) {
                        window.scrollTo(0, timelineOfTop);
                    }
                    if (e.which === 37) {
                        prev.click();
                    } else if (e.which === 39) {
                        next.click();
                    }
                }
            });
        }

    })();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox-title yellowtitle top10">
                            <h5>My Performance Against Criteria</h5>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="col-md-12">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="ibox">
                                                <div class="ibox-title greentitle">
                                                    <h5>Empanelment Criteria</h5>
                                                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                                    <div class="row"> </div>
                                                    <div class="ibox-tools"> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <table class="table table-striped table-bordered dataTable no-footer">
                                                        <thead>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Criteria Days</td>
                                                                <td><span class="label lazur-bg" id="CriteriaDay"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Min Success Rate</td>
                                                                <td><span class="label yellow-bg" id="MinRate"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Min Total Gained Pips</td>
                                                                <td><span class="label blue-bg" id="TotalPips"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Min Average Gained Pips</td>
                                                                <td><span class="label lazur-bg" id="AvgPip"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gain/Lost Pips Ratio</td>
                                                                <td><span class="label yellow-bg" id="LostPip"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Min Total Signal Count</td>
                                                                <td><span class="label blue-bg" id="TotalCount"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ibox">
                                                <div class="ibox-title redtitle">
                                                    <h5>Current Performance</h5>
                                                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                                    <div class="row"> </div>
                                                    <div class="ibox-tools"> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div class="col-md-12 pad0">
                                                        <table class="table table-striped table-bordered dataTable no-footer">
                                                            <thead>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td width="45%">Current Plan</td>
                                                                    <td width="55%"><span class="label lazur-bg" id="StartFrom"></span> To <span class="label lazur-bg" id="ValidTill"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Min Success Rate</td>
                                                                    <td><span class="label red-bg" id="SuccessRate"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Min Total Gained Pips</td>
                                                                    <td><span class="label blue-bg" id="TotalGainedPips"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Min Average Gained Pips</td>
                                                                    <td><span class="label lazur-bg" id="AverageGainedPips"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Gain/Lost Pips Ratio</td>
                                                                    <td><span class="label yellow-bg" id="GainedLostPipsRatio"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Min Total Signal Count</td>
                                                                    <td><span class="label blue-bg" id="TotalSignalCount"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4 top10">
                                    <div class="col-md-12">
                                        <center>
                                            <img src="~/Content/CSS/img/red-speedo.png" class="img-responsive">
                                        </center>
                                    </div>
                                    <div class="col-md-10 col-centerd" style="background:#ed5565; color:#fff; padding:4px 0 1px 0;">
                                        <h5 class="text-center" style="font-weight:400;">You are currently not Empaneled. <br>Subscribe to Empanelment Plan by clicking <br>Renew button below.</h5>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 pad0">
                                <div class="ibox">
                                    <div class="ibox-title yellowtitle top10">
                                        <h5>Empanelment History</h5>
                                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                        <div class="row"> </div>
                                        <div class="ibox-tools"> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="search-d">
                                                <div class="input-group">
                                                    <input type="text" class="searchi">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="example1" class="table table-striped table-bordered dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        <th width="3%">Sr.</th>
                                                        <th width="20%">Plan Type</th>
                                                        <th width="21%">Start Date</th>
                                                        <th width="22%">Valid From</th>
                                                        <th width="19%">Valid To</th>
                                                        <th width="4%">Status</th>
                                                        <th width="11%">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="GetEmpanelmentDetails">
                                                    @*<tr>
                                                            <td width="3%">1</td>
                                                            <td width="20%">Empanelment </td>
                                                            <td width="21%">15-Oct-19</td>
                                                            <td width="22%">20-Oct-19</td>
                                                            <td width="19%">20-Nov-19</td>
                                                            <td width="4%">N</td>
                                                            <td width="11%"><a href="sp-subscription-plan.html" class="btn btn-danger btn-xs blink_me">Renew</a></td>
                                                            <td><a href="sp-my-signals.html" class="btn btn-primary btn-xs">My Signal Page</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Empanelment </td>
                                                            <td>25-Nov-19</td>
                                                            <td>30-Nov-19</td>
                                                            <td>30-Dec-19</td>
                                                            <td>Y</td>
                                                            <td><a href="sp-my-signals.html" class="btn btn-primary btn-xs">My Signal Page</a></td>
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            @*<div class="row">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <center>
                                            <img src="~/Content/CSS/img/yellow-speedo.png" class="img-responsive">
                                        </center>
                                    </div>
                                    <div class="col-md-10 col-centerd" style="background:#f8ac59; color:#fff; padding:4px 0 1px 0;">
                                        <h3 class="text-center" style="font-weight:400;">Empanelment is in Progress</h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <center>
                                            <img src="~/Content/CSS/img/green-speedo.png" class="img-responsive">
                                        </center>
                                    </div>
                                    <div class="col-md-10 col-centerd" style="background:#1ab394; color:#fff; padding:4px 0 1px 0;">
                                        <h3 class="text-center" style="font-weight:400;"> You are already Empanelled</h3>
                                    </div>
                                </div>
                            </div>*@
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetData();
        function GetData()
        {          
            $.ajax({
                url: '@Url.Action("GetEmpanelmentData", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { },
                success: function (data) {
                    var Criteria=   JSON.parse(data.Criteria)
                    var PerformanceTable =JSON.parse(data.Performance)
                    //Empanelment Criteria
                    $("#CriteriaDay").html(Criteria[0].CriteriaDays +' '+'Days');
                    $("#MinRate").html(Criteria[0].MinSuccessRate);
                    $("#TotalPips").html(Criteria[0].MINTotalGainedPips);
                    $("#AvgPip").html(Criteria[0].MinAverageGainedPips);
                    $("#LostPip").html(Criteria[0].GainedLostPipsRatio);
                    $("#TotalCount").html(Criteria[0].MINTotalSignalCount);
                    //Current Performance
                    $("#StartFrom").html(PerformanceTable[0].StartFrom);
                    $("#ValidTill").html(PerformanceTable[0].ValidTill);
                    $("#SuccessRate").html(PerformanceTable[0].SuccessRate);
                    $("#TotalGainedPips").html(PerformanceTable[0].TotalGainedPips);
                    $("#AverageGainedPips").html(PerformanceTable[0].AverageGainedPips);
                    $("#GainedLostPipsRatio").html(PerformanceTable[0].GainedLostPipsRatio);
                    $("#TotalSignalCount").html(PerformanceTable[0].TotalSignalCount);
                    //Empanelment History
                    var str = JSON.parse(data.History);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td  width="3%" id="row">' +(parseInt(i)+1) + '</td>';
                        htmlStr += '<td width="20%">' + str[i].PlanName + '</td>';
                        var startFrom = GetTwoDigitDateFormat(str[i].StartFrom);
                        htmlStr += '<td width="21%">' + startFrom + '</td>';

                        var fromDate = GetTwoDigitDateFormat(str[i].FromDate);
                        htmlStr += '<td width="22%">' + fromDate + '</td>';

                        var validTill = GetTwoDigitDateFormat(str[i].ValidTill);
                        htmlStr += '<td width="19%">' + validTill + '</td>';

                        htmlStr += '<td width="4%">' + str[i].Empanelled + '</td>';
                        var res= (str[i].Empanelled.trim());
                        if(res=="Y")
                        {
                           htmlStr +='<td><a href="@Url.Action("Workspace", "SignalProvider")" class="btn btn-primary btn-xs">My Signal Page</a></td>';
                         }
                        else
                        {
                           htmlStr +='<td width="11%"><a href="@Url.Action("Subscription", "SignalProvider")" class="btn btn-danger btn-xs blink_me">Renew</a></td>';
                        }
                        //<td width="11%"><a href="sp-subscription-plan.html" class="btn btn-danger btn-xs blink_me">Renew</a></td>
                        //<td><a href="sp-my-signals.html" class="btn btn-primary btn-xs">My Signal Page</a></td>
                        htmlStr += '</tr>';
                    }
                    $("#GetEmpanelmentDetails").html(htmlStr)
                }
            });
        }
    });
</script>

