﻿
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Feedback / Testimonials</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4 pad0">
                                <div class="form-group">
                                    @*<input type="text" class="input-control" placeholder="Subject" ng-model="txtSubject">*@
                                    <select id="FeedbackSubjectID" ng-model="FeedbackSubjectID" ng-change="selectedItemChanged(FeedbackSubjectID)" class="input-control"
                                            ng-options="o.FeedbackSubjectID as o.Subject for o in getFeedbackSubject">
                                        <option value=""> Feedback Subject</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="" cols="5" rows="3" class="input-control" placeholder="Comments" ng-model="txtComments"></textarea>
                                </div>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn bt-choosefile btn-file">
                                        <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                        <input type="file" name="..." id="img" ng-model="image" title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H), Max: 1000px(w) - 1000px(H)">
                                    </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                </div>
                                <hr>
                                <div class="col-md-12 pad0">
                                    <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitFeedback()">Submit</button>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-title redtitle">
                            <h5>List Of Feedback</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th width="72">Id</th>
                                                @*<th width="196">Image</th>*@
                                                <th width="205">Subject</th>
                                                <th width="251">Created on</th>
                                                <th width="552">Feedback</th>
                                                <th width="552">View File</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllFeedback"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FeedbackImagePopup -->
        <div class="modal fade" id="FeedbackImagePopup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">FeedBack Image</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img id="Feedbackimg" src="" class="img-fluid">
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetData();
        getFeedbackSubjectData();
        function getFeedbackSubjectData() {
            $.ajax({
                url: '@Url.Action("GetFeedbackSubjectList", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getFeedbackSubject = data.FeedbackSubjectList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllFeedback", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].FeedbackID + '</td>';
                        htmlStr += '<td>' + str[i].FeedbackSubject + '</td>';
                        htmlStr += '<td>' + str[i].CreateDate + '</td>';
                        htmlStr += '<td>' + str[i].FeedbackComment + '</td>';
                        htmlStr += ' <td><button type="button"  onclick="ViewImage(' + '' + str[i].FeedbackID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllFeedback").html(htmlStr)
                }
            });

        }
        $scope.SubmitFeedback = function () {
            var formdata;
            if (window.FormData) {
                formdata = new FormData();
            }
            var Comments = $scope.txtComments;
            var Subject = $scope.FeedbackSubjectID;
           // var Subject = $scope.txtSubject;
            var file = document.getElementById("img").files[0];
            formdata.append("Image",file);
            formdata.append("Comments", Comments);
            formdata.append("Subject", Subject);
            $.ajax({
                url:'@Url.Action("AddFeedback", "SignalProvider")',
                type: "POST",
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success:function () {
                    alert("Insert  data successfully");
                    location.reload();
                }
            });
        }

    });
    function ViewImage(feedback) {

        $.ajax({
            url: '@Url.Action("GetImageById", "SignalProvider")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { FeedbackID: feedback },
            success: function (data) {
                var path = "../Content/CSS/img/";
                $('#Feedbackimg').attr("src", path + data.FeedBackImage);
                $('#FeedbackImagePopup').modal();
            }

        });
    }

</script>

