﻿
@{
    ViewBag.Title = "IntraTransfer";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
          <a class="collapse-link" href="">
            <div class="ibox-title yellowtitle">
              <h5>Intra Transfer - Wallet</h5>
              <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
            </div>
            </a>
            <div class="ibox-content">
            
                <div class="col-lg-10 pad0">
                  <div class="table-responsive">
                    <table width="100%" class="table table-striped table-bordered" id="example1">
                      <thead>
                        <tr>
                          <th width="54">ID</th>
                          <th width="73">Voucher</th>
                          <th width="206">Date </th>
                          <th width="70">Amount</th>
                          <th width="175" title="Past">Closing Amount</th>
                          <th width="78" title="Past">Type</th>
                          <th width="115" title="Past">Transaction</th>
                          <th width="195" title="Past">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>01</td>
                          <td><a href="tr-invoice.pdf" target="_blank">WT01</a></td>
                          <td>9:30am 15-Nov-19</td>
                          <td>50</td>
                          <td>50</td>
                          <td>Credit</td>
                          <td>Wallet Transfer</td>
                          <td>Success</td>
                        </tr>
                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
     
	 
	});

</script>
