﻿
@{
    ViewBag.Title = "NextToPaymentAction";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}

<div style="border:1px solid #ccc; padding-left: 8px; padding-right: 5px; width:190px;">
    <div class="i-checks top10" style="margin-bottom:5px;">
        <label>
            <i><img src="../Content/CSS/img/razorpay-logo.png" class="img-responsive" style="float:right;"> </i>
            <input type="radio" id="chkRazor">
        </label>
    </div>
</div>
<br /><br />

<form method="post" action="@Url.Action("SuccessPayment", "SignalProvider")" />

@*<form action="Charge.aspx" method="post">*@
<script src="../Content/CSS/js/checkout.js"
        data-key="rzp_test_6SmO037aAU6umV"
        data-amount=@ViewData["netAmt"]
        data-name="Razorpay"
        data-description="Purchase Description"
        data-order_id=@ViewData["OrderID"]
        data-image="../Content/CSS/img/signal-ATM-Logo.jpg" />
        data-prefill.name="Gaurav Kumar"
        data-prefill.email="gaurav.kumar@example.com"
        data-prefill.contact="9123456789"
        data-theme.color="#F37254">
 </script>
<input type="hidden" value="Hidden Element" name="hidden" />

