﻿@using System.Data
@model DataSet
@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="Preformance">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Performance</h5>
                        </div>
                        <div class="ibox-title redtitle">
                            <h5>Signal ATM Performance</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            <div class="row"> </div>
                            <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">

                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Markets Offered</h5>
                                                                        <h3 class="mb-0" id="txtMarket"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0"> Scripts Offered</h5>
                                                                        <h3 class="mb-0" id="txtScript"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Signal Providers</h5>
                                                                        <h3 class="mb-0" id="txtsignal"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center lazur-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Signals Posted</h5>
                                                                        <h3 class="mb-0" id="txtPosted"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Closed Signals</h5>
                                                                        <h3 class="mb-0" id="txtClosed"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Success Rate</h5>
                                                                        <h3 class="mb-0" id="txtSuccess"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold">Pips Delivered</h5>
                                                                        <h3 class="mb-0" id="Pips"></h3>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5>My Performance</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            <div class="row"> </div>
                            <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>


                        <div class="ibox-content">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Markets Offered</h5>
                                                                        <h3 class="mb-0" id="MarketOfferd"> </h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0"> Scripts Offered</h5>
                                                                        <h3 class="mb-0" id="ScriptOfferd"> </h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Signal Provided</h5>
                                                                        <h3 class="mb-0" id="SignalProvider"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center lazur-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Signals Pinned</h5>
                                                                        <h3 class="mb-0" id="SignalsPinned"> </h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center blue-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Closed Signals</h5>
                                                                        <h3 class="mb-0" id="CloseSignal"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center yellow-bg" style="padding:5px;">
                                                                        <h5 class="font-bold mb-0">Success Rate</h5>
                                                                        <h3 class="mb-0" id="SuccessRate"></h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7sec">
                                                                    <div class="text-center navy-bg" style="padding:5px;">
                                                                        <h5 class="font-bold">Pips Delivered</h5>
                                                                        <h3 class="mb-0" id="PipsDelivered"></h3>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox collapsed">
                        <div class="ibox-title yellowtitle">
                            <h5>Search</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            <div class="row"> </div>
                            <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content" style="display: none;">
                            <div>
                                <div>
                                    <div class="tabs-container">
                                        <div class="tab-content">
                                            <div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-5" style="background:#e6e6e6; padding:5px 5px 0px 5px;">
                                                                <div class="form-group m-0">
                                                                    <div class="form-inline">
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px;">
                                                                                <option value="0">Select Period</option>
                                                                                <option value="0">Period 1</option>
                                                                                <option value="0">Period 2</option>
                                                                                <option value="0">Period 3</option>
                                                                                <option value="0">Period 4</option>
                                                                                <option value="0">Period 5</option>
                                                                                <option value="0">Period 6</option>
                                                                                <option value="0">Period 7</option>
                                                                                <option value="0">Period 8</option>
                                                                                <option value="0">Period 9</option>
                                                                                <option value="0">Period 10</option>
                                                                                <option value="0">Period 11</option>
                                                                                <option value="0">Period 12</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px;">
                                                                                <option value="2">FX</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px;">
                                                                                <option value="2">Instruments</option>
                                                                                <option value="2">EUR/USD</option>
                                                                                <option value="3">INR/USD</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="spreferences-box">
                                                                            <select class="select2_demo_1 form-control" placeholder="Market" style="margin-right:3px;">
                                                                                <option value="0">Signal Provider</option>
                                                                                <option value="0">1000Pip Builder </option>
                                                                                <option value="0">Forex Mentor </option>
                                                                            </select>
                                                                            <button type="button" class="btn btn-primary btn-xs">Search</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5></h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            <div class="row"> </div>
                            <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="wrapper wrapper-content animated fadeIn">
                                <div class="p-w-md m-t-sm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 45 </h1>
                                            <small> Pinned Signals </small>
                                            <div id="sparkline1" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Pinned</small>
                                                    <h4>45</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Success Count</small>
                                                    <h4>35</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Success Rate</small>
                                                    <h4>90%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="m-b-xs"> 20 </h1>
                                            <small> Pips Earned </small>
                                            <div id="sparkline2" class="m-b-sm"></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <small class="stats-label">Potential Pips</small>
                                                    <h4>20</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Gain/Loss Ratio</small>
                                                    <h4>10</h4>
                                                </div>
                                                <div class="col-4">
                                                    <small class="stats-label">Average Pips</small>
                                                    <h4>10</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row m-t-xs">
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Current Period</h5>
                                                    <h1 class="no-margins">
                                                        @Html.DropDownList("PeriodCurrent", (IEnumerable<SelectListItem>)ViewBag.Period, "Select Period", new { @class = "select2_demo_1 form-control", @id = "PeriodOne" })

                                                    </h1>
                                                    <h6 class="top5"><b>01-Dec-19 to 15-Dec-19</b></h6>
                                                    <!--  <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>-->
                                                </div>
                                                <div class="col-5">
                                                    <h5 class="m-b-xs">Last Period</h5>
                                                    <h1 class="no-margins">
                                                        @Html.DropDownList("PeriodLastP", (IEnumerable<SelectListItem>)ViewBag.Period, "Select Period", new { @class = "select2_demo_1 form-control", @id = "PeriodTwo" })

                                                    </h1>
                                                    <h6 class="top5"><b>15-Nov-19 to 30-Nov-19</b></h6>
                                                    <!-- <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>-->
                                                </div>
                                                <div class="col-2 pad0">
                                                    <h5 class="m-b-xs">Compare</h5>
                                                    <div class="i-checks">
                                                    </div>
                                                    @*<input type="checkbox" name="colorCheckbox" value="red">*@
                                                    <input type="checkbox" id="chk_ckeck" onclick="ComparePeroid()">
                                                </div>
                                            </div>
                                            <div id="DivShowPeriodInfo" class="row" style="display:none;">
                                                <div class="col-md-6" style="border-right:1px solid #CCCCCC;">
                                                    <ul class="list-group clear-list m-t">
                                                        <li class="list-group-item fist-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="SignalsPinnedP1"></span> Signals Pinned </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label blue-bg" id="SuccessCount1"></span> Success Count </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label lazur-bg" id="SuccessRateP1"></span> Success Rate </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="PipsEarnedP1"></span> Pips Earned </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label label-primary" id="GainLossP1"></span> Gain/Loss Ratio </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul class="list-group clear-list m-t">
                                                        <li class="list-group-item fist-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="SignalsPinnedP2"></span> Signals Pinned </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label blue-bg" id="SuccessCount2"></span> Success Count </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label lazur-bg" id="SuccessRateP2"></span> Success Rate </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label yellow-bg" id="PipsEarnedP2"></span> Pips Earned </li>
                                                        <li class="list-group-item" style="margin-bottom: -1px;"> <span class="label label-primary" id="GainLossP2"></span> Gain/Loss Ratio </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--<div class="small float-left col-md-3 m-l-lg m-t-md">
                                                      <strong>Sales char</strong> have evolved over the years sometimes.
                                                  </div>
                                                  <div class="small float-right col-md-3 m-t-md text-right">
                                                      <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.
                                                  </div>-->
                                            <div class="flot-chart m-b-xl">
                                                <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5>Top 5 Instruments</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked2"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Top 5 Trader Scripts</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked3"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5>Top 10 Signal Provider</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stocked"></div>
                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetPerformanceData", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data)
                    $("#txtMarket").html(str[0].MarketsOffered);
                    $("#txtScript").html(str[0].ScriptsOffered);
                    $("#txtsignal").html(str[0].SignalProviders);
                    $("#txtPosted").html(str[0].SignalsPosted);
                    $("#txtClosed").html(str[0].SignalATMSignalsClosed);
                    $("#txtSuccess").html(str[0].SignalATMSuccessRate);
                    $("#Pips").html(str[0].PipsDelivered);
                    //My Performance
                    $("#MarketOfferd").html(str[0].MarketsSelected);
                    $("#ScriptOfferd").html(str[0].ScriptsSelected);
                    $("#SignalProvider").html(str[0].SignalsProvided);
                    $("#SignalsPinned").html(str[0].SignalsPinned);
                    $("#CloseSignal").html(str[0].SignalsClosed);
                    $("#SuccessRate").html(str[0].SuccessRate);
                    $("#PipsDelivered").html(str[0].PipsEarned);


                }
            });
        }




    });

   ComparePeroid= function ()
   {
       var check = $("#chk_ckeck").is(":checked");
       if (check) {
           var p1 = $("#PeriodOne").val();
           var p2 = $("#PeriodTwo").val();
           $.ajax({
               url: '@Url.Action("GetSignalProviderPeroid1","SignalProvider")',
               type: "GET",
               Response: ContentType = 'application/json',
               data: { PeriodOne: p1 },
               success: function (data) {
                   var str = JSON.parse(data);
                   $("#SignalsPinnedP1").html(str[0].P1SignalsPinned);
                   $("#SuccessCount1").html(str[0].P1SuccessCount);
                   $("#SuccessRateP1").html(str[0].P1SuccessRate);
                   $("#PipsEarnedP1").html(str[0].P1PipsEarned);
                   $("#GainLossP1").html(str[0].P1GainLossRatio);
                   $("#DivShowPeriodInfo").show();
               }


           });


           $.ajax({
               url: '@Url.Action("GetSignalProviderPeroid2", "SignalProvider")',
               type: "Get",
               Response: ContentType = 'application/json',
               data: { PeriodTwo: p2 },
               success: function (data) {
                   var str = JSON.parse(data);
                   $("#SignalsPinnedP2").html(str[0].P2SignalsOinned);
                   $("#SuccessCount2").html(str[0].P2SuccessCount);
                   $("#SuccessRateP2").html(str[0].P2SuccessRate);
                   $("#PipsEarnedP2").html(str[0].P2PipsEarned);
                   $("#GainLossP2").html(str[0].P2GainLossRatio);
                   $("#DivShowPeriodInfo").show();

               }

           });
       }


    }

    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            if ($(this).prop("checked") == true) {

            }
            else if ($(this).prop("checked") == false) {
                $("#DivShowPeriodInfo").hide();
            }
        });
    });
    $(document).ready(function() {
        $('select[id="PeriodCurrent"]').change(function () {
            alert($("option:selected", $(this)).text());
        });
    });
</script>

