@charset "utf-8";
/* CSS Document */
 /* General------------------------------*/
.pad0{padding:0;}
.pad10{padding:10px;}
.top0{margin-top:0px;}
.top5{margin-top:5px !important;}
.top10{margin-top:10px;}
.top12{margin-top:12px;}
.top20{margin-top:20px;}
.top30{margin-top:30px;}
.top50{margin-top:50px !important;}
.left5{margin-left:5px;}
.right5{margin-left:5px;}
.bot0{margin-bottom:0px !important;}
.bot5{margin-bottom:5px;}
.bot10{margin-bottom:10px;}
.bot15{margin-bottom:15px;}
.pad-bot20{padding-bottom:20px !important;}
.border0{border:0;}
.w140{width:40px;}
.col-centered{margin-left:auto; margin-right:auto; float:none;}
.wallet{ padding-top:5px;}
.logo{background: #FFFFFF; /*height: 44px;*/ /*height: 45px;*/ height: 43px;}
.radiobuttons-rt{float: left; margin-right: 9px;}
.logol{margin:5px 0;}
.yellowtitle{/*background:#f7f7ef;*/ background:#fff3cd;}
.greentitle{/*background:#ecf5e2;*/ background:#d4edda;}
.redtitle{/*background:#fdeef5;*/ background:#f8d7da;}
.bluetitle{/*background:#effafe;*/ background:#d1ecf1;}
.whitetitle{background:#fff;}
.tbmid{vertical-align: middle !important; text-align: center !important;}
.userbg{background-color: #6dbcce; color:#fff; line-height: 12px; width:30px !important;
    padding: 2px 5px; margin-top:8px;
}
/*.searchi{border: 1px solid #e5e6e7; display: block;
    padding: 6px 12px 6px 6px; flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; height:25px; font-size:12px;}*/
	
.modal-footer{justify-content: left;}

.admin-bg{background: #bfe8e8 !important;}
.trader-bg{background: #dbeae6 !important;}
.trader-active{border-left: 4px solid #3a6659;}

.signalpro-bg{background: #dceeff !important;}
.reffer-bg{background:#ffdaba !important;}

.rolltrader{background:#2f504e; color:#FFFFFF;}
.rolltrader:hover{color:#FFFFFF;}
.rollsignalProvider{background:#063058; color:#FFFFFF;}
.rollsignalProvider:hover{color:#FFFFFF;}
.rollreferrer{background:#8c4206; color:#FFFFFF;}
.rollreferrer:hover{color:#FFFFFF;}


.createyellowbg{background:#f7f7ef;}
.creategreenbg{background:#ecf5e2;}
.createredbg{background:#fdeef5;}
.createbluebg{background:#effafe;}

.bt-choosefile{background:#FFFFFF; border:1px solid #CCCCCC;}
.bt-white{background:#FFFFFF; border:1px solid #CCCCCC;}

.btn-highlighted {
    color: #000 !important;
    background: #e4e4e4;
    border: 1px solid #cecece;
}
.btn-highlighted:hover {
    color: #000;
}
.btn-highlighted:active {
    color: #fff;
}


.codew{width:25px;}

.m-r-sm{ font-size:10px !important; color:#000 !important;}


hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.tfield{width:50px; background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 1px 0px;}
.col-centerd{margin-left:auto; margin-right:auto; float:none;}	
label{
    display: inline-block;
    margin-bottom: .2rem; font-weight:600 !important;
}

.small, small {
    font-size: 93% !important;
    font-weight: 400;
}
.w-user{font-weight: 500;}
.scrolls { 
        overflow-x: scroll;
        overflow-y: hidden;
        height: 80px;
    white-space:nowrap
    } 
	.photosize{width:50px; height:50px;}
	
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  60% { opacity: 0; }
}	

.linediv{width: 100%; height: 10px; border-bottom: 1px solid #e2e2e2; text-align: center}


.alert {
    padding: .25rem 0.50rem;
}



<!-- More -->
.more{ color:#007FAA !important;}
.more a{
	color: #007FAA !important;
	text-decoration: none;
}
.more a:hover{
	color: #007FAA !important;
	text-decoration: none;
}



<!-- Ratings -->
.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 20px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }



/* Search ------------------------------*/	
.search-d {
    width: 200px;  width: 180px; margin-left:15px;
}

.searchi {
   border: 1px solid #e5e6e7; display: block;
    padding: 6px 12px 6px 6px; flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; height:25px; font-size:12px;
}





/* Admin Documents ------------------------------*/	
/*body {
  margin: 0;
  padding: 0;
 overflow: hidden;
}*/

/*body img {
  width: 300px;
  height: 200px;
}*/

/*bigic*/

.popup-bigic {
  /*position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  background: #000;
  overflow: hidden;
  z-index: 10000; overflow-y: auto;*/
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
   background-color: rgba(0, 0, 0, 0.9);
}

.popup-bigic .loading-bigic {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
}

.popup-bigic .img-bigic { position: absolute; }

.option-bigic {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.option-bigic span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  background-image:url(../img/icons.png);
  background-repeat: no-repeat;
  background-color: #1c84c6;
  /*opacity: .5;*/
}

.option-bigic span:hover { opacity: 1; }

.option-bigic span.change-bigic {
  display: none;
  background-position: -52px 3px;
}

.option-bigic span.max-bigic {
  display: none;
  background-position: -119px 3px;
}

.option-bigic span.close-bigic { background-position: 8px 8px; }

.testimg{margin-left:auto; margin-right:auto; float:none; display:block; margin-top:80px; cursor:pointer;}












 
 

/* performance snapshots used ------------------------------*/	
.col-md-7sec {
position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	   width: 14.19%;
	}

@media (max-width: 768px){
.col-md-7sec {
    -ms-flex: 0 0 16.666667%;
   /* flex: 0 0 16.666667%;*/
     width: 100%;
}
}


/* Admin widget  ------------------------------*/	
.col-md-8sec {
position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	   width: 12.50%;
	}


@media (max-width: 768px){
.col-md-8sec {
    -ms-flex: 0 0 16.666667%;
   /* flex: 0 0 16.666667%;*/
     width: 100%;
}
}



/* Basic conf. ------------------------------*/	
#regForm {
  background-color: #ffffff;
  /*margin: 100px auto;*/
/*  padding: 40px;
  width: 70%;
  min-width: 300px;*/
}

/* Style the input fields */
#regForm input {
 /* padding: 10px;*/
  width: 100%;
 /* font-size: 17px;
  font-family: Raleway;*/
 /* border: 1px solid #aaaaaa;*/ border: 1px solid #e5e6e7; padding: 6px 12px; font-size:13px;
}

/* Mark input boxes that gets an error on validation: */
/*#regForm input.invalid {
  background-color: #ffdddd;
}
*/
#regForm select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}









/* Tooltip ------------------------------*/	
/*.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
*/


 /* Timeline ------------------------------*/	
/**,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*/

/*body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}
*/

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #F45B69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/*.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}*/


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 135px 0 140px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #1ab394;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #1ab394;
}

.timeline ol li div {
  position: absolute;
  /*left: calc(100% + 7px); */ left: calc(100% + 7px); 
  width: 280px;
 /* padding: 15px;*/  padding: 8px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #e8f7f4;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%); height: 120px !important;
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #e8f7f4 transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #e8f7f4;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline p{font-size:13px; margin-bottom:5px;}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  /*margin-bottom: 20px;*/ margin-bottom: 5px;
}

.timeline .arrows .arrow__prev {
 /* margin-right: 20px;*/  margin-right: 5px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid #1ab394;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}












 /* Create New ------------------------------*/	
.create-control{
background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    /* padding: 6px 12px; */
    padding: 0px 3px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 120px;*/ font-size:12px; /*width: 64px;*/ width: 122px;
}

.create-2con{
background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    /* padding: 6px 12px; */
    padding: 0px 3px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 120px;*/ font-size:12px; width: 43px; float:left; margin-left:2px;
}


.create-control3{
background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    /* padding: 6px 12px; */
    padding: 0px 3px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 120px;*/ font-size:12px; /*width: 64px;*/ width: 60px;
}


.panel1-w{/*width: 170px;*/ width: 224px; padding:10px;}
.panel2-w{/*width: 166px;*/ width: 224px; padding:10px;}
.panel3-w{width: 195px; padding:10px;}
.panel4-w{/*width: 155px;*/ width: 224px; padding:10px;}
.panel5-w{/*width: 155px;*/ width: 898px; padding:10px;}






 /* Empalnment process ------------------------------*/	

.service-process {
    background-color: #fafafa;
    position: relative;
}
.wshipping-content-block {
    padding: 80px 0px;
}
.service-process::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
   /* border-top: 1px dashed #cccccc;*/
    border-bottom: 1px dashed #fff;
    width: 100%;
}
*::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    margin-top: 0px;
    text-transform: uppercase;
    color: #444444;
}

.process-row {
    padding-top: 10px; padding-left: 40px;
}
.process-step::before {
    position: absolute;
    /*right: -123px;*/ right: -120px;
    /*width: 122px;*/ width: 178px;
    height: 2px;
    background-color: #1ab394;
    content: "";
   /* top: 80px;*/ /*top: 83px;*/ top: 64px;
    display: block;
}

.process-icon {
   /* width: 164px;*/  /*width: 80px;*/ width: 50px;
    text-align: center;
    /*height: 164px;*/ /*height: 80px;*/ height: 30px;
    float: left;
    border-radius: 100%;
    background-color: #1ab394;
    border: 2px solid #1ab394;
    position: relative;
    padding-top: 44px;
    margin-bottom: 10px;
}
.process-icon span {
    width: 56px;
    height: 56px;
    background-color: #1ab394;
    border: 2px solid #fff;
    color: #fff;
    line-height: 56px;
    font-size: 28px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -30px;
    border-radius: 100%;
    font-weight: 700;
}
.process-step p {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    clear: both;
}
.process-step p {
    margin-bottom: 15px; padding-right: 25px; 
}

.process-step {
    float: left;
   /* width: 164px;*/  width: 107px;
    margin-right: 14%;
    position: relative;
}
.process-step:last-child {
    margin-right: 0px;
}
.process-step:last-child::before
 {
display:none;
}



 /* global profile ------------------------------*/	
 .sum-icon{margin-left:5px; margin-bottom:0;}
 .icons-col{font-size:20px; color:#1ab394;}
 .useractivity{font-size:20px;}
 
.col-2dot5,
.col-sm-2dot5,
.col-md-2dot5,
.col-lg-2dot5,
.col-xl-2dot5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 15%;
}
@media (min-width: 540px) {
    .col-sm-2dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
       /* max-width: 15%;*/  max-width: 14%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 15%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 15%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 15%;
    }
}
	
	
	
 /* Top bar ------------------------------*/	
 .navigate{float:right;}
 .toplogo{display:none;}
	
 /* Subscription package tabbing ------------------------------*/	
.nav-rtabs .nav-rlink.active {
    color: #fff;
    background-color: #1c84c6;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 40px;
}
.togglabg{border:1px solid #bfbfbf; padding:3px; border-radius:30px; width:207px;}
.coupan-control{ background:#f5f5f5; padding:5px; border:1px dotted #999999; width:100%; font-size:12px; margin-bottom:0; margin-left: 5px;}
.totalbg{background:#CCCCCC;}
.brcoupan{border:1px solid #e5e6e7; padding:10px;}

 /* Signal Preferences ------------------------------*/	
 .spreferences-box {
    /* width: 47%; */
    float: left;
}



/* Payement gateway ------------------------------*/	
.payemnt-control{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
     padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; font-size:13px;
}
.liheight{height:40px; padding-top:25px;}
.payemnt .panel-body{border-top:0;}
.paymentbrd{border:1px solid #b6b6b6;}


 /* Subscription package ------------------------------*/
 .col-md-2dot1{
    width: 21%; float:left;   min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;}
 .col-md-2dot2{width: 79%; float:left;}
 
 
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
   /* padding-right: 15px;*/
    padding-left: 15px;
}
.col-2dot4 {
/*    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;*/
    max-width: 25%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
/*        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;*/
       /* max-width: 25%;*/ max-width:24.1%;
    }
	
}
@media (min-width: 720px) {
    .col-md-2dot4 {
/*        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;*/
        max-width: 25%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
    /*    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;*/
        max-width: 25%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
/*        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;*/
        max-width: 25%;
    }
}

@media (max-width: 540px) {
 .col-md-2dot1{width: 100%;}
	  .col-md-2dot2{width: 100%;}
	  }
	  
	  


.dis-package-title {
    background:#999999;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}


.package-title {
    background: #1ab394;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}
.trialpack-title {
    background: #23c6c8;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}
.trialprice{color:#11adaf; font-weight: 600;
    font-size: 16px;}
.package-plan {
   /* margin: 20px 30px 0 30px;*/
    border-radius: 4px; border: 1px solid #e7eaec;
}
.package-plan:hover{ background:#eeeeee;}
.package-plan ul { color: #aeaeae;}
.package-plan li {
    padding: 10px 16px;
    border-top: 1px solid #e7eaec;
    text-align: center; 
}
.best-seller{background:#eeeeee; color:#000;}
.trial{background:#f5ffff; color:#000;}
.pack-amunt{color:#1ab394; font-weight:600; font-size:16px;}
.packdis-amunt{color:#999999; font-weight:600; font-size:16px;}
.packselect{color:#f8ac59; font-weight:600; font-size:16px;}
.packselectbg{background: #fffcf8;}

.btn-dis{
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}

.btn-dis:hover{color: #ffffff;}


 /* Workplace ------------------------------*/
 
 
.numberShadow {
    box-shadow: inset 0 0 0 #039fda, 0 5px 0 0 #039fda, 0 10px 5px #999999 !important;
}
.numberShadow { width:35px; height:30px; background:#00aeef; color:#fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.btn-percent.dim {
    box-shadow: inset 0 0 0 #039048, 0 5px 0 0 #039048, 0 10px 5px #999999 !important;
}
.btn-percent {
    color: #fff;
    background-color: #00a651;
    border-color: #00a651;
}
.btn-percent:hover{color:#fff; background-color: #01994b;}

/*.headerprimary{background:#1ab394; color:#fff;}
.headersuccess{background:#1c84c6; color:#fff;}
.headerinfo{background:#23c6c8; color:#fff;}
.headerwarning{background:#f8ac59; color:#fff;}
.headerdanger{background:#ed5565; color:#fff;}*/
.top10btn{color:#fff;}
.top10btn:hover{color:#fff;}


 /* Assign roll ------------------------------*/
 
.assign-roll h2{font-size:18px; color:#fff; text-align:center; padding:10px; font-weight:500; margin-bottom:0;}
.assign-roll p{font-size:13px; color:#fff; text-align:center; font-weight:200; padding:30px;}
.assign-roll .whitebg{background:#FFFFFF;}

 .img-round{border-radius: 50%; width:130px; height:130px; margin:10px 0;}


 /* Aside bar ------------------------------*/
.terms-info p{text-align:justify; font-size:12px;}


 /* Form on pages ------------------------------*/
.input-box{
background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;font-size: 12px;
}
.input-control{
background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;font-size: 12px;
}

 /* Register and Login------------------------------*/
.wds-type--page-title {
    font-size: 33px;
    font-weight: 300;
	color:#000;
}
.wds-type--page-subtitle {
    font-size: 15px;
    font-weight: 300;
	color:#000;
}
.wds-m-t-4 {
    margin-top: 16px!important;
}
.wds-type--center {
    text-align: center;
}
.social-link-variation .or-divider {
    border-color: #6C777D;
}
.or-divider {
    background-color: #fff;
    border-top: 0px;
    border-bottom: 1px solid #aaa;
    height: 20px;
}
.or-bubble {
    background-color: #fff;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 20px;
    line-height: 33px;
    font-weight: 500;
    overflow: show; font-size:13px;
}
ul.socialIcons {
    padding: 0;
    text-align: center; margin-top:10px;
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
   /* margin: 15px;*/ margin:15px 15px 0px 15px;
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
   /* box-shadow: 0 0 16px #3b5998;*/
}
.socialIcons .twitter {
    background: #00aced;
   /* box-shadow: 0 0 16px #00aced;*/
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .linkedin {
  background-color: #487dbc;
  color: white;
}

.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .steam {
    background: #666666;
    box-shadow: 0 0 16px #666666;
}
.socialIcons .google {
  background-color: #e06656;
  color: white;
}


 /*Login------------------------------*/	
 .login-title {
    font-size:30px;
    font-weight: 300;
	color:#000; margin-bottom:10px;
}
.sign-in-form-module {
    background-color: #f3f3f4;
    padding: 32px;
    border-radius: 2px;
}
.login2 {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: 000;
    display: block;
    /* padding: 6px 12px; */
    padding: 5px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100% !important;
    font-size: 13px;
    height: 40px;
}
.or-divider-login {
    background-color: #f3f3f4;
    border-top: 0px;
    border-bottom: 1px solid #aaa;
    height: 20px;
}
.or-bubble-login {
    background-color: #f3f3f4;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 20px;
    line-height: 33px;
    font-weight: 500;
    overflow: show;
    font-size: 13px;
}

 /*Profile------------------------------*/	
.boxes-market {
    float: left;
    /*width: 8.8%;*/ width: 9.9%;
}

	
 /*Colors------------------------------*/	
.buy{color:#00a65a;}
.sell{color:#FF0000;}
.green{color:#00a65a;}
.red{/*color:#FF0000;*/ color:#ce0000;}
.blue{color:#004eea;}
.low{color:#d6a9a9;}
.medium{color:#d66767;}
.high{color:#dd0000;}
.boxes{float:left; /*width:27%;*/ width: 16%;}

 /*Search form------------------------------*/
.metricSearch{/*width:31.5%;*/ width: 27.3%; float:left; margin-left:5px; margin-bottom:5px;}
.boxes-small{float:left; /*width:17.8%;*/ width:12.8%;}
.boxes-check{float:left; /*width:17.8%;*/ width:20.8%;}
.boxes-sd1{float:left; width:16%;}
.boxes-sd2{float:left; width:11.8%;}
.col-box{width:47%; float:left; margin-left:5px; margin-bottom:5px;}
.col-box2{width:100%; float:left; margin-left:5px; margin-bottom:5px; padding-right:5px;}
.col-box3{width:31%; float:left; margin-left:5px; margin-bottom:5px; padding-right:5px;}
.col-box-small{float:left; margin-left:5px; margin-top:3px;}
.table-h{line-height: 1 !important;}
.padtop-b{padding:4px 7px;}

 /*ticket form------------------------------*/
.ticket-box {
    width: 22.9%;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

 /*Follow unfollow------------------------------*/
.hidden {
display: none;
}

 /*buttons------------------------------*/
.nav-tabs {
    border-bottom:none; 
}
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-image: none;
    background: #48c2aa;
    color: #fff;
}
.fa-i-big {
    color: #fff !important;
    /* background: #4c7fb1 !important; */
    background: linear-gradient(20deg,#1ab394,#1ab394) !important;
}
.fa-i-big {
    padding: 3px 5px 3px 6px !important;
    display: table-cell !important;
    width: 25px !important;
    margin-right: 3px !important;
    font-size: 14px !important;
    height: 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 26px !important;
    cursor: pointer !important;
    margin-bottom: 5px;
}

.btn-block {
    display: block;
    width: 100%;
}

.log-in-bt {
    border: 2px solid #333E48;
    border-radius: 2px; padding:8px 15px; color:#000; float:right; margin:9px 0 5px 0; font-size:12px; font-weight:600;
}
.buttoh-h{height:36px; font-size:15px;}

 /*headings------------------------------*/
 h4{
    margin-bottom: 0rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
lable{ margin-left:5px;}
.sub-heading{font-size:14px; color:#1b2a47; font-weight:600; margin-bottom:15px;}
.metric-t{font-size:13px; font-weight:500;}
.sub-title{font-size:13px; font-weight:600;}
.topnews{font-size:11px; /*padding-top:20px;*/ padding-top:14px; float:left;}
.empty-title{border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;}

 /*Image responsive------------------------------*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}



 /*Login------------------------------*/
 .login{
  background-color: #f2f3f3;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color:000;
  display: block;
  /*padding: 6px 12px;*/ padding: 5px 10px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100% !important; font-size:13px; height: 40px; 
}
 
 
 
input{
/*width: 100%;*/
  padding: 12px;
  border: none;
  border-radius: 4px;
/*  margin: 5px 0;*/
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
.btnsocial{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */ text-align:center;
}

input:hover,
.btnsocial:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.fb:hover{color:#fff;}

.twitter {
  background-color: #55ACEE;
  color: white;
}
.twitter:hover{color:#fff;}


.linkedin:hover{color:#fff;}


.google:hover{color:#fff;}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 40%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 248px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }

}

@media screen and (max-width: 666px) {
.log-in-bt {
   float: none;
    margin-left: auto;
    margin-right: auto; width:100%; display: block; text-align:center;
}
.logol {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 992px){
.modal-lg {
    max-width: 1024px;
}
}


@media screen and (max-width: 768px) {.toplogo{display:block;}}

@media screen and (max-width: 990px) {
        .navigate{float:left; margin-left: 17px;}
}

