﻿
@{
    ViewBag.Title = "AddBuySell";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Buy/Sell</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Activity" ng-model="txtbuysell">
                                </div>

                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitBuysell()">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">

                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID.</th>
                                            <th width="50">Activity</th>
                                            <th width="170">Created</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="BuySellData"> </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdetails">
            <div class="ibox-title greentitle">
                <h5>Edit Buy/Sell</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>BuySell ID: <span class="text-navy" id="BuySellId"></span>, Created Date: <span class="text-navy" id="BuySellEntryDate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Activity</label>
                                    <input type="text" class="input-control" placeholder="Activity" id="buySellActivity">
                                </div>

                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left"> Buysell ID:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsId"></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Activity:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsActivity"> </div></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsBuyEntrydate"> </div></td>
                                    </tr>
                                </table>
                                <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                            </div>

                            <br>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>

<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetBuysell", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].BuySellID + '</td>';
                        htmlStr += '<td>' + str[i].BuySell + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].BuySellID + '' + ',' + '\'' + str[i].BuySell + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewBuySell(' + '' + str[i].BuySellID + '' + ',' + '\'' + str[i].BuySell + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeletetBuysell(' + str[i].BuySellID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#BuySellData").html(htmlStr)
                }
            });
        }
        $scope.SubmitEdit = function () {
            var buysellid = $('#BuySellId').html();
            var buysellActivity = $("#buySellActivity").val();
           // var Entrydate = $("#BuySellEntryDate").html();
            //var peroidUnit = $("#txteditunit").val();Sucessdate
            //var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("EditBuySell", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { BuySellID: buysellid, BuySell: buysellActivity },
                success: function (data) {
                    location.reload();
                }
            });
        }
        $scope.SubmitBuysell = function () {
            var namebuysell = $scope.txtbuysell;
               $.ajax({
                url: '@Url.Action("AddBuySell", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { buysell: namebuysell },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }

    });
    function Edit(BuySellID, BuySell, EntryDate) {
        $("#editdetails").show();
        $("#BuySellId").html(BuySellID);
        $("#BuySellEntryDate").html(EntryDate);
        // $("#statusID").val(status);
        $('#buySellActivity').val(BuySell);
    }
    function ViewBuySell(BuySellID, BuySell, EntryDate)
    {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsId").html(BuySellID);
        $("#txtdetailsBuyEntrydate").html(EntryDate);
        $("#txtdetailsActivity").html(BuySell);
        //$("#txtdetailsTFUnit").html(PeriodUnit);
        //$("#txtdetailsTFStatus").html(statusID);
    }
    function DeletetBuysell(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteBuysell", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { ID: id },
                success: function (data) {

                    location.reload();
                }
            });
        }
    }
</script>