﻿
@{
    ViewBag.Title = "AddEarningsCritieria";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Earnings Critieria</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> @*<a class="close-link" href=""> <i class="fa fa-times"></i> </a>*@ </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="SignalPerformanceEarningsPeriodID" ng-model="SignalPerformanceEarningsPeriodID" ng-change="selectedItemChanged(SignalPerformanceEarningsPeriodID)" class="input-control"
                                                ng-options="o.SignalPerformanceEarningsPeriodID as o.SignalPerformanceEarningsPeriodID for o in getPeroid">
                                            <option value=""> select Peroid</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select Market</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Success Earning Rate" ng-model="txtSuccessRate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Average pips Percent Rate" ng-model="txtAvgRate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Trader Signal pinned Rate" ng-model="txtTrader">
                                    </div>
                                    <div class="form-group">
                                        <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitEarningCriteria()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-10 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID.</th>
                                                <th width="50">Period</th>
                                                <th width="172">Market</th>
                                                <th width="50">Earnning</th>
                                                <th width="50">Avg.</th>
                                                <th width="50">Rate</th>
                                                <th width="50">Status</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllEarningRates">
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Earnings Criteria</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Earnings Criteria ID: <span class="text-navy" id="EditID"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label> Earning Peroid</label>
                                        <input type="text"   class="input-control"  id="EditPeroid" readonly="">
                                    </div>
                                    <div class="form-group">
                                        <label> Market</label>
                                        <input type="text" class="input-control" id="EditMarket" readonly="">
                                    </div>
                                    <div class="form-group">
                                        <label> Earning  Rate</label>
                                        <input type="text" class="input-control" id="EditRate">
                                    </div>
                                    <div class="form-group">
                                        <label> Average Pips</label>
                                        <input type="text" class="input-control"  id="EditAvgPips">
                                    </div>
                                    <div class="form-group">
                                        <label> Trader Rate</label>
                                        <input type="text" class="input-control" id="EditTraderRate">
                                    </div>

                                    <div class="form-group">
                                        <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Earnings Criteria Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Earnings Criteria ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Peroid:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPeroid"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileMarket"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Success Earning Rate:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEarningRate"></div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Average pips percent Rate:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsAvgPip"> </div></td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Trader Signal Pinned Rate</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsTraderRates"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        @*<tr>
                                            <td>
                                                <label>
                                                    <div align="left">Creation Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left">9.30 am, 12-Nov-19 </div></td>
                                        </tr>*@
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getallmarket();
        getStatusData();
        GetData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        GetEarningPeroidList();
        function GetEarningPeroidList() {
            $.ajax({
                url: '@Url.Action("GetEarningPeroidList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getPeroid = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getallmarket() {
            $.ajax({
                url: '@Url.Action("Getmarkets", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarkets = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }
        function GetData() {
            //alert("start");
            $.ajax({
                url: '@Url.Action("GetEarningRates", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalProviderEarningRatesID + '</td>';
                        htmlStr += '<td>' + str[i].SignalPerformanceEarningsPeriodID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].SuccessEarningsRate + '</td>';
                        htmlStr += '<td>' + str[i].AveragePipsPercentRate + '</td>';
                        htmlStr += '<td>' + str[i].TradersSignalsPinnedRate + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalProviderEarningRatesID + '' + ',' + '\'' + str[i].SignalPerformanceEarningsPeriodID + '\'' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].SuccessEarningsRate + '\'' + ',' + '\'' + str[i].AveragePipsPercentRate + '\'' + ',' + '\'' + str[i].TradersSignalsPinnedRate + '\'' + ',' + '\'' + str[i].Status + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].SignalProviderEarningRatesID + '' + ',' + '\'' + str[i].SignalPerformanceEarningsPeriodID + '\'' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].SuccessEarningsRate + '\'' + ',' + '\'' + str[i].AveragePipsPercentRate + '\'' + ',' + '\'' + str[i].TradersSignalsPinnedRate + '\'' + ',' + '\'' + str[i].Status + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].SignalProviderEarningRatesID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllEarningRates").html(htmlStr)
                }
            });
        }
        $scope.submitEarningCriteria = function () {
            //debugger;
            var PeriodID = $scope.SignalPerformanceEarningsPeriodID;
            var MarketId = $scope.MarketID;
            var SuccessEarningsRate = $scope.txtSuccessRate;
            var AveragePipsPercentRate = $scope.txtAvgRate;
            var TradersSignalsPinnedRate = $scope.txtTrader;
            var StatusID = $scope.StatusID;
            var EarningCrieteriaRes = {
                'PeriodID': PeriodID, 'MarketId': MarketId, 'SuccessEarningsRate': SuccessEarningsRate,
                'AveragePipsPercentRate': AveragePipsPercentRate, 'TradersSignalsPinnedRate': TradersSignalsPinnedRate, 'StatusID': StatusID
               
            };
            var res = JSON.stringify(EarningCrieteriaRes);
            $.ajax({
                url: '@Url.Action("AddEarningsCritieria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }

        $scope.submitEdit = function () {
            //debugger;
            var SignalProviderEarningRatesID = $("#EditID").html();
            //var PeriodID = $('#EditPeroid').val();
            //var MarketId = $('#EditMarket').val();
            var SuccessEarningsRate = $('#EditRate').val();
            var AveragePipsPercentRate = $('#EditAvgPips').val();
            var TradersSignalsPinnedRate = $('#EditTraderRate').val();
            var StatusID = $scope.StatusID;
            var EarningCrieteriaRes = {
                'SignalProviderEarningRatesID': SignalProviderEarningRatesID, 'SuccessEarningsRate': SuccessEarningsRate,
                'AveragePipsPercentRate': AveragePipsPercentRate, 'TradersSignalsPinnedRate': TradersSignalsPinnedRate, 'StatusID': StatusID
               
            };
            var res = JSON.stringify(EarningCrieteriaRes);
            $.ajax({
                url: '@Url.Action("EditEarningsCritieria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }
    });
    function Edit(SignalProviderEarningRatesID, PeriodID, MarketId, SuccessEarningsRate, AveragePipsPercentRate, TradersSignalsPinnedRate, StatusID) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditID").html(SignalProviderEarningRatesID);
        //$("#EditEntryDate").html(EntryDate);
        $('#EditPeroid').val(PeriodID);
        $('#EditMarket').val(MarketId);
        $('#EditRate').val(SuccessEarningsRate);
        $('#EditAvgPips').val(AveragePipsPercentRate);
        $('#EditTraderRate').val(TradersSignalsPinnedRate);
        $("#statusID").val(StatusID);
    }
    function View(SignalProviderEarningRatesID, PeriodID, MarketId, SuccessEarningsRate, AveragePipsPercentRate, TradersSignalsPinnedRate, StatusID) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(SignalProviderEarningRatesID);
        $("#DetailsPeroid").html(PeriodID);
        $("#DetaileMarket").html(MarketId);
        $("#DetailsEarningRate").html(SuccessEarningsRate);
        $("#DetailsAvgPip").html(AveragePipsPercentRate);
        $("#DetailsTraderRates").html(TradersSignalsPinnedRate);
        $("#DetailsStatus").html(StatusID);
       
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteEarningsCritieria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalProviderEarningRatesID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>