﻿
@{
    ViewBag.Title = "AddEarningPeriod";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Earnings Period</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        @*<select class="input-control" placeholder="City">
                                                <option>Market Name</option>
                                                <option>Crypto</option>
                                            </select>*@
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" style="width: 92.5%;" placeholder="From Date" id="txtfromdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" style="width: 92.5%;" placeholder="To Date" id="txttodate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="Submitearningperiod()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="80">Market</th>
                                                <th width="304">From</th>
                                                <th width="304">To</th>
                                                <th width="50">Status</th>
                                                <th width="304">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="getallEarningsPeriod">       </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Earning Peroid</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Peroid ID: <span class="text-navy" id="EditEPId"></span>, created Date: <span class="text-navy" id="EditEPEntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Select Market</label>
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label>Form Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" style="width: 92.5%;" id="EditEPSFromdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label>To Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" style="width: 92.5%;" id="EditEPValiddate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">peroid ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPMarketName"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">From:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPSFromdate"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">To</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPValiddate"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsEPEntrydate">  </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>

<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getallmarket();
        getEarningsPeriod();
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getallmarket() {
            $.ajax({
                url: '@Url.Action("Getmarkets", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarkets = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }

        function getEarningsPeriod()
        {
            $.ajax({
                url: '@Url.Action("GetEarningsPeriod", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalPerformanceEarningsPeriodID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].StartFrom + '</td>';
                        htmlStr += '<td>' + str[i].ValidTill + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalPerformanceEarningsPeriodID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].StartFrom + '\'' + ',' + '\'' + str[i].ValidTill + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewEarningPeriod(' + '' + str[i].SignalPerformanceEarningsPeriodID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].StartFrom + '\'' + ',' + '\'' + str[i].ValidTill + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteEarningperiod(' + str[i].SignalPerformanceEarningsPeriodID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#getallEarningsPeriod").html(htmlStr)
                }
            });

        }

        $scope.Submitearningperiod = function () {
            var marketid = $scope.MarketID;
            var fromdate =$("#txtfromdate").val();
            var todate = $("#txttodate").val();
            var statusId = 1;
                 $.ajax({
                url: '@Url.Action("AddEarningPeriod", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MarketID: marketid, StartFrom: fromdate, ValidTill: todate, statusID: statusId },
                success: function () {
                   // alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {

            var EPid = $('#EditEPId').html();
            var MarketId = $scope.MarketID;
            var fromdate = $("#EditEPSFromdate").val();
            var todate = $("#EditEPValiddate").val();
            // var Entrydate = $("#Sucessdate").html();
            //var peroidUnit = $("#txteditunit").val();Sucessdate
            var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("EditEarningPeriod", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalPerformanceEarningsPeriodID: EPid, MarketID: MarketId, StartFrom: fromdate, ValidTill: todate, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }


    });


    function Edit(SignalPerformanceEarningsPeriodID, MarketName, StartFrom, ValidTill, Status, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditEPId").html(SignalPerformanceEarningsPeriodID);
        $('#EditEPMarketName').val(MarketName);
        $("#EditEPSFromdate").val(StartFrom);
        $("#EditEPValiddate").val(ValidTill);
        $("#EditEPEntryDate").html(EntryDate);
        $("#statusID").val(Status);

    }
    function ViewEarningPeriod(SignalPerformanceEarningsPeriodID, MarketName, StartFrom, ValidTill, Status, EntryDate)
    {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsEPId").html(SignalPerformanceEarningsPeriodID);
        $('#txtdetailsEPMarketName').html(MarketName);
        $("#txtdetailsEPSFromdate").html(StartFrom);
        $("#txtdetailsEPValiddate").html(ValidTill);
        $("#txtdetailsEPEntrydate").html(EntryDate);
        $("#txtdetailsEPStatus").html(Status);
        //$("#txtdetailsTFUnit").html(PeriodUnit);
        //$("#txtdetailsTFStatus").html(statusID);
    }
    function DeleteEarningperiod(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
             $.ajax({
                url: '@Url.Action("DeleteEarningperiod", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalPerformanceEarningsPeriodID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

</script>
