﻿
@{
    ViewBag.Title = "AddMessagelibrary";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5> Message library</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="ChannelsID" ng-model="ChannelsID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.MessageChannelsID as o.ChannelType for o in getMessageChannels">
                                            <option value="">Select Channel</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="" type="text" class="input-control" placeholder="Message Name" ng-model="txtMname">
                                    </div>
                                    <div class="form-group">
                                        <input name="" type="text" class="input-control" placeholder="Message Type" ng-model="txtMType">
                                    </div>
                                    <div class="form-group">
                                        <input name="" type="text" class="input-control" placeholder="Squence No" ng-model="txtSno">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="" cols="" rows="8" class="input-control" placeholder="Message" ng-model="txtMessage"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitMessageLibrary()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="ListView">
                <div class="ibox-title redtitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="80">ID</th>
                                                <th width="90">Type</th>
                                                <th width="100">Name</th>
                                                <th width="100">Message</th>
                                                <th width="100">Type</th>
                                                <th width="80">SNo</th>
                                                <th width="80">Role</th>
                                                <th width="70">Status</th>
                                                <th width="170">EntryDate</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetMessageLibarary"> </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="editdiv">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5 id="editform">Edit Message Library</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <h5> ID: <span class="text-navy" id="EditID"> </span>, Created Date: <span class="text-navy" id="EditEntryDate"> </span></h5>
                                <div class="form-group">
                                    <select id="ChannelsID" ng-model="ChannelsID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                            ng-options="o.MessageChannelsID as o.ChannelType for o in getMessageChannels">
                                        <option value="" id="EditChannel">Select Channel</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input name="" type="text" class="input-control" placeholder="Message Name" id="EdtMname">
                                </div>
                                <div class="form-group">
                                    <input name="" type="text" class="input-control" placeholder="Message Type" id="EditMType">
                                </div>
                                <div class="form-group">
                                    <input name="" type="text" class="input-control" placeholder="1" readonly="" id="EditSno">
                                </div>
                                <div class="form-group">
                                    <textarea name="" cols="" rows="8" class="input-control" placeholder="Message" id="EditMsg"></textarea>
                                </div>
                                <div class="form-group">
                                    <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                            ng-options="o.RoleID as o.RoleName for o in getRole">
                                        <option value="" id="EditRole">Select Role</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value="" id="EditStatus">Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Message Library ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Chnnel Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsCType"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Message Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsMType"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Message Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsMName"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Message:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsMessage"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Sequence Number:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSno"> </div></td>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Role:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailRole"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getRole();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        getMessageChannels();
        getStatusData();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getMessageChannels() {
            $.ajax({
                url: '@Url.Action("GetMessageChannels", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getMessageChannels = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetMessageLibrary", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].MessageLibraryID + '</td>';
                        htmlStr += '<td>' + str[i].ChannelType + '</td>';
                        htmlStr += '<td>' + str[i].MessageName + '</td>';
                        htmlStr += '<td>' + str[i].Message + '</td>';
                        htmlStr += '<td>' + str[i].MessageType + '</td>';
                        htmlStr += '<td>' + str[i].SequenceNo + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].MessageLibraryID + '' + ',' + '\'' + str[i].ChannelType + '\'' + ',' + '\'' + str[i].MessageName + '\'' + ',' + '\'' + str[i].Message + '\'' + ',' + '\'' + str[i].MessageType + '\'' + ',' + '\'' + str[i].SequenceNo + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].MessageLibraryID + '' + ',' + '\'' + str[i].ChannelType + '\'' + ',' + '\'' + str[i].MessageName + '\'' + ',' + '\'' + str[i].Message + '\'' + ',' + '\'' + str[i].MessageType + '\'' + ',' + '\'' + str[i].SequenceNo + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].MessageLibraryID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetMessageLibarary").html(htmlStr)
                }
            });
        }

        $scope.submitMessageLibrary = function () {
            //debugger;
            var ChannelID = $scope.ChannelsID;
            var MessageName = $scope.txtMname;
            var SequenceNo = $scope.txtSno;
            var MessageType = $scope.txtMType;
            var Message = $scope.txtMessage;
            var RoleID = $scope.RoleID;
            var StatusId = $scope.statusID;

            var MLRes = {
                'ChannelID': ChannelID, 'MessageName': MessageName, 'SequenceNo': SequenceNo,
                'MessageType': MessageType, 'Message': Message, 'RoleID': RoleID,
                'StatusId': StatusId
            };
            var res = JSON.stringify(MLRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("AddMessageLibrary", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }
        $scope.SubmitEdit = function () {
            //debugger;
            var MessageLibraryID = $("#EditID").html();
            var ChannelID = $scope.ChannelsID;
            var MessageName = $('#EdtMname').val();
            var SequenceNo = $('#EditSno').val();
            var MessageType = $('#EditMType').val();
            var Message = $('#EditMsg').val();
            var RoleID = $scope.RoleID;
            var StatusId = $scope.statusID;
            var MLRes = {
                'MessageLibraryID': MessageLibraryID,
                'ChannelID': ChannelID, 'MessageName': MessageName, 'SequenceNo': SequenceNo,
                'MessageType': MessageType, 'Message': Message, 'RoleID':RoleID,
                'StatusId': StatusId
            };
            var res = JSON.stringify(MLRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("EditMessageLibrary", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }


    });
    function Edit(MessageLibraryID, ChannelID, MessageName, Message, MessageType, SequenceNo, RoleID, StatusID, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditID").html(MessageLibraryID);
        $("#EditEntryDate").html(EntryDate);
        $('#EditChannel').val(ChannelID);
        $('#EdtMname').val(MessageName);
        $('#EditMsg').val(Message);
        $('#EditMType').val(MessageType);
        $('#EditSno').val(SequenceNo);
        $("#EditStatus").val(StatusID);
        $("#EditRole").val(RoleID)
    }
    function View(MessageLibraryID, ChannelID, MessageName, Message, MessageType, SequenceNo, RoleID, StatusID, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(MessageLibraryID);
        $("#DetailsEntryDate").html(EntryDate);
        $('#DetailsCType').html(ChannelID);
        $('#DetailsMName').html(MessageName);
        $('#DetailsMessage').html(Message);
        $('#DetailsMType').html(MessageType);
        $('#DetailSno').html(SequenceNo);
        $("#DetailsStatus").html(StatusID);
        $("#DetailRole").html(RoleID)
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteMessageLibrary", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MessageLibraryID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }


</script>