﻿
@{
    ViewBag.Title = "AddMarket";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}


<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Market</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter Market Name" ng-model="txtmarket">
                                    </div>

                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="Submitmarket()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-8 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="95">Name</th>
                                                <th width="113">Status</th>
                                                <th width="304">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllmarkets">       </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Market</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5> Market ID: <span class="text-navy" id="EditMarketId"></span>, Created Date: <span class="text-navy" id="EditMarketEntryDate"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Market Name</label>
                                        <input type="text" class="input-control" placeholder="Market Name" id="EditMarketName">
                                    </div>
                                    <div class="form-group">
                                        <label> Status</label>
                                        <select id="Mystatus" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsMId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsMname"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsMstatus"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsMEntrydate"></div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllmarkets", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].MarketID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].MarketID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewMarkets(' + '' + str[i].MarketID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Deletemarkets(' + str[i].MarketID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllmarkets").html(htmlStr)
                }
            });
        }

        $scope.Submitmarket = function () {
            var marketname = $scope.txtmarket;
            var statusId = 1;
            $.ajax({
                url: '@Url.Action("AddMarket", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MarketName: marketname, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var id = $('#EditMarketId').html();
            var Marketn = $("#EditMarketName").val();
            // var Entrydate = $("#Sucessdate").html();
            //var peroidUnit = $("#txteditunit").val();Sucessdate
           // var statusId = $scope.statusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            $.ajax({
                url: '@Url.Action("EditMarketName", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MarketID: id, MarketName: Marketn, Status: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }

    });
    function Edit(MarketID, MarketName, StatusID, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditMarketId").html(MarketID);
        $("#EditMarketEntryDate").html(EntryDate);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
        $('#EditMarketName').val(MarketName);
    }
    function ViewMarkets(MarketID, MarketName, Status, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsMId").html(MarketID);
        $("#txtdetailsMEntrydate").html(EntryDate);
        $("#txtdetailsMname").html(MarketName);
        //$("#txtdetailsTFUnit").html(PeriodUnit);
        $("#txtdetailsMstatus").html(Status);
    }
    function Deletemarkets(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("Deletemarkets", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MarketID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }



</script>