﻿
@{
    ViewBag.Title = "AddPercent";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}


<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5> PIPs/Percent</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="ScrptOutput Unit" ng-model="txtpercent">
                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="Submitpippercent()">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">

                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-7 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID</th>
                                            <th width="80">Unit</th>
                                            <th width="80">Status</th>
                                            <th width="170">Created</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pipspercentData"> </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="editdetails">
            <div class="ibox-title greentitle">
                <h5>Edit PIPs/Persent</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>ID: <span class="text-navy" id="txteditPipId"> </span>, Created Date: <span class="text-navy" id="txteditPipEntryDate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Script output Unit</label>
                                    <input type="text" class="input-control" placeholder="Script Output Unit" value="PIPs" id="txteditScriptunit">
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">ID:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="PipDetailsId"></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Unit:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="PipDetailunit"></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Status:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="PipDetailsStatus"></div></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="PipDetailsEntryDate"></div></td>
                                    </tr>
                                </table>

                            </div>

                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getStatusData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
                 $.ajax({
                url: '@Url.Action("Getpercent", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].PipsOrPercentID + '</td>';
                        htmlStr += '<td>' + str[i].PipsOrPercentName + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        //htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].PipsOrPercentID + '' + ',' + '' + str[i].PipsOrPercentName + '' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].PipsOrPercentID + '' + ',' + '\'' + str[i].PipsOrPercentName + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewPipPercent(' + '' + str[i].PipsOrPercentID + '' + ',' + '\'' + str[i].PipsOrPercentName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Deletepercent(' + str[i].PipsOrPercentID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#pipspercentData").html(htmlStr)
                }
            });
        }

        $scope.Submitpippercent = function () {
            var Namepercent = $scope.txtpercent;
            var statusId = 1;
            $.ajax({
                url: '@Url.Action("AddPercent", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { percent: Namepercent, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var pipid = $('#txteditPipId').html();
            var pipname = $("#txteditScriptunit").val();
           // var statusId = $scope.statusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            //var relSymbol = $("#txtRelSymbol").val();
            //var statusId = $("#statusID").val();
            $.ajax({
                url: '@Url.Action("EditPipPercent", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { PipsOrPercentID: pipid, percent: pipname, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }

    });
    function Edit(PipsOrPercentID, PipsOrPercentName, StatusID, EntryDate) {
        $("#editdetails").show();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txteditPipId").html(PipsOrPercentID);
        $("#txteditPipEntryDate").html(EntryDate);
        $('#txteditScriptunit').val(PipsOrPercentName);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);

        // $('#relDate').html(entryDate);
    }
    function Deletepercent(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            {
            $.ajax({
                url: '@Url.Action("Deletepercent", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Id: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
    function ViewPipPercent(PipsOrPercentID, PipsOrPercentName, Status, EntryDate) {
        $("#editdetails").hide();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        $("#detaildiv").show();
        $("#PipDetailsId").html(PipsOrPercentID);
        $("#PipDetailunit").html(PipsOrPercentName);
        $("#PipDetailsEntryDate").html(EntryDate);
        $("#PipDetailsStatus").html(Status);
    }

</script>