﻿
@{
    ViewBag.Title = "AddReferralStatus";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}


<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5> Referrer Status</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">

                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter Status" ng-model="referrerstatus">
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>

                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitReferrerstatus()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle ">
                    @*redtitle *@
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-8 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30">ID.</th>
                                                <th width="80">Referrer</th>
                                                <th width="100">Status</th>
                                                <th width="180">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ReferrerStatusData"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Referrer Status</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Referal ID: <span class="text-navy" id="EditRefId"> </span>, Created Date: <span class="text-navy" id="EditRefEntryDate"> </span></h5>
                                <div class="col-md-4  pad0">

                                    <div class="form-group">
                                        <label>Referal Status</label>
                                        <input type="text" class="input-control" placeholder="Enter Referal Status" id="EditRefStatus">
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="Mystatus" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Referal ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsRId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Referal Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsRStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsRefstatus"></div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="txtdetailsREntrydate"></div></td>
                                        </tr>
                                    </table>
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetReferrerStatus", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].ReferrerStatusID + '</td>';
                        htmlStr += '<td>' + str[i].ReferrerStatus + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].ReferrerStatusID + '' + ',' + '\'' + str[i].ReferrerStatus + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewRefStatus(' + '' + str[i].ReferrerStatusID + '' + ',' + '\'' + str[i].ReferrerStatus + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteReferrerstatus(' + str[i].ReferrerStatusID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#ReferrerStatusData").html(htmlStr)
                }
            });
        }

        $scope.SubmitReferrerstatus = function () {
            var referrername = $scope.referrerstatus;
            var statusId = 1;
            $.ajax({
                url: '@Url.Action("AddRefererstatus", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { RStatus: referrername, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var id = $('#EditRefId').html();
            var RStatus = $("#EditRefStatus").val();
            // var Entrydate = $("#Sucessdate").html();
            //var peroidUnit = $("#txteditunit").val();Sucessdate
           // var statusId = $scope.statusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex);
            $.ajax({
                url: '@Url.Action("EditReferral", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { ReferrerStatusID: id, ReferrerStatus: RStatus, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }


    });

    function Edit(ReferrerStatusID, ReferrerStatus, StatusID, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditRefId").html(ReferrerStatusID);
        $("#EditRefEntryDate").html(EntryDate);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
        $('#EditRefStatus').val(ReferrerStatus);
    }
    function ViewRefStatus(ReferrerStatusID, ReferrerStatus, Status, EntryDate)
    {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsRId").html(ReferrerStatusID);
        $("#txtdetailsREntrydate").html(EntryDate);
        $("#txtdetailsRStatus").html(ReferrerStatus);
        //$("#txtdetailsTFUnit").html(PeriodUnit);
        $("#txtdetailsRefstatus").html(Status);
    }
    function DeleteReferrerstatus(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteReferrerstatus", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { ReferrerId: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>