﻿
@{
    ViewBag.Title = "AddReliability";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" id="addView">
                    <div class="ibox-title yellowtitle">
                        <h5>Reliability</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" ng-model="relibName" placeholder="Reliability Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" ng-model="relibSymbol" placeholder="Reliability Symbol">

                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitReliability()">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID.</th>
                                            <th width="40">Name</th>
                                            <th width="80">Symbol</th>
                                            <th width="100">Status</th>
                                            <th width="170">Created</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="86">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reliabilityData"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdiv">
            <div class="ibox-title greentitle">
                <h5>Edit Reliability</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>Reliability ID: <span class="text-navy" id="relId"></span>, Created Date: <span class="text-navy" id="relDate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Reliability Name</label>
                                    <input id="txtRelId" type="text" class="input-control">
                                </div>
                                <div class="form-group">
                                    <label>Reliability Symbol</label>
                                    <input id="txtRelSymbol" type="text" class="input-control">
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Reliability ID:</div>
                                            </label>
                                        </td>
                                        <td id="relIdDetails"><div align="left"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Name:</div>
                                            </label>
                                        </td>
                                        <td id="txtRelnameDetails"><div align="left">  </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Symbol</div>
                                            </label>
                                        </td>
                                        <td id="txtRelSymbolDetails"><div align="left"> </div></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Status:</div>
                                            </label>
                                        </td>
                                        <td><div align="left">Active</div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td id="relDateDetails"><div align="left"> </div></td>
                                    </tr>
                                </table>
                                @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        getStatusData();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
          function GetData() {
            $.ajax({
                url: '@Url.Action("GetReliability", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].ReliabilityID + '</td>';
                        htmlStr += '<td>' + str[i].Name + '</td>';
                        htmlStr += '<td>' + str[i].Symbol + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                       // htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].ReliabilityID + '' + ',' + '\'' + str[i].Name + '\'' + ',' + '\'' + str[i].Symbol + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].ReliabilityID + '' + ',' + '\'' + str[i].Name + '\'' + ',' + '\'' + str[i].Symbol + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewRelib(' + '' + str[i].ReliabilityID + '' + ',' + '\'' + str[i].Name + '\'' + ',' + '\'' + str[i].Symbol + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteRelib(' + str[i].ReliabilityID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#reliabilityData").html(htmlStr)
                }
            });
        }

        $scope.SubmitReliability = function ()
        {
            var relabilName = $scope.relibName;
            var relibSymbol = $scope.relibSymbol;
           // alert(relibSymbol);
            var statusId = 1;
            $.ajax({
                url: '@Url.Action("AddReliability", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { relabilityName: relabilName, relibilitySymbol: relibSymbol, statusID: statusId },
                success: function ()
                {
                   // alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var relId =  $('#relId').html();
            var relName = $("#txtRelId").val();
            var relSymbol = $("#txtRelSymbol").val();
            //var statusId = $("#ddlId").val();
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
          //  var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("EditReliability", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { relibilityID: relId, reliablityName: relName, reliabilitySymbol: relSymbol, statusId: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }
    });
    function Edit(id, name, symbol, StatusID, entryDate) {
        $("#editdiv").show();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtRelId").val(name);
        $("#txtRelSymbol").val(symbol);
        var e = document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
        $('#relId').html(id);
        $('#relDate').html(entryDate);
    }
    function ViewRelib(id, name, symbol, entryDate) {

        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        $("#detaildiv").show();
        $("#editdiv").hide();
        $('#relIdDetails').html(id);
        $("#txtRelnameDetails").html(name);
        $("#txtRelSymbolDetails").html(symbol);
        // $("#statusID").val(status);
        $('#relDateDetails').html(entryDate);
    }

    function DeleteRelib(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            // return true;
            $.ajax({
                url: '@Url.Action("DeleteRelibility", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { relibilityID: id },
                success: function (data) {
                    location.reload();
                }
            });
    }
</script>
