﻿
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Role</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Enter Role" ng-model="txtRole">
                                </div>
                                <div class="form-group">
                                    @*<input type="text"  class="input-control" placeholder="User Type">*@
                                    <select id="UserTypeID" ng-model="UserTypeID" ng-change="selectedItemChanged(UserTypeID)" class="input-control"
                                            ng-options="U.UserTypeID as U.UserTypeName for U in GetUserType">
                                        <option value=""> User Type</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value="">Status</option>
                                    </select>

                                </div>

                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitRole()">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="44">ID.</th>
                                            <th width="95">Role</th>
                                            <th width="91" hidden> RoleRefID</th>
                                            <th width="113">User</th>
                                            <th width="91">Status</th>
                                            <th width="304">Created </th>
                                            <th width="29">&nbsp;</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="86">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="GetRoleListDetails"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdetails">
            <div class="ibox-title greentitle">
                <h5>Edit Role</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>Role ID: <span class="text-navy" id="EditRoleId"> </span>, Created Date: <span class="text-navy" id="EditRoleEnteryDate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" class="input-control" placeholder="User Type" id="EditRoleName">
                                </div>
                                <div class="form-group">
                                    <label>User</label>
                                    <select id="MyUserTypeID" ng-model="UserTypeID" ng-change="selectedItemChanged(UserTypeID)" class="input-control"
                                            ng-options="U.UserTypeID as U.UserTypeName for U in GetUserType">
                                        <option value=""> Select User</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Role ID:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="DetaileId"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">User Type:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="DetailUserType"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Role</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="DetailRoleName"> </div> </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Status:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="DetailStatus"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="DetailEntryDate">  </div></td>
                                    </tr>
                                </table>

                            </div>

                            <br>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getStatusData();
        GetUserType();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetallRoleDetails", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].RoleID + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td hidden>' + str[i].RoleRefCode + '</td>';
                        htmlStr += '<td>' + str[i].UserTypeName + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].RoleID + '' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].UserTypeID + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewRole(' + '' + str[i].RoleID + '' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].UserTypeName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteRole(' + str[i].RoleID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetRoleListDetails").html(htmlStr)
                }
            });

        }
       function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
       }
        function GetUserType() {
            $.ajax({
                url: '@Url.Action("GetUserType", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.GetUserType = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }

        $scope.SubmitRole = function () {
           // var signaltype = $scope.txtsignaltype;
            var rolename = $scope.txtRole;
            var userId = $scope.UserTypeID;
            var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("AddRole", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { RoleName: rolename, UserTypeName: userId, Status:statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var id = $('#EditRoleId').html();
            var Rolename = $("#EditRoleName").val();
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            var selectUser = document.getElementById('MyUserTypeID')
            var userid = parseInt(selectUser.selectedIndex);
            //var userid = $scope.UserTypeID;
            //var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("EditRole", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { RoleID: id, RoleName: Rolename, UserTypeName: userid, Status: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }

    });
    function Edit(RoleID, RoleName, UserTypeID, StatusID, EntryDate) {
        $("#editdetails").show();
        $("#detaildiv").hide();
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditRoleId").html(RoleID);
        $("#EditRoleEnteryDate").html(EntryDate);
        $("#EditRoleName").val(RoleName);
        document.getElementById("MyUserTypeID").selectedIndex = (parseInt(UserTypeID));
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);

    }
    function ViewRole(RoleID, RoleName, UserTypeName, Status, EntryDate) {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetaileId").html(RoleID);
        $("#DetailEntryDate").html(EntryDate);
        $("#DetailRoleName").html(RoleName);
        $("#DetailUserType").html(UserTypeName);
        //$("#DetailSignalRefund").html(RefundPrice);
        $("#DetailStatus").html(Status);
        // $('#txtRiskname').val(Riskname);
        // $('#relDate').html(entryDate);
    }
    function DeleteRole(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteRole", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { RoleID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>
