﻿
@{
    ViewBag.Title = "AddSuccess";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Success Status</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Sucess Status" ng-model="txtStatus">
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitSuccessStatus()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID</th>
                                            <th width="50">Status</th>
                                            <th width="170">Created</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="SuccessStatusData">    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdiv">
            <div class="ibox-title greentitle">
                <h5>Edit Success</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>Success ID: <span class="text-navy" id="Successid"></span>, Created Date: <span class="text-navy" id="Sucessdate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Success Status</label>
                                    <input type="text" class="input-control" placeholder="Success Status" id="successstatus">
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left"> Success ID:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsSId"></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Success Status:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsSStatus"></div></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsSEntrydate"> </div></td>
                                    </tr>
                                </table>

                            </div>

                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>

<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetSuccessStatus", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SuccessStatusID + '</td>';
                        htmlStr += '<td>' + str[i].SuccessStatus + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        //htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SuccessStatusID + '' + ',' + '' + str[i].SuccessStatus + '' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SuccessStatusID + '' + ',' + '\'' + str[i].SuccessStatus + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewSuccess(' + '' + str[i].SuccessStatusID + '' + ',' + '\'' + str[i].SuccessStatus + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeletetSuccessStates(' + str[i].SuccessStatusID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#SuccessStatusData").html(htmlStr)
                }
            });
        }
        $scope.SubmitSuccessStatus = function () {
            var sucessstatus = $scope.txtStatus;

                $.ajax({
                url: '@Url.Action("AddSuccess", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Status: sucessstatus },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var id = $('#Successid').html();
            var sucessstatus = $("#successstatus").val();
            var Entrydate = $("#Sucessdate").html();
            //var peroidUnit = $("#txteditunit").val();Sucessdate
            //var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("EditSuccess", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SuccessStatusID: id, SuccessStatus: sucessstatus},
                success: function (data) {
                    location.reload();
                }
            });
        }

    });
    function Edit(SuccessStatusID, SuccessStatus, EntryDate) {
        $("#editdiv").show();
        $("#Successid").html(SuccessStatusID);
        $("#Sucessdate").html(EntryDate);
        // $("#statusID").val(status);
        $('#successstatus').val(SuccessStatus);
    }
    function ViewSuccess(SuccessStatusID, SuccessStatus, EntryDate) {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsSId").html(SuccessStatusID);
        $("#txtdetailsSEntrydate").html(EntryDate);
        $("#txtdetailsSStatus").html(SuccessStatus);
        //$("#txtdetailsTFUnit").html(PeriodUnit);
        //$("#txtdetailsTFStatus").html(statusID);
    }
    function DeletetSuccessStates(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
           $.ajax({
                url: '@Url.Action("DeleteSuccess", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SuccessStatusID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

</script>