﻿
@{
    ViewBag.Title = "BroadcastMessage";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Broadcast Message</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select class="input-control" placeholder="City" ng-model="MessageTypeID" id="MessageTypeID">
                                            <option value="">Message Type</option>
                                            <option value="1">Plan</option>
                                            <option value="2">Role Related</option>
                                            <option value="3">Registration</option>
                                        </select>
                                        @*<select id="MessageTypeID" ng-model="MessageTypeID" ng-change="selectedItemChanged(MessageTypeID)" class="input-control"
                                                    ng-options="o.MessageTypeID as o.MessageType for o in getMessageTypeList">
                                                <option value="">Select Message Type</option>
                                            </select>*@
                                    </div>
                                    <div class="form-group">
                                        <input name="" type="text" class="input-control" placeholder="Message Name" ng-model="MessageName">
                                    </div>
                                    <div class="form-group">
                                        <input name="" type="text" class="input-control" placeholder="1" ng-model="sequenceNo">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="" cols="" rows="8" class="input-control" placeholder="Message" ng-model="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(StatusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitBrodcastMsg()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title redtitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="80">ID</th>
                                                <th width="150">Message Name</th>
                                                <th width="150">Message Content</th>
                                                @*<th width="176">Channel ID</th>*@
                                                <th width="130">Sequence No</th>
                                                <th width="100">Role ID</th>
                                                <th width="170">Date</th>
                                                <th width="70">Status</th>
                                                @*<th width="67">Action</th>*@
                                                <th width="50">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="BroadcastMsgData">
                                            @*<tr>
                                                    <td>Role Related</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>SMS</td>
                                                    <td>1</td>
                                                    <td>Signal Providers</td>
                                                    <td>12-Dec-19</td>
                                                    <td>Active</td>
                                                    <td>ON</td>
                                                    <td><a href="admin-ca-broadcastmessage.html#editform"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Role Related</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>Email</td>
                                                    <td>2</td>
                                                    <td>Trader</td>
                                                    <td>13-Dec-19</td>
                                                    <td>Inactive</td>
                                                    <td>OFF</td>
                                                    <td><a href="#"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                                </tr>*@
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="editdiv">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5 id="editform">Edit</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <h5>Message ID: <span class="text-navy" id="EditId"> </span> Created Date: <span class="text-navy" id="EditEntryDate"> </span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <textarea name="" cols="" rows="8" class="input-control" placeholder="Message" id="EditMessage"> </textarea>
                                </div>
                                <div class="form-group">
                                    <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(StatusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value="">Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getRole();
        getStatusData();
        GetData();
        $("#editdiv").hide();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetBrodCastMessages", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].BroadcastMessageID + '</td>';
                        htmlStr += '<td>' + str[i].MessageName + '</td>';
                        htmlStr += '<td>' + str[i].Message + '</td>';
                        htmlStr += '<td>' + str[i].Sequence + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].BroadcastMessageID + '' + ',' + '\'' + str[i].MessageName + '\'' + ',' + '\'' + str[i].Message + '\'' + ',' + '\'' + str[i].Sequence + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + str[i].Status + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#BroadcastMsgData").html(htmlStr)
                }
            });
        }
        //getMessageTypeList()

        $scope.SubmitBrodcastMsg = function () {
            //debugger;
            var MessageTypeID = $scope.MessageTypeID;
            var MessageName = $scope.MessageName;
            var sequenceNo = $scope.sequenceNo;
            var Message = $scope.Message;
            var RoleID = $scope.RoleID;
            var StatusId = $scope.StatusID;

            var BrodcastMsgRes = {
                'MessageTypeID': MessageTypeID, 'MessageName': MessageName, 'sequenceNo': sequenceNo,
                'Message': Message, 'RoleID': RoleID, 'StatusId':StatusId
            };
            var res = JSON.stringify(BrodcastMsgRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("AddBroadcastMessage", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }

        $scope.SubmitEdit = function () {
            //debugger;
            var BroadcastMessageID = $("#EditId").html();
            var Message = $("#EditMessage").val();
            var StatusId = $scope.StatusID;
           // var res = JSON.stringify(BrodcastMsgRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("EditBroadcastMessage", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { BroadcastMessageID: BroadcastMessageID, Message: Message, StatusId: StatusId },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        function getMessageTypeList() {
            $.ajax({
                url: '@Url.Action("GetMessageTypeList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getMessageTypeList = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }





    });
    function Edit(BroadcastMessageID, MessageName, Message, Sequence, RoleName, EntryDate, Status)
    {
        $("#editdiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditId").html(BroadcastMessageID);
        $("#EditEntryDate").html(EntryDate);
        $("#EditMessage").val(Message);
        $('#statusID').val(Status);
    }

</script>
