﻿
@{
    ViewBag.Title = "EarningsStatus";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">

                    <a class="collapse-link" href="">
                        <div class="ibox-title yellowtitle">
                            <h5>Earnings Status</h5>
                            <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li><a class="btn btn-sm btn-white padtop-b active" data-toggle="tab" href="#tab-1">Calculate Earnings</a></li>
                                        <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-3" ng-click="GetSignalProviderRecords()">Earnings Records</a></li>
                                        <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-2" ng-click="GetEarningMatrix()">Earnings Matrix</a></li>
                                        <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-4" ng-click="GetReffererEarning()">Referrer Earnings </a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" id="tab-1" class="tab-pane active">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox collapsed">
                                                        <div class="ibox-title whitetitle" style="padding-left:0;">
                                                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="col-md-4  pad0">
                                                                <div class="form-group">
                                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                                        <option>Search Name</option>
                                                                        <option>ABC</option>
                                                                        <option>XYZ</option>
                                                                        <option>PQR</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option>Select Period</option>
                                                                        <option>Period 1</option>
                                                                        <option>Period 2</option>
                                                                        <option>Period 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option>Select Market</option>
                                                                        <option>Forex</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                                        <option>Select Signal Provider</option>
                                                                        <option>Mr.Jack</option>
                                                                        <option>Mrs.Smith</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div id="data_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div id="data_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-primary btn-xs" type="submit">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear:both;"></div>
                                                </div>
                                            </div>


                                            <div class="ibox-title greentitle">
                                                <h5>List View</h5>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="stocked3"></div>
                                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                                </div>
                                                <div class="col-md-7 top10">
                                                    <div class="row">
                                                        <div class="search-d">
                                                            <div class="input-group">
                                                                <input type="text" class="searchi">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="example4" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th width="269">Period ID</th>
                                                                    <th width="317">Valid From</th>
                                                                    <th width="324">Valid To</th>
                                                                    <th width="230">Market</th>
                                                                    <th width="196">Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listView">
                                                                @*<tr>
                                                                        <td>Period 1</td>
                                                                        <td>20-Dec-19</td>
                                                                        <td>15-Jan-20</td>
                                                                        <td>Forex</td>
                                                                        <td><button class="btn btn-primary btn-xs" type="submit">Calculate</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Period 2</td>
                                                                        <td>15-Jan-20</td>
                                                                        <td>30-Jan-20</td>
                                                                        <td>Forex</td>
                                                                        <td>Done</td>
                                                                    </tr>*@
                                                            </tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ibox-title bluetitle">
                                                <h5>Earning Status Calculation</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="stocked3"></div>
                                                    <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                                </div>
                                                <div class="col-md-12 top10">
                                                    <div class="row">
                                                        <div class="search-d">
                                                            <div align="left"></div>
                                                            <div class="input-group">
                                                                <input type="text" class="searchi">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="example4" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="3"><div align="right" style="margin-top:-30px;">Revenue </div></th>
                                                                    <th><button class="btn btn-default  dim " style="cursor:inherit;">80.15</button></th>
                                                                    <th colspan="3"><div align="right" style="margin-top:-30px;">Total Earnings / Revenue </div></th>
                                                                    <th><button class="btn btn-danger  dim " style="cursor:inherit;">12.87%</button></th>
                                                                    <th><button class="btn btn-warning dim" style="cursor:inherit;" title="Max 8.00%">8.00%</button></th>
                                                                    <th><button class="btn btn-primary dim" style="cursor:inherit;" title="Max 4.00%">1.87%</button></th>
                                                                    <th><button class="btn btn-success dim" style="cursor:inherit;" title="Max 3.00%">3.00%</button></th>
                                                                    <th><button class="btn btn-default  dim " style="cursor:inherit;">10.31</button></th>
                                                                    <th><button class="btn btn-info  dim" style="cursor:inherit;">100%</button></th>
                                                                    <th>&nbsp;</th>
                                                                </tr>
                                                                <tr>
                                                                    <th width="69">Market</th>
                                                                    <th width="136">Signal Provider</th>
                                                                    <th width="70">Count</th>
                                                                    <th width="75">Success </th>
                                                                    <th width="69">Pinned</th>
                                                                    <th width="63">Total</th>
                                                                    <th width="109">Avg Pips</th>
                                                                    <th width="116"><a href="#" data-toggle="modal" data-target="#bonusslabrate"> Bonus Rate</a></th>
                                                                    <th width="158">Earnings- Success</th>
                                                                    <th width="158">Earnings- Bonus</th>
                                                                    <th width="123">Earnings- Pinned</th>
                                                                    <th width="65">Total</th>
                                                                    <th width="51"> %</th>
                                                                    <th width="38">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Forex</td>
                                                                    <td>Mr.Jack</td>
                                                                    <td>100</td>
                                                                    <td>50</td>
                                                                    <td>3</td>
                                                                    <td>750</td>
                                                                    <td>15</td>
                                                                    <td>10%</td>
                                                                    <td> 2.137</td>
                                                                    <td>0.213</td>
                                                                    <td>1.80</td>
                                                                    <td>4.15 </td>
                                                                    <td>40.28% </td>
                                                                    <td>
                                                                        <div class="i-checks">
                                                                            <label>
                                                                                <input type="checkbox" value="">
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Forex</td>
                                                                    <td>Mrs.Smith</td>
                                                                    <td>200</td>
                                                                    <td>100</td>
                                                                    <td>1</td>
                                                                    <td>4000</td>
                                                                    <td>40</td>
                                                                    <td>30%</td>
                                                                    <td>4.274</td>
                                                                    <td>1.282</td>
                                                                    <td>0.601</td>
                                                                    <td>6.15 </td>
                                                                    <td>59.72%</td>
                                                                    <td>
                                                                        <div class="i-checks">
                                                                            <label>
                                                                                <input type="checkbox" value="">
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total</td>
                                                                    <td><b>2</b></td>
                                                                    <td><b>300</b></td>
                                                                    <td><strong>150</strong></td>
                                                                    <td><strong>4</strong></td>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                    <td><strong>6.412</strong></td>
                                                                    <td><strong>1.496</strong></td>
                                                                    <td><strong>2.404</strong></td>
                                                                    <td><strong>10.312</strong></td>
                                                                    <td><strong>100%</strong></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>
                                                        <button class="btn btn-primary btn-xs float-left" type="submit">Submit</button>
                                                        <br>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div role="tabpanel" id="tab-2" class="tab-pane">
                                            <div class="row">
                                                <div class="col-md-8 top10">
                                                    <div class="col-md-4 pad0">
                                                        <div class="form-group">
                                                            <select class="input-control">
                                                                <option>Select Period</option>
                                                                <option>Period 8</option>
                                                                <option>Period 2</option>
                                                                <option>Period 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive top10">
                                                        <table id="example4" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th width="74">Market</th>
                                                                    <th width="126">Success Earning Rate</th>
                                                                    <th width="121">Bonus Max Rate</th>
                                                                    <th width="142">User Pinned Signal Rate</th>
                                                                    <th width="142">Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="earningMatrix">
                                                                @*<tr>
                                                                    <td>Forex</td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="8%"></td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="4%"></td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="3%"></td>
                                                                    <td>15%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Crypto</td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="8%"></td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="4%"></td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="3%"></td>
                                                                    <td>15%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Stock</td>
                                                                    <td class="text-navy"><input name="" type="text" class="input-control" placeholder="8%"></td>
                                                                    <td class="text-navy"><input name="" type="text" class="input-control" placeholder="4%"></td>
                                                                    <td><input name="" type="text" class="input-control" placeholder="3%"></td>
                                                                    <td>15%</td>
                                                                </tr>*@
                                                            </tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>
                                                        @*<button class="btn btn-primary btn-xs float-left" type="submit">Submit</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div role="tabpanel" id="tab-3" class="tab-pane">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox collapsed">
                                                        <div class="ibox-title whitetitle" style="padding-left:0;">
                                                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="col-md-4 pad0">
                                                                <div class="form-group">
                                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                                        <option>Search Name</option>
                                                                        <option>ABC</option>
                                                                        <option>XYZ</option>
                                                                        <option>PQR</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option>Select Period</option>
                                                                        <option>Period 1</option>
                                                                        <option>Period 2</option>
                                                                        <option>Period 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option>Select Market</option>
                                                                        <option>Forex</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                                        <option>Select Signal Provider</option>
                                                                        <option>Mr.Jack</option>
                                                                        <option>Mrs.Smith</option>
                                                                    </select>
                                                                </div>
                                                                <button class="btn btn-primary btn-xs" type="submit">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear:both;"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="ibox-title bluetitle">
                                                        <h5>Earnings Records - Period 1</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="example4" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="3"><div align="right" style="margin-top:-30px;">Revenue </div></th>
                                                            <th><button class="btn btn-default  dim " style="cursor:inherit;">80.15</button></th>
                                                            <th colspan="3"><div align="right" style="margin-top:-30px;">Total Earnings / Revenue </div></th>
                                                            <th><button class="btn btn-danger  dim " style="cursor:inherit;">12.87%</button></th>
                                                            <th><button class="btn btn-warning dim" style="cursor:inherit;" title="Max 8.00%">8.00%</button></th>
                                                            <th><button class="btn btn-primary dim" style="cursor:inherit;" title="Max 4.00%">1.87%</button></th>
                                                            <th><button class="btn btn-success dim" style="cursor:inherit;" title="Max 3.00%">3.00%</button></th>
                                                            <th><button class="btn btn-default  dim " style="cursor:inherit;">10.31</button></th>
                                                            <th><button class="btn btn-info  dim" style="cursor:inherit;">100%</button></th>
                                                        </tr>
                                                        <tr>
                                                            <th width="69">Market</th>
                                                            <th width="136">Signal Provider</th>
                                                            <th width="70">Count</th>
                                                            <th width="75">Success </th>
                                                            <th width="69">Pinned</th>
                                                            <th width="63">Total</th>
                                                            <th width="109">Avg Pips</th>
                                                            <th width="116">Bonus Rate</th>
                                                            <th width="158">Earnings- Success</th>
                                                            <th width="158">Earnings- Bonus</th>
                                                            <th width="123">Earnings- Pinned</th>
                                                            <th width="65">Total</th>
                                                            <th width="51"> %</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="EarningRecords">
                                                        @*<tr>
                                                            <td>Forex</td>
                                                            <td>Mr.Jack</td>
                                                            <td>100</td>
                                                            <td>50</td>
                                                            <td>3</td>
                                                            <td>750</td>
                                                            <td>15</td>
                                                            <td>10%</td>
                                                            <td> 2.137</td>
                                                            <td>0.213</td>
                                                            <td>1.80</td>
                                                            <td>4.15 </td>
                                                            <td>40.28% </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Forex</td>
                                                            <td>Mrs.Smith</td>
                                                            <td>200</td>
                                                            <td>100</td>
                                                            <td>1</td>
                                                            <td>4000</td>
                                                            <td>40</td>
                                                            <td>30%</td>
                                                            <td>4.274</td>
                                                            <td>1.282</td>
                                                            <td>0.601</td>
                                                            <td>6.15 </td>
                                                            <td>59.72%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td><b>2</b></td>
                                                            <td><b>300</b></td>
                                                            <td><strong>150</strong></td>
                                                            <td><strong>4</strong></td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td><strong>6.412</strong></td>
                                                            <td><strong>1.496</strong></td>
                                                            <td><strong>2.404</strong></td>
                                                            <td><strong>10.312</strong></td>
                                                            <td><strong>100%</strong></td>
                                                        </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                        <div style="clear:both;"></div>
                                        <div role="tabpanel" id="tab-4" class="tab-pane">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox collapsed">
                                                        <div class="ibox-title whitetitle" style="padding-left:0;">
                                                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="col-md-4  pad0">
                                                                <div class="form-group">
                                                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                                        <option>Search Name</option>
                                                                        <option>ABC</option>
                                                                        <option>XYZ</option>
                                                                        <option>PQR</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="" type="text" class="input-control" placeholder="Email">
                                                                </div>

                                                                <div class="form-group">
                                                                    <div id="data_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div id="data_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option value="1">Status</option>
                                                                        <option value="2">Pending</option>
                                                                        <option value="2">Completed</option>
                                                                    </select>
                                                                </div>


                                                                <div class="form-group">
                                                                    <select class="input-control">
                                                                        <option value="1">Type</option>
                                                                        <option value="2">Credit</option>
                                                                        <option value="2">Debit</option>
                                                                    </select>
                                                                </div>

                                                                <button class="btn btn-primary btn-xs" type="submit">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear:both;"></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12 pad0">
                                                        <div class="ibox">

                                                            <a class="collapse-link" href="">
                                                                <div class="ibox-title redtitle">
                                                                    <h5>Referrer Earnings</h5>
                                                                    <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                                                                </div>
                                                            </a>

                                                            <div class="ibox-content">
                                                                <div class="row">
                                                                    <div class="search-d">
                                                                        <div class="input-group">
                                                                            <input type="text" class="searchi">
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-primary btn-xs" type="button">
                                                                                    Submit
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 pad0">
                                                                    <div class="table-responsive">
                                                                        <table width="100%" class="table table-striped table-bordered" id="example1">

                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="30">ID</th>
                                                                                    <th width="203">Referrer Name</th>
                                                                                    <th width="203">Referrer Email</th>
                                                                                    <th width="203">Referral Name</th>
                                                                                    <th width="118">Referral Email</th>
                                                                                    <th width="96">Transaction </th>
                                                                                    <th width="87" title="Past">Earnings</th>
                                                                                    <th width="190" title="Past">Entry Date</th>
                                                                                    <th width="62" title="Past">Status</th>
                                                                                    <th width="69" title="Past">Type</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="referrerEarnings">
                                                                                @*<tr>
                                                                                    <td>#1</td>
                                                                                    <td>Jay Mehata</td>
                                                                                    <td>jay@gmail.com</td>
                                                                                    <td>Mahesh Kulkarni</td>
                                                                                    <td>mahk@gmail.com</td>
                                                                                    <td>$150</td>
                                                                                    <td>$70</td>
                                                                                    <td>6.30 am, 12-Dec-19</td>
                                                                                    <td>Pending</td>
                                                                                    <td>-</td>
                                                                                </tr>*@
                                                                            </tbody>
                                                                            <tfoot>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetEarningStatusList();
        function GetEarningStatusList() {

            $.ajax({
                url: '@Url.Action("GetEarningStatusList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var listViewRows = "";
                    for (var i = 0; i < str.length; i++) {
                        listViewRows += '<tr><td>' + 'Period ' + str[i].SignalPerformanceEarningsPeriodID + '</td>';
                        listViewRows += '<td>' + str[i].StartFrom + '</td>';
                        listViewRows += '<td>' + str[i].ValidTill + '</td>';
                        listViewRows += '<td>' + str[i].MarketName + '</td>';
                        if (str[i].StatusID == "1") {

                            listViewRows += '<td> <button type="button" class="btn btn-primary dim" style="cursor:inherit;width:75px">Calculate</button></td></tr>';
                        }
                        else {
                            listViewRows += '<td>' + 'Done' + '</td></tr>';
                        }
                    }
                    $("#listView").html(listViewRows);
                }
            });
        }
                    $scope.GetEarningMatrix = function()
                    {
                        var htmltxt = "";                        
                        $.ajax({
                            url: '@Url.Action("GetEarningRates", "Admin")',
                            type: "GET",
                            Response: ContentType = 'application/json',
                            data: {},
                            success: function (data) {
                                var str = JSON.parse(data);
                                var succesSum = 0.0;                                
                                for (var i = 0; i < str.length; i++)
                                {    
                                    succesSum = 0.0;
                                    htmltxt += '<tr><td>' + str[i].MarketName + ' </td >';
                                    succesSum = str[i].SuccessEarningsRate + str[i].AveragePipsPercentRate + str[i].TradersSignalsPinnedRate;    
                                    htmltxt += ' <td><input name="" type="text" class="input-control" placeholder="' + str[i].SuccessEarningsRate +'"></td>';
                                    htmltxt += ' <td><input name="" type="text" class="input-control" placeholder="' + str[i].AveragePipsPercentRate + '"></td>';
                                    htmltxt += ' <td><input name="" type="text" class="input-control" placeholder="'+ str[i].TradersSignalsPinnedRate + '"></td>';
                                    htmltxt += ' <td>'+succesSum+'</td></tr>';
                                }
                                $("#earningMatrix").html(htmltxt);
                             }
                        });
        }
         $scope.GetReffererEarning = function()
         {
             alert("Hii");
                        var htmltxt = "";                        
                        $.ajax({
                            url: '@Url.Action("GetReffererEarnings", "Admin")',
                            type: "GET",
                            Response: ContentType = 'application/json',
                            data: {},
                            success: function (data) {
                                var str = JSON.parse(data);                        
                                for (var i = 0; i < str.length; i++)
                                {    
                                    htmltxt += '<tr><td>' + str[i].ReferrerEarningToWalletID + ' </td >';                                   
                                    htmltxt += ' <td>' + str[i].ReferrerName + '</td>';
                                    htmltxt += ' <td>' + str[i].ReferrerEmail+'</td>';
                                    htmltxt += ' <td>' + str[i].TraderName+'</td>';
                                    htmltxt += ' <td>' + str[i].TraderEmail+'</td>';
                                    htmltxt += ' <td>' + str[i].TransactionAmount+'</td>';
                                    htmltxt += ' <td>' + str[i].EarnedAmount+'</td>';
                                    htmltxt += ' <td>' + str[i].EntryDate+'</td>';
                                    htmltxt += ' <td>' + str[i].PaymentStatus+'</td>';
                                    htmltxt += ' <td>' + str[i].PaymentType+'</td></tr>';                                  
                                }
                                $("#referrerEarnings").html(htmltxt);
                             }
                        });
        }
    $scope.GetSignalProviderRecords = function()
    {
        var htmltxt = "";                        
        $.ajax({
            url: '@Url.Action("GetAllSigProviderEarnigs", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                var str = JSON.parse(data);                        
                for (var i = 0; i < str.length; i++)
                {                    
                    htmltxt += '<tr><td>' + Forex+ ' </td >';                                   
                    htmltxt += ' <td>' + str[i].UserName + '</td>';
                    htmltxt += ' <td>' + 1 +'</td>';
                    htmltxt += ' <td>' + 0 +'</td>';
                    htmltxt += ' <td>' + 0 +'</td>';
                    htmltxt += ' <td>' + 0 +'</td>';
                    htmltxt += ' <td>' + 0 +'</td>';
                    htmltxt += ' <td>' + 0 +'</td>';
                    alert(str[i].PaymentStatus);
                    htmltxt += ' <td>' + str[i].PaymentStatus+ '</td>';
                    htmltxt += ' <td>' + str[i].BonusAmount+ '</td>';
                    htmltxt += ' <td>' + str[i].PinnedAmount + '</td>';
                    var total = str[i].PaymentStatus + str[i].BonusAmount + str[i].PinnedAmount;
                    htmltxt += ' <td>' + total + '</td>';
                    htmltxt += ' <td>' + 0 %+'</td></tr>';                                  
                }
                $("#EarningRecords").html(htmltxt);
                }
        });
    }
        

  });
</script>

 