﻿
@{
    ViewBag.Title = "LiveFeedDelayed";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Live Feed Delayed</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarket">
                                            <option value=""> select Market</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control" id="inst" ng-model="instru" ng-change="getInstTypes(instru)"
                                                ng-options="o.InstrumentID as o.InstrumentsName for o in getInstruements">
                                            <option value="">Select All Instrument</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control" id="ApiProvider" ng-model="ApiProvider" ng-change="selectedItemChanged(ApiProvider)"
                                                ng-options="o.LiveFeedSourceID as o.LiveFeedSourceName for o in getApiProvider">
                                            <option value="">Select API Provider</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SearchLiveFeedDelayed()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title redtitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    @Html.Hidden("Get", Url.Action("Get", "Admin"))
                                    <table id="tblLiveData" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="99">Market ID</th>
                                                <th width="118">Script ID</th>
                                                <th width="176">API (Live Feed)</th>
                                                <th width="154">Last Updated</th>
                                                <th width="86">Delay</th>
                                                <th width="171">Market Status</th>
                                                <th width="72">Bid</th>
                                                <th width="48">Ask</th>
                                                <th width="50">MId</th>
                                                <th width="312">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody id="liveDataFeed">
                                            @*<tr>
                                                    <td>Forex</td>
                                                    <td>USD/JPY</td>
                                                    <td>True FX</td>
                                                    <td>
                                                        <div class="btn-success">
                                                            <center>
                                                                2:15pm, 16-Jan-20
                                                            </center>
                                                        </div>
                                                    </td>
                                                    <td><div class="btn-danger">10 min</div></td>
                                                    <td>ON</td>
                                                    <td>10.92</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Forex</td>
                                                    <td>EUR.USD</td>
                                                    <td>True FX</td>
                                                    <td>
                                                        <div class="btn-success">
                                                            <center>
                                                                4:00pm, 17-Jan-20
                                                            </center>
                                                        </div>
                                                    </td>
                                                    <td>-</td>
                                                    <td>OFF</td>
                                                    <td>09.25</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>*@
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {

      //  getLiveData();
        //  getLiveDataFeed();
        $scope.SearchLiveFeedDelayed=function()
        {
            var marketid = $scope.marketID;
            var instrumentid = $scope.instru;
            var selectElem = document.getElementById("ApiProvider");
            var sourcename = selectElem.options[selectElem.selectedIndex].text;
            var marketstatusid = $scope.StatusID;
            $.ajax({
                url: '@Url.Action("GetLiveDataFeed", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { MarketID:marketid, InstrumentId:instrumentid, SourceName:sourcename, MarketStatusId:marketstatusid },
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        var pricebid = str[i].PriceBid.toFixed(str[i].DecimalCount);
                        var priceask = str[i].PriceAsk.toFixed(str[i].DecimalCount);
                        var pricemid = str[i].PriceMid.toFixed(str[i].DecimalCount);
                        var date = new Date(str[i].EntryDate);
                        var dd = date.getDate();
                        var mm = date.getMonth() + 1; //January is 0!
                        var yyyy = date.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd
                        }
                        if (mm < 10) {
                            mm = '0' + mm
                        }
                        date = yyyy + '-' + mm + '-' + dd;
                        // alert('pricemid' + pricemid);
                        htmlStr += '<tr><td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].InstrumentName + '</td> <td>' + str[i].LiveFeedSourceName + '</td>';
                        htmlStr += '<td><div class="btn-success"><center>' + date + '</center></div></td>';
                        htmlStr += '<td><div class="btn-danger">' + str[i].DelayTime + '</div></td>';
                        htmlStr += '<td>' + str[i].LiveFeed + '</td><td>' + pricebid + '</td><td>' + priceask + '</td>';
                        htmlStr += '<td>' + pricemid + '</td><td>&nbsp;</td></tr>';
                    }
                    $("#liveDataFeed").html(htmlStr);
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                }
            });

        }
        getMarketList();
        getApiProvider();
        getStatusData();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getApiProvider()
        {
            $.ajax({
                url: '@Url.Action("GetApiProviderList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getApiProvider = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });

        }
        function getMarketList() {
            $.ajax({
                url: '@Url.Action("GetMarketList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarket = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        $scope.selectedItemChanged = function ($scope) {
            getInstrumentData();
        }
        function getInstrumentData() {
            var marketId = $scope.marketID;
            $.ajax({
                url: '@Url.Action("GetInstrumentList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { marketId: marketId },
                success: function (data) {
                    $scope.getInstruements = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("Error" + data);
                }

            });
        }
        function getLiveData() {
            $.ajax({
                url: '@Url.Action("GetLiveData", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                }
            });
        }
        Date.shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

function short_months(dt)
   {
     return Date.shortMonths[dt.getMonth()];
   }
       function getLiveDataFeed()
        {
            $.ajax({
                url: '@Url.Action("GetLiveDataFeed", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        var pricebid = str[i].PriceBid.toFixed(str[i].DecimalCount);
                        var priceask = str[i].PriceAsk.toFixed(str[i].DecimalCount);
                        var pricemid = str[i].PriceMid.toFixed(str[i].DecimalCount);
                        var date = new Date(str[i].EntryDate);
                        var dd = date.getDate();
                        var mm = date.getMonth() + 1; //January is 0!
                        var yyyy = date.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd
                        }
                        if (mm < 10) {
                            mm = '0' + mm
                        }
                        date = yyyy + '-' + mm + '-' + dd;
                       // alert('pricemid' + pricemid);
                        htmlStr += '<tr><td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].InstrumentName + '</td> <td>' + str[i].LiveFeedSourceName + '</td>';
                        htmlStr += '<td><div class="btn-success"><center>' + date + '</center></div></td>';
                        htmlStr += '<td><div class="btn-danger">' + str[i].DelayTime + '</div></td>';
                        htmlStr += '<td>' + str[i].LiveFeed + '</td><td>' + pricebid + '</td><td>' + priceask + '</td>';
                        htmlStr += '<td>' + pricemid + '</td><td>&nbsp;</td></tr>';
                    }
                    $("#liveDataFeed").html(htmlStr);
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                }
            });
        }
    });
</script>




