﻿
@{
    ViewBag.Title = "MonitoringMarket";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Markets</h5>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-md-12  pad0">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="input-control">
                                            <option>Select Market</option>
                                            <option>Forex</option>
                                            <option>Crypto</option>
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <a class="collapse-link" href="">
            <div class="ibox-title redtitle">
                <h5></h5>
                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
            </div>
        </a>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8sec">
                            <div class="text-center" style="padding:5px; background:#f7f7ef; border:1px solid #e4e484;">
                                <br>
                                <h4 class="font-bold mb-0">Active</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <div class="text-center btn-default" style="padding:5px;">
                                <br>
                                <h4 class="font-bold mb-0">50</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="blue-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 20</h4></td>
                                </tr>
                                <tr class="lazur-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 30</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 14</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 30</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> +200</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> +300</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8sec">
                            <div class="text-center" style="padding:5px; background:#effafe; border:1px solid #b0e2f5;">
                                <br>
                                <h4 class="font-bold mb-0">Live</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <div class="text-center btn-default" style="padding:5px;">
                                <br>
                                <h4 class="font-bold mb-0">100</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="blue-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 60</h4></td>
                                </tr>
                                <tr class="lazur-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 40</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 43</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 57</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td width="47%" height="35" style="border-right:1px solid #FFFFFF;"><h4 align="center">40</h4></td>
                                    <td width="53%"><h4 align="center">200</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td height="36" style="border-right:1px solid #FFFFFF;"><h4 align="center">50</h4></td>
                                    <td><h4 align="center">400</h4></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td width="47%" height="35" style="border-right:1px solid #FFFFFF;"><h4 align="center" class="text-dark">3</h4></td>
                                    <td width="53%"><h4 align="center" class="text-dark">-53</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td height="36" style="border-right:1px solid #FFFFFF;"><h4 align="center" class="text-dark">7</h4></td>
                                    <td><h4 align="center" class="text-dark">-40</h4></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8sec">
                            <div class="text-center" style="padding:5px; background:#fdeef5; border:1px solid #efc3c7;">
                                <br>
                                <h4 class="font-bold mb-0">Closed</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <div class="text-center btn-default" style="padding:5px;">
                                <br>
                                <h4 class="font-bold mb-0">30</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="blue-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 20</h4></td>
                                </tr>
                                <tr class="lazur-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 10</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 12</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 18</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td width="47%" height="35" style="border-right:1px solid #FFFFFF;"><h4 align="center">10</h4></td>
                                    <td width="53%"><h4 align="center">400</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td height="36" style="border-right:1px solid #FFFFFF;"><h4 align="center">12</h4></td>
                                    <td><h4 align="center">200</h4></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td width="47%" height="35" style="border-right:1px solid #FFFFFF;"><h4 align="center" class="text-dark">2</h4></td>
                                    <td width="53%"><h4 align="center" class="text-dark">-41</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td height="36" style="border-right:1px solid #FFFFFF;"><h4 align="center" class="text-dark">6</h4></td>
                                    <td><h4 align="center" class="text-dark">-100</h4></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8sec">
                            <div class="text-center" style="padding:5px; background:#f8d7da; border:1px solid #ecadb3;">
                                <br>
                                <h4 class="font-bold mb-0">Abandoned</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <div class="text-center btn-default" style="padding:5px;">
                                <br>
                                <h4 class="font-bold mb-0">10</h4>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="blue-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 6</h4></td>
                                </tr>
                                <tr class="lazur-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 4</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8sec">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 3</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> 7</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table width="100%" border="0">
                                <tr class="navy-bg">
                                    <td><h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> +40</h4></td>
                                </tr>
                                <tr class="red-bg">
                                    <td>
                                        <div align="center">
                                            <h4 align="center" class="font-bold mb-0" style="padding:5px 0;"> +20</h4>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table width="100%" border="0">
                            <tr>
                                <td width="1%"><div style="width:8px; height:8px;" class="blue-bg"></div></td>
                                <td width="4%">Count</td>
                                <td width="1%" bgcolor="#FFFFFF"><div style="width:8px; height:8px;" class="lazur-bg"></div></td>
                                <td width="5%">Current</td>
                                <td width="1%"><div style="width:8px; height:8px;" class="navy-bg"></div></td>
                                <td width="3%">Buy</td>
                                <td width="1%"><div style="width:8px; height:8px;" class="red-bg"></div></td>
                                <td width="84%">Sell</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
