﻿
@{
    ViewBag.Title = "MonitoringUser";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Users</h5>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Role Wise</option>
                                        <option>Trader</option>
                                        <option>Signal Provider</option>
                                        <option>Referrer</option>
                                        <option>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <a class="collapse-link" href="">
            <div class="ibox-title redtitle">
                <h5>User Logs Related</h5>
                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
            </div>
        </a>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="text-center" style="padding:1.9px; background:#f7f7ef; border:1px solid #e4e484;">
                                        <br>
                                        <h4 class="font-bold mb-0">Trader</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <table width="100%" border="0">
                                        <tbody>
                                            <tr class="navy-bg">
                                                <td><h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 120</h4></td>
                                            </tr>
                                            <tr class="yellow-bg">
                                                <td>
                                                    <div align="center">
                                                        <h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 119</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center blue-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>24</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center lazur-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>46</h4>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top10">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="text-center" style="padding:12.6px 2.6px; background:#effafe; border:1px solid #b0e2f5;">
                                        <h4 class="font-bold mb-0">
                                            Signal <br>
                                            Provider
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <table width="100%" border="0">
                                        <tbody>
                                            <tr class="navy-bg">
                                                <td><h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 12</h4></td>
                                            </tr>
                                            <tr class="yellow-bg">
                                                <td>
                                                    <div align="center">
                                                        <h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 10</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center blue-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>2</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center lazur-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>4</h4>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top10">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="text-center" style="padding:2.6px; background:#fdeef5; border:1px solid #efc3c7;">
                                        <br>
                                        <h4 class="font-bold mb-0">Referrer</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <table width="100%" border="0">
                                        <tbody>
                                            <tr class="navy-bg">
                                                <td><h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 6</h4></td>
                                            </tr>
                                            <tr class="yellow-bg">
                                                <td>
                                                    <div align="center">
                                                        <h4 align="center" class="font-bold mb-0" style="padding:3.9px 0;"> 75</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center blue-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>45</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center lazur-bg" style="padding:2.9px 0;">
                                        <br>
                                        <h4>21</h4>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top20">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table width="100%" border="0">
                                    <tr>
                                        <td width="1%"><div style="width:8px; height:8px; background:#1ab394;"></div></td>
                                        <td width="29%">Cumulative Registered</td>
                                        <td width="1%" bgcolor="#FFFFFF"><div style="width:8px; height:8px; background:#f8ac59;"></div></td>
                                        <td width="23%">Cumulative Login</td>
                                        <td width="2%"><div style="width:8px; height:8px; background:#1c84c6;"></div></td>
                                        <td width="14%">Registered</td>
                                        <td width="1%"><div style="width:8px; height:8px; background:#23c6c8;"></div></td>
                                        <td width="29%">Login</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">Note: We will do it in development stage <img src="../img/map.jpg" class="img-responsive"> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title greentitle">
                    <h5>Plan Related (Existing Users)</h5>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Market</option>
                                        <option>Forex</option>
                                        <option>Crypto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Role Wise</option>
                                        <option>Trader</option>
                                        <option>Signal Provider</option>
                                        <option>Referrer</option>
                                        <option>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5>Trader</h5>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table width="2000px" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="8%"><div align="center"></div></th>
                                                            <th>&nbsp;</th>
                                                            <th colspan="4" style="border:2px solid #009900;"><div align="center">Standard</div></th>
                                                            <th colspan="4" style="border:2px solid #009900;"><div align="center">Premium</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="navy-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">9</h4></td>
                                                                        </tr>
                                                                        <tr style="background:#999999; color:#FFFFFF;">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0"> 26</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="lazur-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Free</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">10</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="8%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Monthly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">2</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="9%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Quarterly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">4</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="13%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Half Yearly </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">1</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="9%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Yearly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">1</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Monthly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">1</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Quarterly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">2</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="13%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Half Yearly </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">3</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="9%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Yearly</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">4</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title bluetitle">
                        <h5>Signal Provider</h5>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="table-responsive">
                                                <table width="96%" class="table">
                                                    <thead>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td width="16%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="navy-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                        </tr>
                                                                        <tr style="background:#999999; color:#FFFFFF;">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">28</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="19%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="lazur-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Empanelment</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">21</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="18%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Smart 1 </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">2</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="17%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Smart 2 </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">4</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="30%">
                                                                <table width="53%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Smart 3 </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">1</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title redtitle">
                        <h5>Referrer</h5>

                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="table-responsive">
                                                <table width="96%" class="table">
                                                    <thead>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td width="16%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="navy-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr style="background:#999999; color:#FFFFFF;">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">81</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="19%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Platinum 1 </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">21</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="18%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Platinum 2 </h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">20</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="17%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Platinum 3</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">20</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="30%">
                                                                <table width="53%" border="0">
                                                                    <tbody>
                                                                        <tr class="blue-bg">
                                                                            <td style="padding:1px 0 4px 0;"><h4 align="center" class="font-bold mb-0">Platinum 4</h4></td>
                                                                        </tr>
                                                                        <tr class="yellow-bg">
                                                                            <td style="padding:1px 0 4px 0;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">21</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table width="100%" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1%"><div style="width:8px; height:8px; background:#1ab394;"></div></td>
                                                            <td width="8%">No of Plans</td>
                                                            <td width="1%" bgcolor="#FFFFFF"><div style="width:8px; height:8px; background:#999999;"></div></td>
                                                            <td width="13%">No as per Role Wise</td>
                                                            <td width="1%"><div style="width:8px; height:8px; background:#1c84c6;"></div></td>
                                                            <td width="5%">Plan</td>
                                                            <td width="1%"><div style="width:8px; height:8px; background:#f8ac59;"></div></td>
                                                            <td width="70%">Count</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


