﻿
@{
    ViewBag.Title = "PlanRenewal";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Plan Renewal</h5>
                    <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-md-4  pad0">
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Search Name</option>
                                    <option>Abc</option>
                                    <option>Pqr</option>
                                    <option>Xyz</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Select Role ID</option>
                                    <option>Trader</option>
                                    <option>Signal Provider</option>
                                    <option>Referrer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Select Plan Name</option>
                                    <option>Plan 1</option>
                                    <option>Plan 2</option>
                                    <option>Plan 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                        <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                        <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Plan ID Status</option>
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Payment Status</option>
                                    <option>Success</option>
                                    <option>Fail</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-xs" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title redtitle">
                    <h5>Plan Renewals - Due</h5>
                    <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="col-md-12 pad0">
                                    <div class="table-responsive">
                                        <table id="example1" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="43">ID.</th>
                                                    <th width="114">Invoice</th>
                                                    <th width="121">User</th>
                                                    <th width="248">Role</th>
                                                    <th width="114">Country</th>
                                                    <th width="114">Plan </th>
                                                    <th width="162">Valid From</th>
                                                    <th width="559">Valid To</th>
                                                    <th width="25"> Status</th>
                                                    <th width="24">Amount</th>
                                                    <th width="24">Source</th>
                                                    <th width="24">Payment </th>
                                                    <th width="24">Current </th>
                                                    <th width="24">Expiry</th>
                                                    <th width="24">M1</th>
                                                    <th width="24">M2</th>
                                                    <th width="24">M3</th>
                                                    <th width="24">M4</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td><a href="#" data-toggle="modal" data-target="#iddetails">2</a></td>
                                                    <td><a href="../trader/tr-invoice.pdf" target="_blank">SP03</a></td>
                                                    <td>xyz</td>
                                                    <td class="center">Signal Provider</td>
                                                    <td>USA</td>
                                                    <td>Plan 2</td>
                                                    <td class="center">1-Apr-19</td>
                                                    <td class="center">30-Dec-19</td>
                                                    <td class="center">Active</td>
                                                    <td class="center">$600</td>
                                                    <td class="center">Bank</td>
                                                    <td class="center">Success</td>
                                                    <td class="center">Filled</td>
                                                    <td class="center">-3</td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><a href="../trader/tr-invoice.pdf" target="_blank">RE02</a></td>
                                                    <td>pqr</td>
                                                    <td class="center">Referrer</td>
                                                    <td>UK</td>
                                                    <td>Plan 3</td>
                                                    <td class="center">30-Apr-19</td>
                                                    <td class="center">30-Dec-19</td>
                                                    <td class="center">Active</td>
                                                    <td class="center">$300</td>
                                                    <td class="center">Bank</td>
                                                    <td class="center">Success</td>
                                                    <td class="center">Filled</td>
                                                    <td class="center">+3</td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top5 pad0">
                                <button class="btn btn-xs btn-primary float-right" type="submit">Send Messages</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title greentitle">
                    <h5>Renewed Plans</h5>
                    <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="col-md-12 pad0">
                                    <div class="table-responsive">
                                        <table id="example1" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="39">ID.</th>
                                                    <th width="79">Invoice</th>
                                                    <th width="73">User</th>
                                                    <th width="120">Role</th>
                                                    <th width="82">Country</th>
                                                    <th width="71">Plan </th>
                                                    <th width="162">Valid From</th>
                                                    <th width="143">Valid To</th>
                                                    <th width="57"> Status</th>
                                                    <th width="60">Amount</th>
                                                    <th width="57">Source</th>
                                                    <th width="69">Payment </th>
                                                    <th width="69">Current </th>
                                                    <th width="51">Expiry</th>
                                                    <th width="37">M1</th>
                                                    <th width="37">M2</th>
                                                    <th width="37">M3</th>
                                                    <th width="41">M4</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#" data-toggle="modal" data-target="#iddetails">1</a></td>
                                                    <td><a href="../trader/tr-invoice.pdf" target="_blank">TR02</a></td>
                                                    <td>abc</td>
                                                    <td class="center">Trader</td>
                                                    <td>India</td>
                                                    <td>Plan 1</td>
                                                    <td class="center">1-Nov-19</td>
                                                    <td class="center">1-Dec-19</td>
                                                    <td class="center">Inactive</td>
                                                    <td class="center">$100</td>
                                                    <td class="center">Bank</td>
                                                    <td class="center">Success</td>
                                                    <td class="center">Renewed</td>
                                                    <td class="center">-</td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" checked disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <div class="i-checks">
                                                            <input type="checkbox" value="" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

