﻿
    <section class="content" ng-app="app" ng-controller="mycontrol">
        <form name="PersonalDetails">
            <div class="wrapper wrapper-content">
                <div class="row">
                    @*<div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title yellowtitle">
                                <h5>Documents</h5>
                                <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="ibox">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img src="" class="img-responsive">
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Photo</label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="photo" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img src="" width="201" height="128" class="img-responsive">
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">My Profile </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input id="profile" type="file" ng-model="profile" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),ax: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img src="" width="201" height="128" class="img-responsive">
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Identity proof </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="idProf" ng-model="idProf" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img src="../img/nodocument.png" width="201" height="128" class="img-responsive">
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Address proof </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="addProf"  ng-model="addProf" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="row top5">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-normal">Bank Details</label>
                                                        <textarea id="bankDetails" mg-model="bankDetails"  cols="10" rows="5" class="input-control" title="Name of the BankBank LocationAccount NumberName as per Account DetailsType of Account: CA/SA"></textarea>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img src="../img/nodocument.png" width="201" height="128" class="img-responsive">
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Bank statements </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="bankStatement" ng-model="bankStatement" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="form-group">
                                    <div class="col-md-12 pad0">
                                        <div>
                                            <button class="btn btn-sm btn-primary" type="submit" ng-click=upload()>Upload</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title yellowtitle">
                                <h5>Documents</h5>
                                <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a></div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="ibox">
                                        <div class="alert alert-primary" role="alert">
                                            <label id="adminComment"></label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img id="docPic" src="" width="100" height="80" class="img-responsive">
                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Photo</label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="photo" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img src="" width="100" height="80" class="img-responsive" id="docImgProfile">

                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">My Profile </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input id="profile" type="file" ng-model="profile" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),ax: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4" id="">
                                                            <img id="docidprof" src="" width="100" height="80" class="img-responsive">

                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Identity proof </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="idProf" ng-model="idProf" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img id="docaddprof" src="" width="100" height="80" class="img-responsive">

                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Address proof </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="addProf" ng-model="addProf" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="row top5">
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label class="font-normal">Bank Details</label>
                                                        <textarea type="text" id="bankDetails" ng-model="docBankDetails" cols="10" rows="5" class="input-control" placeholder="Bank Details" disabled></textarea>

                                                        <p></p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-6">
                                                    <div class="row top5">
                                                        <div class="col-md-4">
                                                            <img id="docbankstatement" src="" width="100" height="80" class="img-responsive">

                                                            <button type="button" class="btn btn-primary btn-xs top5" title="View"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                        <div class="col-md-8" style="border-left:1px solid #CCCCCC;">
                                                            <label class="font-normal">Bank statements </label>
                                                            <div style="clear:both;"></div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <span class="btn bt-choosefile btn-file">
                                                                    <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                    <input type="file" id="bankStatement" ng-model="bankStatement" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                            <div style="clear:both;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="form-group">
                                    <div class="col-md-12 pad0">
                                        <div>
                                            <button class="btn btn-sm btn-primary" type="submit" ng-click=upload()>Upload</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-12 pad0">
                                        <div>
                                            <button class="btn btn-sm btn-primary" type="submit" ng-click="UploadDoc()">Upload</button>
                                            <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-remove"></i>&nbsp;Remove</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>